[2021-06-24 10:56] pacospace opened #4 "No resolution engine was able to solve stack."
**Describe the bug**
No resolution engine was able to solve stack.

**To Reproduce**
Steps to reproduce the behavior:
1. Use jupyterlab-requirements with stack below

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**

**Environment information**
Describe the environment from where you are using the extension:
 - jupyterlab version: >=3.*
 - jupy

[2021-07-02 12:53] MichaelClifford opened #1 "Shesheta not merging approved PR"
This PR has been approved for +16 hours, but Shesheta as not merged it. help! :fearful:

https://github.com/aicoe-aiops/ocp-ci-analysis/pull/289#issuecomment-872545802

[2021-07-02 12:55] pacospace commented on #1
Thanks @MichaelClifford for opening this issue, it should prow tide in charge of merging, but for some reason prow is a bit slow. We will investigate on this cc @harshad16 @goern @tumido

[2021-07-02 16:22] goern commented on #1
Hmm if you click on the "tide details" link on the status section
![image](https://user-images.githubusercontent.com/260331/124303174-6902c800-db62-11eb-9bf6-355f4c909582.png)

and have a look at it https://prow.operate-first.cloud/pr?query=is%3Apr+repo%3Aaicoe-aiops%2Focp-ci-analysis+author%3Aamsaparov+head%3Amaster

it simply says "do-not-merge/hold"

[2021-07-02 16:38] MichaelClifford commented on #1
:+1:

[2021-07-02 16:38] #1 closed

[2021-07-05 08:36] goern opened #2 "gateway timeout"
**Describe the bug**
I just received:
[code]
which I have seen from time to time on https://triage-party.thoth-station.ninja/s/daily without any pattern.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://triage-party.thoth-station.ninja/s/daily?player=0&players=1
2. see it happen or not :/

**Expected behavior**
no 504 ever ;)

**Screenshots**
n/a

**Additional context**
none.

/

[2021-07-05 08:36] sesheta commented on #2
@goern: This issue is currently awaiting triage.
One of the @thoth-station/devs will take care of the issue, and will accept the issue by applying the
`triage/accepted` label and provide further guidance.

The `triage/accepted` label can be added by org members by writing `/triage accepted` in a comment.

<details>

Instructions for interacting with me using PR comments are available [here](https:

[2021-07-05 08:36] goern commented on #2
/triage accepted

[2021-07-05 11:28] pacospace opened #3 "Cannot find s2i-lab-elyra custom notebook source"
**Describe the bug**
Cannot find source of the image: https://quay.io/repository/thoth-station/s2i-elyra-custom-notebook?tab=info

**To Reproduce**

**Expected behavior**
Repo for tracking build of this image.

**Screenshots**

**Additional context**

[2021-07-05 11:28] sesheta commented on #3
@pacospace: This issue is currently awaiting triage.
One of the @thoth-station/devs will take care of the issue, and will accept the issue by applying the
`triage/accepted` label and provide further guidance.

The `triage/accepted` label can be added by org members by writing `/triage accepted` in a comment.

<details>

Instructions for interacting with me using PR comments are available [here](ht

[2021-07-05 11:41] sesheta commented on #4
@pacospace: This issue is currently awaiting triage.
One of the @thoth-station/devs will take care of the issue, and will accept the issue by applying the
`triage/accepted` label and provide further guidance.

The `triage/accepted` label can be added by org members by writing `/triage accepted` in a comment.

<details>

Instructions for interacting with me using PR comments are available [here](ht

[2021-07-05 18:28] goern commented on #3
Even https://github.com/thoth-station/support/search?q=s2i-elyra-custom-notebook doesnt yield a good result

/triage accepted
/kind question

[2021-07-06 15:23] harshad16 commented on #3
let me take this , will provide the source soon

[2021-07-07 13:26] #3 closed

[2021-07-08 13:25] pacospace opened #5 "import plotly fails with Requests dependency 'urllib3' must be version >= 1.21.1, < 1.22! after thamos advise"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. thamos advise for
[code]
adviser id: adviser-210708125600-14726dc7e3be

Stack was provided successfully: https://gist.github.com/pacospace/146b289cff4f5ad6bdc10c7be6ed9f01

**Expected behavior**
`import plotly` works successfully,

It requires a new prescription Sieve prob

[2021-07-08 13:26] sesheta commented on #5
@pacospace: This issue is currently awaiting triage.
One of the @thoth-station/devs will take care of the issue, and will accept the issue by applying the
`triage/accepted` label and provide further guidance.

The `triage/accepted` label can be added by org members by writing `/triage accepted` in a comment.

<details>

Instructions for interacting with me using PR comments are available [here](ht

[2021-07-08 17:49] goern commented on #4
/priority important-longterm
/kind question
/triage accepted

[2021-07-08 18:11] goern commented on #5
/area prescription
/priority important-soon
/triage accepted

[2021-07-08 18:11] sesheta commented on #5
@goern: The label(s) `area/prescription` cannot be applied, because the repository doesn't have them.

<details>

In response to [this](https://github.com/thoth-station/support/issues/5#issuecomment-876642489):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related

[2021-07-17 13:15] goern opened #6 "desriptions are missing"
**Describe the bug**
most of the container images at https://quay.io/organization/thoth-station are missing a good description.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'https://quay.io/organization/thoth-station'
2. Click on 's2i-minimal-notebook'
3. See problem

**Expected behavior**
a more meaningful description is available

Cc: @riekrh

[2021-07-17 13:15] sesheta commented on #6
@goern: This issue is currently awaiting triage.
One of the @thoth-station/devs will take care of the issue, and will accept the issue by applying the
`triage/accepted` label and provide further guidance.

The `triage/accepted` label can be added by org members by writing `/triage accepted` in a comment.

<details>

Instructions for interacting with me using PR comments are available [here](https:

[2021-07-17 17:02] goern commented on #6
/triage accepted
/priority important-soon
/kind feature
/remove-kind bug

[2021-08-01 09:08] goern opened #7 "status.t-s.n cert expored"
**Describe the bug**
https://status.thoth-station.ninja/ presents an expired certificate

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://status.thoth-station.ninja/
3. See error

[2021-08-01 09:09] sesheta commented on #7
@goern: This issue is currently awaiting triage.
One of the @thoth-station/devs will take care of the issue, and will accept the issue by applying the
`triage/accepted` label and provide further guidance.

The `triage/accepted` label can be added by org members by writing `/triage accepted` in a comment.

<details>

Instructions for interacting with me using PR comments are available [here](https:

[2021-08-04 11:13] sesheta commented on #2
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2021-08-04 11:14] #2 closed

[2021-08-04 11:14] sesheta commented on #2
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/support/issues/2#issuecomment-892573101):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-infra

[2021-08-07 20:16] sesheta commented on #4
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2021-08-07 23:13] sesheta commented on #5
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2021-08-07 23:13] sesheta commented on #5
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/support/issues/5#issuecomment-894716934):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-infra

[2021-08-11 16:54] harshad16 commented on #7
This has been updated a long time ago
forgot to close this , my apologies

[2021-08-11 16:54] #7 closed

[2021-08-11 18:50] fridex commented on #5
This is strange as requests state version range requirements on `urllib3<1.22,>=1.21.1` as reported in the traceback. I wonder how this resolution ended with the specified urllib3.

Locally, I cannot reproduce this, will wait until the zero cluster is up again. A reproducer for this should be `Pipfile` stating (which should fail to resolve given versions pinned):

[code]

[2021-08-13 09:15] goern opened #8 "compare errors and locked stack of notebooks"
**Describe the bug**
see https://issues.redhat.com/browse/RHODS-1676 for details. Let's see what the stack differences are, and if we can add out tooling to https://github.com/lugi0/notebook-benchmarks/blob/master/tensorflow/TensorFlow-MNIST-Minimal.ipynb

**To Reproduce**
Steps to reproduce the behavior:
1. check https://issues.redhat.com/browse/RHODS-1676

**Additional context**
looks like the m

[2021-08-13 09:15] sesheta commented on #8
@goern: This issue is currently awaiting triage.
One of the @thoth-station/devs will take care of the issue, and will accept the issue by applying the
`triage/accepted` label and provide further guidance.

The `triage/accepted` label can be added by org members by writing `/triage accepted` in a comment.

<details>

Instructions for interacting with me using PR comments are available [here](https:

[2021-08-16 07:31] harshad16 commented on #8
/triage accepted
/lifecycle frozen

[2021-08-16 08:23] fridex opened #9 "Some packages are not located correctly in package listing on package index"
**Describe the bug**

Based on the package-update logs:

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://tensorflow.pypi.thoth-station.ninja/index/manylinux2010/AVX2/simple/tensorflow/
2. See packages that are not `tensorflow` but are listed under `tensorflow`

**Expected behavior**

TensorFlow packages should respect simple repository API listing.

**Additional context*

[2021-08-16 08:23] sesheta commented on #9
@fridex: This issue is currently awaiting triage.
One of the @thoth-station/devs will take care of the issue, and will accept the issue by applying the
`triage/accepted` label and provide further guidance.

The `triage/accepted` label can be added by org members by writing `/triage accepted` in a comment.

<details>

Instructions for interacting with me using PR comments are available [here](https

[2021-08-17 13:25] goern commented on #9
/close

[2021-08-17 13:25] #9 closed

[2021-08-17 13:25] sesheta commented on #9
@goern: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/support/issues/9#issuecomment-900296687):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-infra](

[2021-08-18 14:44] erikerlandson opened #10 "remove unused-but-failing steps from pipelines"
**Is your feature request related to a problem? Please describe.**
As an AICOE-CI user, it is confusing to look up my aicoe-ci pipelines in the tekton dash and see many failed steps, that are unused and do not impact the "true" success of the pipeline.  It makes it difficult to understand when a real failure has happened.

**High-level Goals**
- Clean up pipelines so that only relevant steps are e

[2021-08-18 14:58] sesheta commented on #10
@erikerlandson: This issue is currently awaiting triage.
One of the @thoth-station/devs will take care of the issue, and will accept the issue by applying the
`triage/accepted` label and provide further guidance.

The `triage/accepted` label can be added by org members by writing `/triage accepted` in a comment.

<details>

Instructions for interacting with me using PR comments are available [here

[2021-08-18 15:42] fridex opened #11 "Some packages fail to be solved using solver-rhel-8-py38"
**Describe the bug**

See stage environment - the metric for unsolved packages keeps on ~130 package releases for some time. Checking the namespace, some packages fail to be solved using the solver-rhel-8-py38 in the given time and this solving never succeeds.

Packages that might be affected:

[code]

Note not all the packages might be causing troubles as I saw package-releases job run in paralle

[2021-08-18 15:43] sesheta commented on #11
@fridex: This issue is currently awaiting triage.
One of the @thoth-station/devs will take care of the issue, and will accept the issue by applying the
`triage/accepted` label and provide further guidance.

The `triage/accepted` label can be added by org members by writing `/triage accepted` in a comment.

<details>

Instructions for interacting with me using PR comments are available [here](https

[2021-08-18 15:47] fridex commented on #11
Briefly checking the releases (checked grpcio-tools and spacy)- the issue behind timeout might be a need to compile these packages as they do not provide pre-built wheel binaries for Python 3.8. Given the hardware resources and CPU time allocated, the build in solver workflow never succeeds and thus the workflow task timeouts.

[2021-08-18 15:51] erikerlandson commented on #11
xref https://github.com/AICoE/aicoe-ci/issues/130 for tunable build resource allocations

[2021-08-18 15:54] fridex commented on #11
This one is related to solver jobs we run to aggregate dependency information for resolver. Resources are part of the corresponding solver Argo workflow task in this case:

https://github.com/thoth-station/thoth-application/blob/3bfb721f99324788173a697decfce0794c030945/solver/base/argo-workflows/solver-template.yaml#L115-L121

[2021-08-19 05:59] goern commented on #10
/kind feature

[2021-08-19 06:02] goern commented on #11
Shall we create a re-build pipeline that will do the compilation and publish to our own PI?

[2021-08-19 06:02] goern commented on #11
/priority important-soon
/area solver

[2021-08-19 06:04] fridex commented on #11
Good idea for the future - we could do it for the selected set of packages that Thoth users use.

[2021-08-19 08:29] pacospace opened #12 "adviser fails with server closed the connection unexpectedly"
**Describe the bug**
adviser fails with server closed the connection unexpectedly.

**To Reproduce**
Steps to reproduce the behavior:
1. `pip install thamos`
2. Clone https://github.com/thoth-station/ps-cv
3. Run `thamos advise -r ps-cv-tensorflow` from root and wait for advise

**Expected behavior**
adviser delivers recommendation.

**Screenshots**
[code]

**Additional context**
check `thamos log

[2021-08-19 08:29] sesheta commented on #12
@pacospace: This issue is currently awaiting triage.
One of the @thoth-station/devs will take care of the issue, and will accept the issue by applying the
`triage/accepted` label and provide further guidance.

The `triage/accepted` label can be added by org members by writing `/triage accepted` in a comment.

<details>

Instructions for interacting with me using PR comments are available [here](ht

[2021-08-19 08:32] fridex commented on #12
Looks like a networking issue in the cluster.

[2021-08-19 08:33] pacospace commented on #12
But I tried three times already, the resolution is working and then it simply exits, can we do something about it?

[2021-08-19 08:34] pacospace commented on #12
Is it some query taking too much time?

[2021-08-19 08:51] fridex commented on #12
It looks like connection issues to the database:

`2021-08-19 08:46:39.913 UTC [11] WARNING C-0x16ffc88: thoth/userD7A@10.131.0.50:60490 pooler error: pgbouncer cannot connect to server`

We saw this before on moc, this was a networking issue in the cluster.

CC @harshad16

[2021-08-19 08:53] pacospace commented on #12
Thanks!!

With smaller stacks I'm able to receive an advise

[2021-08-19 08:55] fridex commented on #12
Might be some network hiccup in the cluster, I doubt this is an error on the application layer we could handle.

[2021-08-19 10:35] fridex opened #13 "aggregator in security indicators fails on si-bandit key error in stage"
**Describe the bug**

Security indicator workflow fails on key error:

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Run security indicators in stage environment
2. See the error

**Expected behavior**

Security indicators should succeed.

[2021-08-19 10:35] sesheta commented on #13
@fridex: This issue is currently awaiting triage.
One of the @thoth-station/devs will take care of the issue, and will accept the issue by applying the
`triage/accepted` label and provide further guidance.

The `triage/accepted` label can be added by org members by writing `/triage accepted` in a comment.

<details>

Instructions for interacting with me using PR comments are available [here](https

[2021-08-19 12:39] pacospace commented on #12
I see similar erros also in some solvers :/

[2021-08-19 16:13] erikerlandson opened #14 "CUDA enabled notebook images on quay.io/thoth-station"
**Is your feature request related to a problem? Please describe.**
As a thoth and aicoe-ci user, I would like one or two standard public builds of gpu-enabled notebooks

**High-level Goals**
- gpu enabled notebook image published in quay.io

**Describe the solution you'd like**
Add new repo for something like `s2i-ml-gpu-notebook`

**Describe alternatives you've considered**
private image builds

[2021-08-19 16:13] sesheta commented on #14
@erikerlandson: This issue is currently awaiting triage.
One of the @thoth-station/devs will take care of the issue, and will accept the issue by applying the
`triage/accepted` label and provide further guidance.

The `triage/accepted` label can be added by org members by writing `/triage accepted` in a comment.

<details>

Instructions for interacting with me using PR comments are available [here

[2021-08-20 06:34] goern commented on #12
/triage accepted
/triage needs-information
/priority critical-urgent
/assign @pacospace
/assign @fridex

[2021-08-20 06:59] goern commented on #14
with https://issues.redhat.com/projects/ODH/issues/ODH-417?filter=allopenissues I have started a discussion on this. As we can not publically provide NVIDIA based images, we need to build them locally, and restrict their distribution. The update you provided via Steve is new to me and needs some source reference.

[2021-08-20 07:00] goern commented on #14
/triage needs-information
/priority important-soon

[2021-08-23 17:29] MichaelClifford opened #15 ""Kebechet pipfile-requirements manager: FileNotFoundError"
I have received emails with the message "Kebechet pipfile-requirements manager: FileNotFoundError" for both [aicoe-aiops/ocp-ci-analysis](https://github.com/aicoe-aiops/ocp-ci-analysis) and [aicoe-aiops/github-labeler](https://github.com/aicoe-aiops/github-labeler).

issues:

https://github.com/aicoe-aiops/ocp-ci-analysis/issues/345
https://github.com/aicoe-aiops/github-labeler/issues/35

I'm not

[2021-08-23 17:33] goern commented on #15
Cant we generate the file? Or is this a situation where we want to create a github issue? or send a PR to fix?

/assign @KPostOffice
/priority important-soon

[2021-08-27 13:14] EldritchJS opened #16 "Create pyIFD wheel and host on AI CoE Index"
**Is your feature request related to a problem? Please describe.**
As an image forensics scientist I would like a managed and stable pyIFD wheel available via the AI CoE index.

**High-level Goals**
Hosted pyIFD wheel.

**Describe the solution you'd like**
A hosted pyIFD wheel.

**Describe alternatives you've considered**
Forcing pyIFD user to build both JPEGIO and pyIFD locally via https://github

[2021-08-27 13:26] EldritchJS opened #17 "Create JPEGIO wheel and host on AI CoE Index"
**Is your feature request related to a problem? Please describe.**
As an image processing scientist I would like to have a reliable updated version of the JPEGIO library available.

**High-level Goals**
Modify forked JPEGIO to conform with AI CoE standard and host its wheel on AI CoE index. Current repo: https://github.com/eldritchjs/jpegio

**Describe the solution you'd like**
JPEGIO wheel hosted

[2021-08-27 13:29] EldritchJS opened #18 "Move pyIFD repository to AI CoE hosting"
**Is your feature request related to a problem? Please describe.**
As an AI CoE member I would like to see pyIFD hosted within the group hosting.

**High-level Goals**
https://github.com/eldritchjs/pyIFD hosted on AI CoE repo space.

**Describe the solution you'd like**
The current repository moved to AI CoE repo space, with hosted wheels per issues 16 and 17.

**Describe alternatives you've consi

[2021-08-28 20:42] fridex commented on #15
Then you can turn the manager off by removing it from the `managers` section. It can be useful only for cases when the repo keeps a project that is CLI and a library at the same time.

[2021-08-30 05:50] fridex commented on #17
Hi Jason,

thanks for reaching out. We are provisioning [a new solution for hosting Python indices](https://www.operate-first.cloud/users/pulp/usage.md) so this might take some time - hope that's fine and this is not time crucial. Is the wheel specific to AICoE organization or should we create a new Python index specific for these builds (also wheel mentioned in https://github.com/thoth-station/su

[2021-08-30 19:06] MichaelClifford commented on #15
Cool, thanks for the Response @fridex. I'll go ahead and remove this from the template's `thoth.yaml` then as very few (if any) of our repo's follow this CLI and library structure.

[2021-08-30 19:06] #15 closed

[2021-08-31 08:45] goern commented on #10
/priority backlog
/triage needs-information

@harshad16 is this working as designed and just a non-optimal user experience? is this something that will change when backporting the meteor changes to the aicoe-ci?

[2021-08-31 08:46] goern commented on #13
@KPostOffice could you triage this? give it a prio etc?

[2021-08-31 14:26] KPostOffice commented on #13
/triage critical-urgent

[2021-08-31 14:27] KPostOffice commented on #13
/triage accepted

[2021-08-31 15:16] KPostOffice commented on #13
caused by the following PR https://github.com/thoth-station/si-bandit/pull/22

`si-bandit` represents the name of the script being run in metadata but after this change it should be `app.py`

[2021-09-06 20:22] sesheta commented on #4
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2021-09-10 20:14] harshad16 opened #19 "Kebechet doesnt seems to function on the OS-climate repo"
**Describe the bug**
Kebechet was setup on the os-climate repo, however it doesn't seems to function on it.
https://github.com/os-climate/data-platform-demo/issues/3,

cc: @erikerlandson

[2021-09-10 20:15] sesheta commented on #19
@harshad16: This issue is currently awaiting triage.
One of the @thoth-station/devs will take care of the issue, and will accept the issue by applying the
`triage/accepted` label and provide further guidance.

The `triage/accepted` label can be added by org members by writing `/triage accepted` in a comment.

<details>

Instructions for interacting with me using PR comments are available [here](ht

[2021-09-10 20:24] sesheta commented on #5
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2021-09-10 20:24] sesheta commented on #5
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/support/issues/5#issuecomment-917189620):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-infra

[2021-09-10 20:24] #5 closed

[2021-09-11 10:00] goern commented on #19
/priority critical-urgent
/assign @KPostOffice 398479
/triage accepted

[2021-09-11 10:00] sesheta commented on #19
@goern: GitHub didn't allow me to assign the following users: 398479.

Note that only [thoth-station members](https://github.com/orgs/thoth-station/people), repo collaborators and people who have commented on this issue/PR can be assigned. Additionally, issues/PRs can only have 10 assignees at the same time.
For more information please see [the contributor guide](https://git.k8s.io/community/contr

[2021-09-11 14:43] erikerlandson commented on #19
not sure if it is related but I tried filing a direct `Deliver Container Image` build and that doesn't seem to be happening either:
https://github.com/os-climate/data-platform-demo/issues/4

(this mode worked a day or two ago)

[2021-09-13 06:31] goern commented on #18
/priority backlog
/assign @EldritchJS
/triage accepted

@EldritchJS @pacospace any updates on this?

[2021-09-13 06:32] goern commented on #16
/priority backlog
/assign @EldritchJS
/triage accepted

@EldritchJS @pacospace any updates on this?

[2021-09-13 06:34] goern commented on #13
/priority critical-urgent
/triage accepted

[2021-09-13 07:31] pacospace commented on #18
@EldritchJS can you please request one using https://github.com/AICoE/common/issues/new?assignees=tumido%2Cgoern&labels=kind%2Fquestion&template=repo-create.yaml&title=CREATE%3A+%3Crepo_name%3E?

[2021-09-13 07:33] pacospace commented on #16
See @fridex comments: https://github.com/thoth-station/support/issues/17#issuecomment-908048959

[2021-09-13 14:07] harshad16 commented on #19
This issue seems to be due to the cluster down
We need to check our backup cluster and test this out.

[2021-09-15 08:04] goern commented on #17
/priority important-soon

[2021-09-15 08:26] sesheta commented on #8
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2021-09-15 08:26] sesheta commented on #8
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/support/issues/8#issuecomment-919809461):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-infra

[2021-09-15 08:26] #8 closed

[2021-09-15 12:51] harshad16 commented on #4
/remove-lifecycle rotten

[2021-09-15 13:22] pacospace commented on #4
We can close this, as with tensorflow 2.6.0 released this is no more a problem, @fridex wdyt?

[2021-09-15 13:24] fridex commented on #4
Sounds good.

/close

[2021-09-15 13:24] #4 closed

[2021-09-15 13:24] sesheta commented on #4
@fridex: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/support/issues/4#issuecomment-920015801):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-infra]

[2021-09-15 18:28] khebhut[bot] opened #20 "Kebechet update manager: KeyError - b91e48b984"
## Description
This is an automated issue generated by Kebechet. The update manager threw an exception (KeyError) at
runtime. If you think this exception is a bug please open an issue upstream at https://github.com/thoth-station/kebechet
otherwise use the traceback below to help you fix whatever issues were encountered with your repository.

## Traceback
[code]

[2021-09-15 18:28] sesheta commented on #20
@khebhut[bot]: This issue is currently awaiting triage.
One of the @thoth-station/devs will take care of the issue, and will accept the issue by applying the
`triage/accepted` label and provide further guidance.

The `triage/accepted` label can be added by org members by writing `/triage accepted` in a comment.

<details>

Instructions for interacting with me using PR comments are available [here]

[2021-09-15 18:50] khebhut[bot] opened #22 "Kebechet thoth-advise manager: ConnectionError - ea2fa18933"
## Description
This is an automated issue generated by Kebechet. The thoth-advise manager threw an exception (ConnectionError) at
runtime. If you think this exception is a bug please open an issue upstream at https://github.com/thoth-station/kebechet
otherwise use the traceback below to help you fix whatever issues were encountered with your repository.

## Traceback
[code]

[2021-09-15 18:50] sesheta commented on #22
@khebhut[bot]: This issue is currently awaiting triage.
One of the @thoth-station/devs will take care of the issue, and will accept the issue by applying the
`triage/accepted` label and provide further guidance.

The `triage/accepted` label can be added by org members by writing `/triage accepted` in a comment.

<details>

Instructions for interacting with me using PR comments are available [here]

[2021-09-15 18:50] khebhut[bot] opened #23 "Kebechet thoth-advise manager: ConnectionError - 7964cc865b"
## Description
This is an automated issue generated by Kebechet. The thoth-advise manager threw an exception (ConnectionError) at
runtime. If you think this exception is a bug please open an issue upstream at https://github.com/thoth-station/kebechet
otherwise use the traceback below to help you fix whatever issues were encountered with your repository.

## Traceback
[code]

[2021-09-15 18:51] sesheta commented on #23
@khebhut[bot]: This issue is currently awaiting triage.
One of the @thoth-station/devs will take care of the issue, and will accept the issue by applying the
`triage/accepted` label and provide further guidance.

The `triage/accepted` label can be added by org members by writing `/triage accepted` in a comment.

<details>

Instructions for interacting with me using PR comments are available [here]

[2021-09-15 18:51] khebhut[bot] opened #24 "Kebechet thoth-advise manager: ConnectionError - 4f685be563"
## Description
This is an automated issue generated by Kebechet. The thoth-advise manager threw an exception (ConnectionError) at
runtime. If you think this exception is a bug please open an issue upstream at https://github.com/thoth-station/kebechet
otherwise use the traceback below to help you fix whatever issues were encountered with your repository.

## Traceback
[code]

[2021-09-15 18:51] sesheta commented on #24
@khebhut[bot]: This issue is currently awaiting triage.
One of the @thoth-station/devs will take care of the issue, and will accept the issue by applying the
`triage/accepted` label and provide further guidance.

The `triage/accepted` label can be added by org members by writing `/triage accepted` in a comment.

<details>

Instructions for interacting with me using PR comments are available [here]

[2021-09-15 21:20] KPostOffice commented on #24
/close

[2021-09-15 21:21] sesheta commented on #24
@KPostOffice: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/support/issues/24#issuecomment-920391479):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-

[2021-09-15 21:21] #24 closed

[2021-09-15 21:21] KPostOffice commented on #23
/close

[2021-09-15 21:21] sesheta commented on #23
@KPostOffice: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/support/issues/23#issuecomment-920391568):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-

[2021-09-15 21:21] #23 closed

[2021-09-16 11:18] khebhut[bot] opened #25 "Kebechet version manager: GithubException - f1d4f2ba52"
## Description
This is an automated issue generated by Kebechet. The version manager threw an exception (GithubException) at
runtime. If you think this exception is a bug please open an issue upstream at https://github.com/thoth-station/kebechet
otherwise use the traceback below to help you fix whatever issues were encountered with your repository.

## Traceback
[code]

[2021-09-16 11:18] sesheta commented on #25
@khebhut[bot]: This issue is currently awaiting triage.
One of the @thoth-station/devs will take care of the issue, and will accept the issue by applying the
`triage/accepted` label and provide further guidance.

The `triage/accepted` label can be added by org members by writing `/triage accepted` in a comment.

<details>

Instructions for interacting with me using PR comments are available [here]

[2021-09-16 15:33] khebhut[bot] opened #26 "Kebechet pipfile-requirements manager: ValueError - 93e6573679"
## Description
This is an automated issue generated by Kebechet. The pipfile-requirements manager threw an exception (ValueError) at
runtime. If you think this exception is a bug please open an issue upstream at https://github.com/thoth-station/kebechet
otherwise use the traceback below to help you fix whatever issues were encountered with your repository.

## Traceback
[code]

[2021-09-16 15:33] sesheta commented on #26
@khebhut[bot]: This issue is currently awaiting triage.
One of the @thoth-station/devs will take care of the issue, and will accept the issue by applying the
`triage/accepted` label and provide further guidance.

The `triage/accepted` label can be added by org members by writing `/triage accepted` in a comment.

<details>

Instructions for interacting with me using PR comments are available [here]

[2021-09-16 15:50] khebhut[bot] opened #27 "Kebechet version manager: FileNotFoundError - 2e2d7a2511"
## Description
This is an automated issue generated by Kebechet. The version manager threw an exception (FileNotFoundError) at
runtime. If you think this exception is a bug please open an issue upstream at https://github.com/thoth-station/kebechet
otherwise use the traceback below to help you fix whatever issues were encountered with your repository.

## Traceback
[code]

[2021-09-16 15:50] sesheta commented on #27
@khebhut[bot]: This issue is currently awaiting triage.
One of the @thoth-station/devs will take care of the issue, and will accept the issue by applying the
`triage/accepted` label and provide further guidance.

The `triage/accepted` label can be added by org members by writing `/triage accepted` in a comment.

<details>

Instructions for interacting with me using PR comments are available [here]

[2021-09-16 16:54] khebhut[bot] opened #28 "Kebechet pipfile-requirements manager: FileNotFoundError - aec439ce49"
## Description
This is an automated issue generated by Kebechet. The pipfile-requirements manager threw an exception (FileNotFoundError) at
runtime. If you think this exception is a bug please open an issue upstream at https://github.com/thoth-station/kebechet
otherwise use the traceback below to help you fix whatever issues were encountered with your repository.

## Traceback
[code]

[2021-09-16 16:54] khebhut[bot] opened #29 "Kebechet update manager: GithubException - e2aa0dd95b"
## Description
This is an automated issue generated by Kebechet. The update manager threw an exception (GithubException) at
runtime. If you think this exception is a bug please open an issue upstream at https://github.com/thoth-station/kebechet
otherwise use the traceback below to help you fix whatever issues were encountered with your repository.

## Traceback
[code]

[2021-09-16 16:54] sesheta commented on #28
@khebhut[bot]: This issue is currently awaiting triage.
One of the @thoth-station/devs will take care of the issue, and will accept the issue by applying the
`triage/accepted` label and provide further guidance.

The `triage/accepted` label can be added by org members by writing `/triage accepted` in a comment.

<details>

Instructions for interacting with me using PR comments are available [here]

[2021-09-16 16:55] sesheta commented on #29
@khebhut[bot]: This issue is currently awaiting triage.
One of the @thoth-station/devs will take care of the issue, and will accept the issue by applying the
`triage/accepted` label and provide further guidance.

The `triage/accepted` label can be added by org members by writing `/triage accepted` in a comment.

<details>

Instructions for interacting with me using PR comments are available [here]

[2021-09-16 19:40] khebhut[bot] opened #30 "Kebechet update manager: ConnectionError - 40eada9d9e"
## Description
This is an automated issue generated by Kebechet. The update manager threw an exception (ConnectionError) at
runtime. If you think this exception is a bug please open an issue upstream at https://github.com/thoth-station/kebechet
otherwise use the traceback below to help you fix whatever issues were encountered with your repository.

## Traceback
[code]

[2021-09-16 19:40] sesheta commented on #30
@khebhut[bot]: This issue is currently awaiting triage.
One of the @thoth-station/devs will take care of the issue, and will accept the issue by applying the
`triage/accepted` label and provide further guidance.

The `triage/accepted` label can be added by org members by writing `/triage accepted` in a comment.

<details>

Instructions for interacting with me using PR comments are available [here]

[2021-09-16 21:11] khebhut[bot] opened #31 "Kebechet update manager: InternalError - 45b8ea351b"
## Description
This is an automated issue generated by Kebechet. The update manager threw an exception (InternalError) at
runtime. If you think this exception is a bug please open an issue upstream at https://github.com/thoth-station/kebechet
otherwise use the traceback below to help you fix whatever issues were encountered with your repository.

## Traceback
[code]

[2021-09-16 21:11] sesheta commented on #31
@khebhut[bot]: This issue is currently awaiting triage.
One of the @thoth-station/devs will take care of the issue, and will accept the issue by applying the
`triage/accepted` label and provide further guidance.

The `triage/accepted` label can be added by org members by writing `/triage accepted` in a comment.

<details>

Instructions for interacting with me using PR comments are available [here]

[2021-09-17 08:19] khebhut[bot] opened #32 "Kebechet thoth-advise manager: ConnectionError - cded6003ee"
## Description
This is an automated issue generated by Kebechet. The thoth-advise manager threw an exception (ConnectionError) at
runtime. If you think this exception is a bug please open an issue upstream at https://github.com/thoth-station/kebechet
otherwise use the traceback below to help you fix whatever issues were encountered with your repository.

## Traceback
[code]

[2021-09-17 08:19] sesheta commented on #32
@khebhut[bot]: This issue is currently awaiting triage.
One of the @thoth-station/devs will take care of the issue, and will accept the issue by applying the
`triage/accepted` label and provide further guidance.

The `triage/accepted` label can be added by org members by writing `/triage accepted` in a comment.

<details>

Instructions for interacting with me using PR comments are available [here]

[2021-09-17 08:21] khebhut[bot] opened #33 "Kebechet thoth-advise manager: ConnectionError - 80b39d3244"
## Description
This is an automated issue generated by Kebechet. The thoth-advise manager threw an exception (ConnectionError) at
runtime. If you think this exception is a bug please open an issue upstream at https://github.com/thoth-station/kebechet
otherwise use the traceback below to help you fix whatever issues were encountered with your repository.

## Traceback
[code]

[2021-09-17 08:21] sesheta commented on #33
@khebhut[bot]: This issue is currently awaiting triage.
One of the @thoth-station/devs will take care of the issue, and will accept the issue by applying the
`triage/accepted` label and provide further guidance.

The `triage/accepted` label can be added by org members by writing `/triage accepted` in a comment.

<details>

Instructions for interacting with me using PR comments are available [here]

[2021-09-17 08:24] khebhut[bot] opened #34 "Kebechet thoth-advise manager: ConnectionError - 94adf3cc08"
## Description
This is an automated issue generated by Kebechet. The thoth-advise manager threw an exception (ConnectionError) at
runtime. If you think this exception is a bug please open an issue upstream at https://github.com/thoth-station/kebechet
otherwise use the traceback below to help you fix whatever issues were encountered with your repository.

## Traceback
[code]

[2021-09-17 08:24] sesheta commented on #34
@khebhut[bot]: This issue is currently awaiting triage.
One of the @thoth-station/devs will take care of the issue, and will accept the issue by applying the
`triage/accepted` label and provide further guidance.

The `triage/accepted` label can be added by org members by writing `/triage accepted` in a comment.

<details>

Instructions for interacting with me using PR comments are available [here]

[2021-09-17 08:29] khebhut[bot] opened #35 "Kebechet thoth-advise manager: ConnectionError - 81936cc20c"
## Description
This is an automated issue generated by Kebechet. The thoth-advise manager threw an exception (ConnectionError) at
runtime. If you think this exception is a bug please open an issue upstream at https://github.com/thoth-station/kebechet
otherwise use the traceback below to help you fix whatever issues were encountered with your repository.

## Traceback
[code]

[2021-09-17 08:29] sesheta commented on #35
@khebhut[bot]: This issue is currently awaiting triage.
One of the @thoth-station/devs will take care of the issue, and will accept the issue by applying the
`triage/accepted` label and provide further guidance.

The `triage/accepted` label can be added by org members by writing `/triage accepted` in a comment.

<details>

Instructions for interacting with me using PR comments are available [here]

[2021-09-17 08:33] khebhut[bot] opened #36 "Kebechet thoth-advise manager: ConnectionError - 646768a96a"
## Description
This is an automated issue generated by Kebechet. The thoth-advise manager threw an exception (ConnectionError) at
runtime. If you think this exception is a bug please open an issue upstream at https://github.com/thoth-station/kebechet
otherwise use the traceback below to help you fix whatever issues were encountered with your repository.

## Traceback
[code]

[2021-09-17 08:33] sesheta commented on #36
@khebhut[bot]: This issue is currently awaiting triage.
One of the @thoth-station/devs will take care of the issue, and will accept the issue by applying the
`triage/accepted` label and provide further guidance.

The `triage/accepted` label can be added by org members by writing `/triage accepted` in a comment.

<details>

Instructions for interacting with me using PR comments are available [here]

[2021-09-17 08:33] khebhut[bot] opened #37 "Kebechet thoth-advise manager: ConnectionError - 246dad5ead"
## Description
This is an automated issue generated by Kebechet. The thoth-advise manager threw an exception (ConnectionError) at
runtime. If you think this exception is a bug please open an issue upstream at https://github.com/thoth-station/kebechet
otherwise use the traceback below to help you fix whatever issues were encountered with your repository.

## Traceback
[code]

[2021-09-17 08:33] sesheta commented on #37
@khebhut[bot]: This issue is currently awaiting triage.
One of the @thoth-station/devs will take care of the issue, and will accept the issue by applying the
`triage/accepted` label and provide further guidance.

The `triage/accepted` label can be added by org members by writing `/triage accepted` in a comment.

<details>

Instructions for interacting with me using PR comments are available [here]

[2021-09-17 08:38] khebhut[bot] opened #38 "Kebechet thoth-advise manager: ConnectionError - 4a09b6e6b1"
## Description
This is an automated issue generated by Kebechet. The thoth-advise manager threw an exception (ConnectionError) at
runtime. If you think this exception is a bug please open an issue upstream at https://github.com/thoth-station/kebechet
otherwise use the traceback below to help you fix whatever issues were encountered with your repository.

## Traceback
[code]

[2021-09-17 08:38] sesheta commented on #38
@khebhut[bot]: This issue is currently awaiting triage.
One of the @thoth-station/devs will take care of the issue, and will accept the issue by applying the
`triage/accepted` label and provide further guidance.

The `triage/accepted` label can be added by org members by writing `/triage accepted` in a comment.

<details>

Instructions for interacting with me using PR comments are available [here]

[2021-09-17 08:38] khebhut[bot] opened #39 "Kebechet thoth-advise manager: ConnectionError - b82ca7a481"
## Description
This is an automated issue generated by Kebechet. The thoth-advise manager threw an exception (ConnectionError) at
runtime. If you think this exception is a bug please open an issue upstream at https://github.com/thoth-station/kebechet
otherwise use the traceback below to help you fix whatever issues were encountered with your repository.

## Traceback
[code]

[2021-09-17 08:38] sesheta commented on #39
@khebhut[bot]: This issue is currently awaiting triage.
One of the @thoth-station/devs will take care of the issue, and will accept the issue by applying the
`triage/accepted` label and provide further guidance.

The `triage/accepted` label can be added by org members by writing `/triage accepted` in a comment.

<details>

Instructions for interacting with me using PR comments are available [here]

[2021-09-17 08:40] khebhut[bot] opened #40 "Kebechet thoth-advise manager: ConnectionError - 1f187d46ee"
## Description
This is an automated issue generated by Kebechet. The thoth-advise manager threw an exception (ConnectionError) at
runtime. If you think this exception is a bug please open an issue upstream at https://github.com/thoth-station/kebechet
otherwise use the traceback below to help you fix whatever issues were encountered with your repository.

## Traceback
[code]

[2021-09-17 08:40] sesheta commented on #40
@khebhut[bot]: This issue is currently awaiting triage.
One of the @thoth-station/devs will take care of the issue, and will accept the issue by applying the
`triage/accepted` label and provide further guidance.

The `triage/accepted` label can be added by org members by writing `/triage accepted` in a comment.

<details>

Instructions for interacting with me using PR comments are available [here]

[2021-09-17 08:41] khebhut[bot] opened #41 "Kebechet thoth-advise manager: ConnectionError - 3fdc56b8c3"
## Description
This is an automated issue generated by Kebechet. The thoth-advise manager threw an exception (ConnectionError) at
runtime. If you think this exception is a bug please open an issue upstream at https://github.com/thoth-station/kebechet
otherwise use the traceback below to help you fix whatever issues were encountered with your repository.

## Traceback
[code]

[2021-09-17 08:41] sesheta commented on #41
@khebhut[bot]: This issue is currently awaiting triage.
One of the @thoth-station/devs will take care of the issue, and will accept the issue by applying the
`triage/accepted` label and provide further guidance.

The `triage/accepted` label can be added by org members by writing `/triage accepted` in a comment.

<details>

Instructions for interacting with me using PR comments are available [here]

[2021-09-17 08:42] khebhut[bot] opened #42 "Kebechet thoth-advise manager: ConnectionError - 6687274740"
## Description
This is an automated issue generated by Kebechet. The thoth-advise manager threw an exception (ConnectionError) at
runtime. If you think this exception is a bug please open an issue upstream at https://github.com/thoth-station/kebechet
otherwise use the traceback below to help you fix whatever issues were encountered with your repository.

## Traceback
[code]

[2021-09-17 08:42] sesheta commented on #42
@khebhut[bot]: This issue is currently awaiting triage.
One of the @thoth-station/devs will take care of the issue, and will accept the issue by applying the
`triage/accepted` label and provide further guidance.

The `triage/accepted` label can be added by org members by writing `/triage accepted` in a comment.

<details>

Instructions for interacting with me using PR comments are available [here]

[2021-09-17 08:45] khebhut[bot] opened #43 "Kebechet thoth-advise manager: ConnectionError - 8b0412c611"
## Description
This is an automated issue generated by Kebechet. The thoth-advise manager threw an exception (ConnectionError) at
runtime. If you think this exception is a bug please open an issue upstream at https://github.com/thoth-station/kebechet
otherwise use the traceback below to help you fix whatever issues were encountered with your repository.

## Traceback
[code]

[2021-09-17 08:45] sesheta commented on #43
@khebhut[bot]: This issue is currently awaiting triage.
One of the @thoth-station/devs will take care of the issue, and will accept the issue by applying the
`triage/accepted` label and provide further guidance.

The `triage/accepted` label can be added by org members by writing `/triage accepted` in a comment.

<details>

Instructions for interacting with me using PR comments are available [here]

[2021-09-17 09:46] khebhut[bot] opened #44 "Kebechet thoth-advise manager: ConnectionError - e654655571"
## Description
This is an automated issue generated by Kebechet. The thoth-advise manager threw an exception (ConnectionError) at
runtime. If you think this exception is a bug please open an issue upstream at https://github.com/thoth-station/kebechet
otherwise use the traceback below to help you fix whatever issues were encountered with your repository.

## Traceback
[code]

[2021-09-17 09:46] sesheta commented on #44
@khebhut[bot]: This issue is currently awaiting triage.
One of the @thoth-station/devs will take care of the issue, and will accept the issue by applying the
`triage/accepted` label and provide further guidance.

The `triage/accepted` label can be added by org members by writing `/triage accepted` in a comment.

<details>

Instructions for interacting with me using PR comments are available [here]

[2021-09-17 14:32] khebhut[bot] opened #45 "Kebechet update manager: DependencyManagementError - 0727e63b6d"
## Description
This is an automated issue generated by Kebechet. The update manager threw an exception (DependencyManagementError) at
runtime. If you think this exception is a bug please open an issue upstream at https://github.com/thoth-station/kebechet
otherwise use the traceback below to help you fix whatever issues were encountered with your repository.

## Traceback
[code]

[2021-09-17 14:32] sesheta commented on #45
@khebhut[bot]: This issue is currently awaiting triage.
One of the @thoth-station/devs will take care of the issue, and will accept the issue by applying the
`triage/accepted` label and provide further guidance.

The `triage/accepted` label can be added by org members by writing `/triage accepted` in a comment.

<details>

Instructions for interacting with me using PR comments are available [here]

[2021-09-17 18:42] khebhut[bot] opened #46 "Kebechet thoth-advise manager: FileLoadError - 8a5b7a5e40"
## Description
This is an automated issue generated by Kebechet. The thoth-advise manager threw an exception (FileLoadError) at
runtime. If you think this exception is a bug please open an issue upstream at https://github.com/thoth-station/kebechet
otherwise use the traceback below to help you fix whatever issues were encountered with your repository.

## Traceback
[code]

[2021-09-17 18:43] sesheta commented on #46
@khebhut[bot]: This issue is currently awaiting triage.
One of the @thoth-station/devs will take care of the issue, and will accept the issue by applying the
`triage/accepted` label and provide further guidance.

The `triage/accepted` label can be added by org members by writing `/triage accepted` in a comment.

<details>

Instructions for interacting with me using PR comments are available [here]

[2021-09-18 08:28] sesheta commented on #11
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2021-09-18 08:28] sesheta commented on #11
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/support/issues/11#issuecomment-922240363):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-infr

[2021-09-19 08:28] sesheta commented on #12
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2021-09-19 08:28] sesheta commented on #14
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2021-09-19 08:28] #12 closed

[2021-09-19 08:28] sesheta commented on #12
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/support/issues/12#issuecomment-922436263):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-infr

[2021-09-19 08:28] sesheta commented on #14
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/support/issues/14#issuecomment-922436264):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-infr

[2021-09-20 10:44] goern commented on #14
/remove-lifecycle rotten
/open

[2021-09-20 10:45] goern commented on #14
/reopen

[2021-09-20 10:45] sesheta commented on #14
@goern: Reopened this issue.

<details>

In response to [this](https://github.com/thoth-station/support/issues/14#issuecomment-922815451):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-infra

[2021-09-20 10:45] goern commented on #11
/remove-lifecycle rotten
/lifecycle frozen
/reopen

[2021-09-20 10:45] sesheta commented on #11
@goern: Reopened this issue.

<details>

In response to [this](https://github.com/thoth-station/support/issues/11#issuecomment-922815698):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-infra

[2021-09-20 16:40] khebhut[bot] opened #47 "Kebechet thoth-advise manager: FileLoadError - ffcb845bbe"
## Description
This is an automated issue generated by Kebechet. The thoth-advise manager threw an exception (FileLoadError) at
runtime. If you think this exception is a bug please open an issue upstream at https://github.com/thoth-station/kebechet
otherwise use the traceback below to help you fix whatever issues were encountered with your repository.

## Traceback
[code]

[2021-09-20 16:40] sesheta commented on #47
@khebhut[bot]: This issue is currently awaiting triage.
One of the @thoth-station/devs will take care of the issue, and will accept the issue by applying the
`triage/accepted` label and provide further guidance.

The `triage/accepted` label can be added by org members by writing `/triage accepted` in a comment.

<details>

Instructions for interacting with me using PR comments are available [here]

[2021-09-21 18:00] khebhut[bot] opened #48 "Kebechet pipfile-requirements manager: GithubAPIException - 2852a244cb"
## Description
This is an automated issue generated by Kebechet. The pipfile-requirements manager threw an exception (GithubAPIException) at
runtime. If you think this exception is a bug please open an issue upstream at https://github.com/thoth-station/kebechet
otherwise use the traceback below to help you fix whatever issues were encountered with your repository.

## Traceback
[code]

[2021-09-21 18:00] sesheta commented on #48
@khebhut[bot]: This issue is currently awaiting triage.
One of the @thoth-station/devs will take care of the issue, and will accept the issue by applying the
`triage/accepted` label and provide further guidance.

The `triage/accepted` label can be added by org members by writing `/triage accepted` in a comment.

<details>

Instructions for interacting with me using PR comments are available [here]

[2021-09-21 18:01] khebhut[bot] opened #49 "Kebechet update manager: GithubException - 85aadcd0b3"
## Description
This is an automated issue generated by Kebechet. The update manager threw an exception (GithubException) at
runtime. If you think this exception is a bug please open an issue upstream at https://github.com/thoth-station/kebechet
otherwise use the traceback below to help you fix whatever issues were encountered with your repository.

## Traceback
[code]

[2021-09-21 18:01] sesheta commented on #49
@khebhut[bot]: This issue is currently awaiting triage.
One of the @thoth-station/devs will take care of the issue, and will accept the issue by applying the
`triage/accepted` label and provide further guidance.

The `triage/accepted` label can be added by org members by writing `/triage accepted` in a comment.

<details>

Instructions for interacting with me using PR comments are available [here]

[2021-09-21 20:24] KPostOffice commented on #44
/close

[2021-09-21 20:24] #44 closed

[2021-09-21 20:24] sesheta commented on #44
@KPostOffice: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/support/issues/44#issuecomment-924356392):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-

[2021-09-21 20:24] KPostOffice commented on #22
/close

[2021-09-21 20:24] sesheta commented on #22
@KPostOffice: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/support/issues/22#issuecomment-924356677):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-

[2021-09-21 20:24] #22 closed

[2021-09-21 20:24] KPostOffice commented on #32
/close

[2021-09-21 20:25] #32 closed

[2021-09-21 20:25] sesheta commented on #32
@KPostOffice: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/support/issues/32#issuecomment-924356886):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-

[2021-09-21 20:25] KPostOffice commented on #33
/close

[2021-09-21 20:25] #33 closed

[2021-09-21 20:25] sesheta commented on #33
@KPostOffice: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/support/issues/33#issuecomment-924357046):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-

[2021-09-21 20:25] KPostOffice commented on #30
/close

[2021-09-21 20:25] sesheta commented on #30
@KPostOffice: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/support/issues/30#issuecomment-924357208):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-

[2021-09-21 20:25] #30 closed

[2021-09-21 20:25] KPostOffice commented on #43
/close

[2021-09-21 20:25] #43 closed

[2021-09-21 20:25] sesheta commented on #43
@KPostOffice: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/support/issues/43#issuecomment-924357410):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-

[2021-09-21 20:25] KPostOffice commented on #42
/close

[2021-09-21 20:25] #42 closed

[2021-09-21 20:25] sesheta commented on #42
@KPostOffice: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/support/issues/42#issuecomment-924357501):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-

[2021-09-21 20:25] KPostOffice commented on #41
/close

[2021-09-21 20:25] #41 closed

[2021-09-21 20:25] sesheta commented on #41
@KPostOffice: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/support/issues/41#issuecomment-924357574):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-

[2021-09-21 20:26] KPostOffice commented on #40
/close

[2021-09-21 20:26] #40 closed

[2021-09-21 20:26] sesheta commented on #40
@KPostOffice: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/support/issues/40#issuecomment-924357669):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-

[2021-09-21 20:26] sesheta commented on #37
@KPostOffice: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/support/issues/37#issuecomment-924357757):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-

[2021-09-21 20:26] #37 closed

[2021-09-21 20:26] KPostOffice commented on #36
/close

[2021-09-21 20:26] sesheta commented on #36
@KPostOffice: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/support/issues/36#issuecomment-924357836):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-

[2021-09-21 20:26] #36 closed

[2021-09-21 20:26] KPostOffice commented on #35
/close

[2021-09-21 20:26] sesheta commented on #35
@KPostOffice: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/support/issues/35#issuecomment-924357903):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-

[2021-09-21 20:26] KPostOffice commented on #34
/close

[2021-09-21 20:26] #34 closed

[2021-09-21 20:26] sesheta commented on #34
@KPostOffice: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/support/issues/34#issuecomment-924358052):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-

[2021-09-22 14:24] khebhut[bot] opened #50 "Kebechet thoth-advise manager: ConnectionError - 47e1f463e0"
## Description
This is an automated issue generated by Kebechet. The thoth-advise manager threw an exception (ConnectionError) at
runtime. If you think this exception is a bug please open an issue upstream at https://github.com/thoth-station/kebechet
otherwise use the traceback below to help you fix whatever issues were encountered with your repository.

## Traceback
[code]

[2021-09-22 14:24] sesheta commented on #50
@khebhut[bot]: This issue is currently awaiting triage.
One of the @thoth-station/devs will take care of the issue, and will accept the issue by applying the
`triage/accepted` label and provide further guidance.

The `triage/accepted` label can be added by org members by writing `/triage accepted` in a comment.

<details>

Instructions for interacting with me using PR comments are available [here]

[2021-09-22 14:24] khebhut[bot] opened #51 "Kebechet thoth-advise manager: ConnectionError - a104ada762"
## Description
This is an automated issue generated by Kebechet. The thoth-advise manager threw an exception (ConnectionError) at
runtime. If you think this exception is a bug please open an issue upstream at https://github.com/thoth-station/kebechet
otherwise use the traceback below to help you fix whatever issues were encountered with your repository.

## Traceback
[code]

[2021-09-22 14:24] khebhut[bot] opened #52 "Kebechet thoth-advise manager: ConnectionError - 8765be3e7b"
## Description
This is an automated issue generated by Kebechet. The thoth-advise manager threw an exception (ConnectionError) at
runtime. If you think this exception is a bug please open an issue upstream at https://github.com/thoth-station/kebechet
otherwise use the traceback below to help you fix whatever issues were encountered with your repository.

## Traceback
[code]

[2021-09-22 14:24] khebhut[bot] opened #53 "Kebechet thoth-advise manager: ConnectionError - 911cb05de0"
## Description
This is an automated issue generated by Kebechet. The thoth-advise manager threw an exception (ConnectionError) at
runtime. If you think this exception is a bug please open an issue upstream at https://github.com/thoth-station/kebechet
otherwise use the traceback below to help you fix whatever issues were encountered with your repository.

## Traceback
[code]

[2021-09-22 14:24] khebhut[bot] opened #54 "Kebechet thoth-advise manager: ConnectionError - 9610901f5d"
## Description
This is an automated issue generated by Kebechet. The thoth-advise manager threw an exception (ConnectionError) at
runtime. If you think this exception is a bug please open an issue upstream at https://github.com/thoth-station/kebechet
otherwise use the traceback below to help you fix whatever issues were encountered with your repository.

## Traceback
[code]

[2021-09-22 14:24] sesheta commented on #51
@khebhut[bot]: This issue is currently awaiting triage.
One of the @thoth-station/devs will take care of the issue, and will accept the issue by applying the
`triage/accepted` label and provide further guidance.

The `triage/accepted` label can be added by org members by writing `/triage accepted` in a comment.

<details>

Instructions for interacting with me using PR comments are available [here]

[2021-09-22 14:24] sesheta commented on #52
@khebhut[bot]: This issue is currently awaiting triage.
One of the @thoth-station/devs will take care of the issue, and will accept the issue by applying the
`triage/accepted` label and provide further guidance.

The `triage/accepted` label can be added by org members by writing `/triage accepted` in a comment.

<details>

Instructions for interacting with me using PR comments are available [here]

[2021-09-22 14:24] sesheta commented on #53
@khebhut[bot]: This issue is currently awaiting triage.
One of the @thoth-station/devs will take care of the issue, and will accept the issue by applying the
`triage/accepted` label and provide further guidance.

The `triage/accepted` label can be added by org members by writing `/triage accepted` in a comment.

<details>

Instructions for interacting with me using PR comments are available [here]

[2021-09-22 14:25] sesheta commented on #54
@khebhut[bot]: This issue is currently awaiting triage.
One of the @thoth-station/devs will take care of the issue, and will accept the issue by applying the
`triage/accepted` label and provide further guidance.

The `triage/accepted` label can be added by org members by writing `/triage accepted` in a comment.

<details>

Instructions for interacting with me using PR comments are available [here]

[2021-09-22 15:09] khebhut[bot] opened #55 "Kebechet thoth-advise manager: ConnectionError - 8d6a03ee4d"
## Description
This is an automated issue generated by Kebechet. The thoth-advise manager threw an exception (ConnectionError) at
runtime. If you think this exception is a bug please open an issue upstream at https://github.com/thoth-station/kebechet
otherwise use the traceback below to help you fix whatever issues were encountered with your repository.

## Traceback
[code]

[2021-09-22 15:10] sesheta commented on #55
@khebhut[bot]: This issue is currently awaiting triage.
One of the @thoth-station/devs will take care of the issue, and will accept the issue by applying the
`triage/accepted` label and provide further guidance.

The `triage/accepted` label can be added by org members by writing `/triage accepted` in a comment.

<details>

Instructions for interacting with me using PR comments are available [here]

[2021-09-22 15:11] khebhut[bot] opened #56 "Kebechet thoth-advise manager: ConnectionError - 5fcdb70cec"
## Description
This is an automated issue generated by Kebechet. The thoth-advise manager threw an exception (ConnectionError) at
runtime. If you think this exception is a bug please open an issue upstream at https://github.com/thoth-station/kebechet
otherwise use the traceback below to help you fix whatever issues were encountered with your repository.

## Traceback
[code]

[2021-09-22 15:11] sesheta commented on #56
@khebhut[bot]: This issue is currently awaiting triage.
One of the @thoth-station/devs will take care of the issue, and will accept the issue by applying the
`triage/accepted` label and provide further guidance.

The `triage/accepted` label can be added by org members by writing `/triage accepted` in a comment.

<details>

Instructions for interacting with me using PR comments are available [here]

[2021-09-22 15:12] khebhut[bot] opened #57 "Kebechet thoth-advise manager: ConnectionError - 14cb9179ea"
## Description
This is an automated issue generated by Kebechet. The thoth-advise manager threw an exception (ConnectionError) at
runtime. If you think this exception is a bug please open an issue upstream at https://github.com/thoth-station/kebechet
otherwise use the traceback below to help you fix whatever issues were encountered with your repository.

## Traceback
[code]

[2021-09-22 15:12] sesheta commented on #57
@khebhut[bot]: This issue is currently awaiting triage.
One of the @thoth-station/devs will take care of the issue, and will accept the issue by applying the
`triage/accepted` label and provide further guidance.

The `triage/accepted` label can be added by org members by writing `/triage accepted` in a comment.

<details>

Instructions for interacting with me using PR comments are available [here]

[2021-09-22 15:16] khebhut[bot] opened #58 "Kebechet thoth-advise manager: ConnectionError - b1e902875d"
## Description
This is an automated issue generated by Kebechet. The thoth-advise manager threw an exception (ConnectionError) at
runtime. If you think this exception is a bug please open an issue upstream at https://github.com/thoth-station/kebechet
otherwise use the traceback below to help you fix whatever issues were encountered with your repository.

## Traceback
[code]

[2021-09-22 15:16] sesheta commented on #58
@khebhut[bot]: This issue is currently awaiting triage.
One of the @thoth-station/devs will take care of the issue, and will accept the issue by applying the
`triage/accepted` label and provide further guidance.

The `triage/accepted` label can be added by org members by writing `/triage accepted` in a comment.

<details>

Instructions for interacting with me using PR comments are available [here]

[2021-09-22 15:29] khebhut[bot] opened #59 "Kebechet thoth-advise manager: ConnectionError - e82e371ab2"
## Description
This is an automated issue generated by Kebechet. The thoth-advise manager threw an exception (ConnectionError) at
runtime. If you think this exception is a bug please open an issue upstream at https://github.com/thoth-station/kebechet
otherwise use the traceback below to help you fix whatever issues were encountered with your repository.

## Traceback
[code]

[2021-09-22 15:29] sesheta commented on #59
@khebhut[bot]: This issue is currently awaiting triage.
One of the @thoth-station/devs will take care of the issue, and will accept the issue by applying the
`triage/accepted` label and provide further guidance.

The `triage/accepted` label can be added by org members by writing `/triage accepted` in a comment.

<details>

Instructions for interacting with me using PR comments are available [here]

[2021-09-22 15:30] khebhut[bot] opened #60 "Kebechet pipfile-requirements manager: GitCommandError - bffcb46f99"
## Description
This is an automated issue generated by Kebechet. The pipfile-requirements manager threw an exception (GitCommandError) at
runtime. If you think this exception is a bug please open an issue upstream at https://github.com/thoth-station/kebechet
otherwise use the traceback below to help you fix whatever issues were encountered with your repository.

## Traceback
[code]

[2021-09-22 15:30] sesheta commented on #60
@khebhut[bot]: This issue is currently awaiting triage.
One of the @thoth-station/devs will take care of the issue, and will accept the issue by applying the
`triage/accepted` label and provide further guidance.

The `triage/accepted` label can be added by org members by writing `/triage accepted` in a comment.

<details>

Instructions for interacting with me using PR comments are available [here]

[2021-09-22 15:32] khebhut[bot] opened #61 "Kebechet thoth-advise manager: ConnectionError - 2bedc80296"
## Description
This is an automated issue generated by Kebechet. The thoth-advise manager threw an exception (ConnectionError) at
runtime. If you think this exception is a bug please open an issue upstream at https://github.com/thoth-station/kebechet
otherwise use the traceback below to help you fix whatever issues were encountered with your repository.

## Traceback
[code]

[2021-09-22 15:32] sesheta commented on #61
@khebhut[bot]: This issue is currently awaiting triage.
One of the @thoth-station/devs will take care of the issue, and will accept the issue by applying the
`triage/accepted` label and provide further guidance.

The `triage/accepted` label can be added by org members by writing `/triage accepted` in a comment.

<details>

Instructions for interacting with me using PR comments are available [here]

[2021-09-22 15:33] khebhut[bot] opened #62 "Kebechet thoth-advise manager: ConnectionError - fa0faa9dad"
## Description
This is an automated issue generated by Kebechet. The thoth-advise manager threw an exception (ConnectionError) at
runtime. If you think this exception is a bug please open an issue upstream at https://github.com/thoth-station/kebechet
otherwise use the traceback below to help you fix whatever issues were encountered with your repository.

## Traceback
[code]

[2021-09-22 15:33] sesheta commented on #62
@khebhut[bot]: This issue is currently awaiting triage.
One of the @thoth-station/devs will take care of the issue, and will accept the issue by applying the
`triage/accepted` label and provide further guidance.

The `triage/accepted` label can be added by org members by writing `/triage accepted` in a comment.

<details>

Instructions for interacting with me using PR comments are available [here]

[2021-09-22 23:32] khebhut[bot] opened #63 "Kebechet thoth-advise manager: ConnectionError - 22a8314e26"
## Description
This is an automated issue generated by Kebechet. The thoth-advise manager threw an exception (ConnectionError) at
runtime. If you think this exception is a bug please open an issue upstream at https://github.com/thoth-station/kebechet
otherwise use the traceback below to help you fix whatever issues were encountered with your repository.

## Traceback
[code]

[2021-09-22 23:32] sesheta commented on #63
@khebhut[bot]: This issue is currently awaiting triage.
One of the @thoth-station/devs will take care of the issue, and will accept the issue by applying the
`triage/accepted` label and provide further guidance.

The `triage/accepted` label can be added by org members by writing `/triage accepted` in a comment.

<details>

Instructions for interacting with me using PR comments are available [here]

[2021-09-22 23:32] khebhut[bot] opened #64 "Kebechet thoth-provenance manager: ConnectionError - 282d58309a"
## Description
This is an automated issue generated by Kebechet. The thoth-provenance manager threw an exception (ConnectionError) at
runtime. If you think this exception is a bug please open an issue upstream at https://github.com/thoth-station/kebechet
otherwise use the traceback below to help you fix whatever issues were encountered with your repository.

## Traceback
[code]

[2021-09-22 23:32] sesheta commented on #64
@khebhut[bot]: This issue is currently awaiting triage.
One of the @thoth-station/devs will take care of the issue, and will accept the issue by applying the
`triage/accepted` label and provide further guidance.

The `triage/accepted` label can be added by org members by writing `/triage accepted` in a comment.

<details>

Instructions for interacting with me using PR comments are available [here]

[2021-09-23 12:17] khebhut[bot] opened #65 "Kebechet thoth-advise manager: ConnectionError - 405dcbf0f2"
## Description
This is an automated issue generated by Kebechet. The thoth-advise manager threw an exception (ConnectionError) at
runtime. If you think this exception is a bug please open an issue upstream at https://github.com/thoth-station/kebechet
otherwise use the traceback below to help you fix whatever issues were encountered with your repository.

## Traceback
[code]

[2021-09-23 12:17] sesheta commented on #65
@khebhut[bot]: This issue is currently awaiting triage.
One of the @thoth-station/devs will take care of the issue, and will accept the issue by applying the
`triage/accepted` label and provide further guidance.

The `triage/accepted` label can be added by org members by writing `/triage accepted` in a comment.

<details>

Instructions for interacting with me using PR comments are available [here]

[2021-09-23 12:36] goern commented on #65
/kind bug
/priority critical-urgent
/triage accepted
/triage duplicate
/close

[2021-09-23 12:36] #65 closed

[2021-09-23 12:36] sesheta commented on #65
@goern: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/support/issues/65#issuecomment-925769290):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-infra]

[2021-09-23 15:55] khebhut[bot] opened #66 "Kebechet thoth-advise manager: ConnectionError - f2b33de287"
## Description
This is an automated issue generated by Kebechet. The thoth-advise manager threw an exception (ConnectionError) at
runtime. If you think this exception is a bug please open an issue upstream at https://github.com/thoth-station/kebechet
otherwise use the traceback below to help you fix whatever issues were encountered with your repository.

## Traceback
[code]

[2021-09-23 15:55] sesheta commented on #66
@khebhut[bot]: This issue is currently awaiting triage.
One of the @thoth-station/devs will take care of the issue, and will accept the issue by applying the
`triage/accepted` label and provide further guidance.

The `triage/accepted` label can be added by org members by writing `/triage accepted` in a comment.

<details>

Instructions for interacting with me using PR comments are available [here]

[2021-09-23 18:50] KPostOffice commented on #50
/close

[2021-09-23 18:50] #50 closed

[2021-09-23 18:50] sesheta commented on #50
@KPostOffice: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/support/issues/50#issuecomment-926068615):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-

[2021-09-23 19:10] KPostOffice commented on #66
/close

[2021-09-23 19:10] #66 closed

[2021-09-23 19:10] sesheta commented on #66
@KPostOffice: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/support/issues/66#issuecomment-926081600):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-

[2021-09-23 19:10] KPostOffice commented on #63
/close

[2021-09-23 19:10] #63 closed

[2021-09-23 19:10] sesheta commented on #63
@KPostOffice: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/support/issues/63#issuecomment-926081754):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-

[2021-09-23 19:10] KPostOffice commented on #62
/close

[2021-09-23 19:10] sesheta commented on #62
@KPostOffice: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/support/issues/62#issuecomment-926081880):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-

[2021-09-23 19:10] #62 closed

[2021-09-23 19:10] khebhut[bot] opened #67 "Kebechet pipfile-requirements manager: ValueError - 506d4b3c24"
## Description
This is an automated issue generated by Kebechet. The pipfile-requirements manager threw an exception (ValueError) at
runtime. If you think this exception is a bug please open an issue upstream at https://github.com/thoth-station/kebechet
otherwise use the traceback below to help you fix whatever issues were encountered with your repository.

## Traceback
[code]

[2021-09-23 19:10] KPostOffice commented on #51
/close

[2021-09-23 19:10] #51 closed

[2021-09-23 19:10] sesheta commented on #51
@KPostOffice: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/support/issues/51#issuecomment-926082219):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-

[2021-09-23 19:11] sesheta commented on #67
@khebhut[bot]: This issue is currently awaiting triage.
One of the @thoth-station/devs will take care of the issue, and will accept the issue by applying the
`triage/accepted` label and provide further guidance.

The `triage/accepted` label can be added by org members by writing `/triage accepted` in a comment.

<details>

Instructions for interacting with me using PR comments are available [here]

[2021-09-23 19:13] KPostOffice commented on #64
/close

[2021-09-23 19:14] #64 closed

[2021-09-23 19:14] sesheta commented on #64
@KPostOffice: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/support/issues/64#issuecomment-926084199):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-

[2021-09-23 19:14] KPostOffice commented on #61
/close

[2021-09-23 19:14] #61 closed

[2021-09-23 19:14] sesheta commented on #61
@KPostOffice: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/support/issues/61#issuecomment-926084304):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-

[2021-09-23 19:14] KPostOffice commented on #59
/close

[2021-09-23 19:14] sesheta commented on #59
@KPostOffice: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/support/issues/59#issuecomment-926084475):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-

[2021-09-23 19:14] #59 closed

[2021-09-23 19:51] KPostOffice commented on #58
/close

[2021-09-23 19:51] sesheta commented on #58
@KPostOffice: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/support/issues/58#issuecomment-926107228):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-

[2021-09-23 19:51] #58 closed

[2021-09-23 19:51] KPostOffice commented on #57
/close

[2021-09-23 19:51] #57 closed

[2021-09-23 19:51] sesheta commented on #57
@KPostOffice: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/support/issues/57#issuecomment-926107368):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-

[2021-09-23 19:51] KPostOffice commented on #55
/close

[2021-09-23 19:51] sesheta commented on #55
@KPostOffice: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/support/issues/55#issuecomment-926107509):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-

[2021-09-23 19:51] #55 closed

[2021-09-23 20:13] KPostOffice commented on #56
/close

[2021-09-23 20:13] #56 closed

[2021-09-23 20:13] sesheta commented on #56
@KPostOffice: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/support/issues/56#issuecomment-926120735):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-

[2021-09-23 20:58] KPostOffice commented on #54
/close

[2021-09-23 20:58] #54 closed

[2021-09-23 20:58] sesheta commented on #54
@KPostOffice: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/support/issues/54#issuecomment-926152537):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-

[2021-09-23 20:58] KPostOffice commented on #52
/close

[2021-09-23 20:58] sesheta commented on #52
@KPostOffice: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/support/issues/52#issuecomment-926152655):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-

[2021-09-23 20:58] #52 closed

[2021-09-23 20:58] KPostOffice commented on #53
/close

[2021-09-23 20:58] #53 closed

[2021-09-23 20:58] sesheta commented on #53
@KPostOffice: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/support/issues/53#issuecomment-926152744):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-

[2021-09-23 20:59] KPostOffice commented on #38
/close

[2021-09-23 20:59] #38 closed

[2021-09-23 20:59] sesheta commented on #38
@KPostOffice: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/support/issues/38#issuecomment-926153061):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-

[2021-09-23 20:59] KPostOffice commented on #39
/close

[2021-09-23 20:59] #39 closed

[2021-09-23 20:59] sesheta commented on #39
@KPostOffice: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/support/issues/39#issuecomment-926154453):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-

[2021-09-24 18:52] oindrillac opened #68 "Use Sesheta Access Token for building operate-first.github.io"
We need a Github token for the https://github.com/operate-first/operate-first.github.io repo which needs to be added under `Environment Variables` [Travis CI](https://app.travis-ci.com/github/operate-first/operate-first.github.io/settings) for automated website re-builds. Can we use Sesheta to provide a token for the same?

cc: @HumairAK @harshad16

[2021-09-24 18:52] sesheta commented on #68
@oindrillac: This issue is currently awaiting triage.
One of the @thoth-station/devs will take care of the issue, and will accept the issue by applying the
`triage/accepted` label and provide further guidance.

The `triage/accepted` label can be added by org members by writing `/triage accepted` in a comment.

<details>

Instructions for interacting with me using PR comments are available [here](h

[2021-09-24 19:08] harshad16 commented on #68
/triage accepted
Discussion is going on : https://operatefirst.slack.com/archives/C01RMPVUUK1/p1631732900111900

[2021-09-24 19:42] HumairAK commented on #68
created a separate operate-first account for specifically operate-first org, this can be closed

[2021-09-24 19:42] harshad16 commented on #68
Thanks, closing this issue.

[2021-09-24 19:42] #68 closed

[2021-09-27 08:30] khebhut[bot] opened #69 "Kebechet version manager: TypeError - c6f64b602a"
## Description
This is an automated issue generated by Kebechet. The version manager threw an exception (TypeError) at
runtime while working on the following repository https://github.com/thoth-station/prescriptions

## Traceback
[code]

[2021-09-27 08:31] sesheta commented on #69
@khebhut[bot]: This issue is currently awaiting triage.
One of the @thoth-station/devs will take care of the issue, and will accept the issue by applying the
`triage/accepted` label and provide further guidance.

The `triage/accepted` label can be added by org members by writing `/triage accepted` in a comment.

<details>

Instructions for interacting with me using PR comments are available [here]

[2021-09-27 08:56] goern commented on #69
/kind bug
/priority critical-urgent
/assign @KPostOffice
/triage accepted

[2021-09-27 10:57] khebhut[bot] opened #70 "Kebechet thoth-advise manager: ConnectionError - 75c889c57d"
## Description
This is an automated issue generated by Kebechet. The thoth-advise manager threw an exception (ConnectionError) at
runtime while working on the following repository https://github.com/pacospace/elyra-aidevsecops-tutorial

## Traceback
[code]

[2021-09-27 10:57] sesheta commented on #70
@khebhut[bot]: This issue is currently awaiting triage.
One of the @thoth-station/devs will take care of the issue, and will accept the issue by applying the
`triage/accepted` label and provide further guidance.

The `triage/accepted` label can be added by org members by writing `/triage accepted` in a comment.

<details>

Instructions for interacting with me using PR comments are available [here]

[2021-09-27 12:10] khebhut[bot] opened #71 "Kebechet thoth-advise manager: ConnectionError - a9bcc6b106"
## Description
This is an automated issue generated by Kebechet. The thoth-advise manager threw an exception (ConnectionError) at
runtime while working on the following repository https://github.com/pacospace/elyra-aidevsecops-tutorial

## Traceback
[code]

[2021-09-27 12:11] sesheta commented on #71
@khebhut[bot]: This issue is currently awaiting triage.
One of the @thoth-station/devs will take care of the issue, and will accept the issue by applying the
`triage/accepted` label and provide further guidance.

The `triage/accepted` label can be added by org members by writing `/triage accepted` in a comment.

<details>

Instructions for interacting with me using PR comments are available [here]

[2021-09-27 12:51] khebhut[bot] opened #72 "Kebechet thoth-advise manager: ConnectionError - 2dedd24f84"
## Description
This is an automated issue generated by Kebechet. The thoth-advise manager threw an exception (ConnectionError) at
runtime while working on the following repository https://github.com/operate-first/hitchhikers-guide

## Traceback
[code]

[2021-09-27 12:51] sesheta commented on #72
@khebhut[bot]: This issue is currently awaiting triage.
One of the @thoth-station/devs will take care of the issue, and will accept the issue by applying the
`triage/accepted` label and provide further guidance.

The `triage/accepted` label can be added by org members by writing `/triage accepted` in a comment.

<details>

Instructions for interacting with me using PR comments are available [here]

[2021-09-27 13:35] khebhut[bot] opened #73 "Kebechet version manager: GitCommandError - 5bb56b319e"
## Description
This is an automated issue generated by Kebechet. The version manager threw an exception (GitCommandError) at
runtime while working on the following repository https://github.com/thoth-station/prescriptions

## Traceback
[code]

[2021-09-27 13:35] sesheta commented on #73
@khebhut[bot]: This issue is currently awaiting triage.
One of the @thoth-station/devs will take care of the issue, and will accept the issue by applying the
`triage/accepted` label and provide further guidance.

The `triage/accepted` label can be added by org members by writing `/triage accepted` in a comment.

<details>

Instructions for interacting with me using PR comments are available [here]

[2021-09-27 13:59] goern commented on #73
/kind bug
/priority critical-urgent
/assign @KPostOffice
/triage accepted

[2021-09-27 13:59] goern commented on #72
/kind bug
/priority critical-urgent
/assign @KPostOffice
/triage accepted

[2021-09-27 13:59] goern commented on #71
/kind bug
/priority critical-urgent
/assign @KPostOffice
/triage accepted

[2021-09-27 14:00] goern commented on #70
/kind bug
/priority critical-urgent
/assign @KPostOffice
/triage accepted

[2021-09-27 14:00] goern commented on #67
/kind bug
/priority critical-urgent
/assign @KPostOffice
/triage accepted

[2021-09-27 14:38] khebhut[bot] opened #74 "Kebechet version manager: OSError - 1550faa549"
## Description
This is an automated issue generated by Kebechet. The version manager threw an exception (OSError) at
runtime while working on the following repository https://github.com/thoth-station/prescriptions

## Traceback
[code]

[2021-09-27 14:39] sesheta commented on #74
@khebhut[bot]: This issue is currently awaiting triage.
One of the @thoth-station/devs will take care of the issue, and will accept the issue by applying the
`triage/accepted` label and provide further guidance.

The `triage/accepted` label can be added by org members by writing `/triage accepted` in a comment.

<details>

Instructions for interacting with me using PR comments are available [here]

[2021-09-28 08:03] khebhut[bot] opened #75 "Kebechet thoth-advise manager: ConnectionError on kebechet_runners.py:202"
## Description
This is an automated issue generated by Kebechet. The thoth-advise manager threw an exception (ConnectionError) at
runtime while working on the following repository https://github.com/pacospace/elyra-aidevsecops-tutorial

## Traceback
[code]

[2021-09-28 08:03] sesheta commented on #75
@khebhut[bot]: This issue is currently awaiting triage.
One of the @thoth-station/devs will take care of the issue, and will accept the issue by applying the
`triage/accepted` label and provide further guidance.

The `triage/accepted` label can be added by org members by writing `/triage accepted` in a comment.

<details>

Instructions for interacting with me using PR comments are available [here]

[2021-09-28 13:52] khebhut[bot] opened #76 "Kebechet update manager: KeyError on kebechet_runners.py:202"
## Description
This is an automated issue generated by Kebechet. The update manager threw an exception (KeyError) at
runtime while working on the following repository https://github.com/os-climate/aicoe-osc-demo

## Traceback
[code]

[2021-09-28 13:53] harshad16 opened #77 "Build pipeline not functioning on the aicoe-osc-demo"
**Describe the bug**
Manually tagged a release for https://github.com/os-climate/aicoe-osc-demo because opening an issue wasn't triggering a tag release https://github.com/os-climate/aicoe-osc-demo/issues/23.
I still dont see an image being created for this. Is the build-pipeline running?

cc: @oindrillac

Threadlink: https://chat.google.com/room/AAAAVjnVXFk/VRaoFTqhYEc

[2021-09-28 13:53] sesheta commented on #77
@harshad16: This issue is currently awaiting triage.
One of the @thoth-station/devs will take care of the issue, and will accept the issue by applying the
`triage/accepted` label and provide further guidance.

The `triage/accepted` label can be added by org members by writing `/triage accepted` in a comment.

<details>

Instructions for interacting with me using PR comments are available [here](ht

[2021-09-28 14:02] harshad16 commented on #77
Thanks, checking with the issue https://github.com/os-climate/aicoe-osc-demo/issues/24

[2021-09-28 14:02] harshad16 commented on #77
This pipeline would assist you: https://tekton.operate-first.cloud/#/namespaces/opf-ci-pipelines/pipelineruns/aicoe-issue-9c9361cd-9afa-4c31-8f7f-167ce6887a47?pipelineTask=aicoe-issue-9c9361cd-9afa-4c31-8f7f-167ce6887a47-issue-py-hp97m&step=condition-check-issue-check

[2021-09-28 14:38] harshad16 commented on #77
![os-climate](https://user-images.githubusercontent.com/14028058/135109113-2c755cce-310c-42c8-83d7-1f502053e98f.png)
There are some creds missing, which is causing the pipeline to stall and then get a timeout.

[2021-09-28 15:17] harshad16 commented on #77
@oindrillac , it seems there an issue
[code]

The fix for this would be :
- Go to quay.io https://quay.io/repository/os-climate/aicoe-osc-demo
- check if that repository exists
- if does, add os-climate-pusher bot with write access to this repo.
can you please check these.

[2021-09-28 15:35] erikerlandson commented on #77
@harshad16  @oindrillac   I added the bot permissions to that quay repo

[2021-09-28 16:04] KPostOffice commented on #75
/close

[2021-09-28 16:04] #75 closed

[2021-09-28 16:09] khebhut[bot] opened #78 "Kebechet thoth-advise manager: ConnectionError on kebechet_runners.py:202"
## Description
This is an automated issue generated by Kebechet. The thoth-advise manager threw an exception (ConnectionError) at
runtime while working on the following repository https://github.com/thoth-station/jupyterlab-requirements

## Traceback
[code]

[2021-09-28 16:09] sesheta commented on #78
@khebhut[bot]: This issue is currently awaiting triage.
One of the @thoth-station/devs will take care of the issue, and will accept the issue by applying the
`triage/accepted` label and provide further guidance.

The `triage/accepted` label can be added by org members by writing `/triage accepted` in a comment.

<details>

Instructions for interacting with me using PR comments are available [here]

[2021-09-28 16:10] goern commented on #78
/triage duplicate
/traige accepted
/close

[2021-09-28 16:11] #78 closed

[2021-09-28 16:11] sesheta commented on #78
@goern: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/support/issues/78#issuecomment-929373288):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-infra]

[2021-09-28 17:59] khebhut[bot] opened #79 "Kebechet version manager: FileNotFoundError on kebechet_runners.py:202"
## Description
This is an automated issue generated by Kebechet. The version manager threw an exception (FileNotFoundError) at
runtime while working on the following repository https://github.com/aicoe-aiops/ocp-ci-analysis

## Traceback
[code]

[2021-09-28 17:59] sesheta commented on #79
@khebhut[bot]: This issue is currently awaiting triage.
One of the @thoth-station/devs will take care of the issue, and will accept the issue by applying the
`triage/accepted` label and provide further guidance.

The `triage/accepted` label can be added by org members by writing `/triage accepted` in a comment.

<details>

Instructions for interacting with me using PR comments are available [here]

[2021-09-28 18:54] khebhut[bot] opened #80 "Kebechet pipfile-requirements manager: ValueError on kebechet_runners.py:202"
## Description
This is an automated issue generated by Kebechet. The pipfile-requirements manager threw an exception (ValueError) at
runtime while working on the following repository https://github.com/aicoe-aiops/github-labeler

## Traceback
[code]

[2021-09-28 18:54] sesheta commented on #80
@khebhut[bot]: This issue is currently awaiting triage.
One of the @thoth-station/devs will take care of the issue, and will accept the issue by applying the
`triage/accepted` label and provide further guidance.

The `triage/accepted` label can be added by org members by writing `/triage accepted` in a comment.

<details>

Instructions for interacting with me using PR comments are available [here]

[2021-09-28 20:52] KPostOffice commented on #70
/close

[2021-09-28 20:52] #70 closed

[2021-09-28 20:52] sesheta commented on #70
@KPostOffice: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/support/issues/70#issuecomment-929616200):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-

[2021-09-28 20:52] KPostOffice commented on #71
/close

[2021-09-28 20:52] #71 closed

[2021-09-28 20:52] sesheta commented on #71
@KPostOffice: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/support/issues/71#issuecomment-929616305):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-

[2021-09-28 20:52] KPostOffice commented on #72
/close

[2021-09-28 20:52] #72 closed

[2021-09-28 20:52] sesheta commented on #72
@KPostOffice: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/support/issues/72#issuecomment-929616470):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-

[2021-09-28 21:00] KPostOffice commented on #80
duplicate
/close

[2021-09-28 21:00] #80 closed

[2021-09-28 21:00] sesheta commented on #80
@KPostOffice: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/support/issues/80#issuecomment-929621006):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-

[2021-09-28 21:12] khebhut[bot] opened #81 "Kebechet thoth-advise manager: FileLoadError on kebechet_runners.py:202"
## Description
This is an automated issue generated by Kebechet. The thoth-advise manager threw an exception (FileLoadError) at
runtime while working on the following repository https://github.com/AICoE/aicoe-cd

## Traceback
[code]

[2021-09-28 21:12] sesheta commented on #81
@khebhut[bot]: This issue is currently awaiting triage.
One of the @thoth-station/devs will take care of the issue, and will accept the issue by applying the
`triage/accepted` label and provide further guidance.

The `triage/accepted` label can be added by org members by writing `/triage accepted` in a comment.

<details>

Instructions for interacting with me using PR comments are available [here]

[2021-09-28 22:38] khebhut[bot] opened #82 "Kebechet update manager: InternalError on kebechet_runners.py:202"
## Description
This is an automated issue generated by Kebechet. The update manager threw an exception (InternalError) at
runtime while working on the following repository https://github.com/os-climate/data-platform-demo

## Traceback
[code]

[2021-09-28 22:38] sesheta commented on #82
@khebhut[bot]: This issue is currently awaiting triage.
One of the @thoth-station/devs will take care of the issue, and will accept the issue by applying the
`triage/accepted` label and provide further guidance.

The `triage/accepted` label can be added by org members by writing `/triage accepted` in a comment.

<details>

Instructions for interacting with me using PR comments are available [here]

[2021-09-29 06:36] khebhut[bot] opened #83 "Kebechet thoth-advise manager: ConnectionError on kebechet_runners.py:202"
## Description
This is an automated issue generated by Kebechet. The thoth-advise manager threw an exception (ConnectionError) at
runtime while working on the following repository https://github.com/operate-first/hitchhikers-guide

## Traceback
[code]

[2021-09-29 06:36] sesheta commented on #83
@khebhut[bot]: This issue is currently awaiting triage.
One of the @thoth-station/devs will take care of the issue, and will accept the issue by applying the
`triage/accepted` label and provide further guidance.

The `triage/accepted` label can be added by org members by writing `/triage accepted` in a comment.

<details>

Instructions for interacting with me using PR comments are available [here]

[2021-09-29 16:08] khebhut[bot] opened #84 "Kebechet pipfile-requirements manager: ValueError on kebechet_runners.py:202"
## Description
This is an automated issue generated by Kebechet. The pipfile-requirements manager threw an exception (ValueError) at
runtime while working on the following repository https://github.com/aicoe-aiops/github-labeler

## Traceback
[code]

[2021-09-29 16:08] sesheta commented on #84
@khebhut[bot]: This issue is currently awaiting triage.
One of the @thoth-station/devs will take care of the issue, and will accept the issue by applying the
`triage/accepted` label and provide further guidance.

The `triage/accepted` label can be added by org members by writing `/triage accepted` in a comment.

<details>

Instructions for interacting with me using PR comments are available [here]

[2021-09-29 18:39] KPostOffice commented on #84
/close

[2021-09-29 18:39] #84 closed

[2021-09-29 18:39] sesheta commented on #84
@KPostOffice: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/support/issues/84#issuecomment-930443724):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-

[2021-09-29 19:02] KPostOffice commented on #82
@fridex This happens because a user updates their requirements without locking. I think we should probably handle this case for old dependencies by returning `None` and handling the case where the dependency version goes from `None`->`X.Y.Z` WDYT?

[2021-09-29 20:34] KPostOffice commented on #13
/close
fixed by the above PR

[2021-09-29 20:34] sesheta commented on #13
@KPostOffice: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/support/issues/13#issuecomment-930522874):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-

[2021-09-29 20:34] #13 closed

[2021-09-30 11:32] sesheta commented on #10
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2021-09-30 11:32] sesheta commented on #10
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2021-09-30 11:32] #10 closed

[2021-09-30 11:32] sesheta commented on #10
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/support/issues/10#issuecomment-931238409):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-infr

[2021-09-30 20:48] KPostOffice commented on #83
/close

[2021-09-30 20:48] #83 closed

[2021-09-30 20:48] sesheta commented on #83
@KPostOffice: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/support/issues/83#issuecomment-931653408):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-

[2021-09-30 20:49] KPostOffice commented on #28
/close

[2021-09-30 20:49] sesheta commented on #28
@KPostOffice: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/support/issues/28#issuecomment-931654281):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-

[2021-09-30 20:49] #28 closed

[2021-09-30 20:50] KPostOffice commented on #46
/close

[2021-09-30 20:50] #46 closed

[2021-09-30 20:50] sesheta commented on #46
@KPostOffice: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/support/issues/46#issuecomment-931655922):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-

[2021-10-04 07:05] goern commented on #79
/kind bug
/priority critical-urgent
/assign @KPostOffice

[2021-10-04 07:05] goern commented on #76
/kind bug
/priority critical-urgent
/assign @KPostOffice
/triage accepted

[2021-10-04 07:05] goern commented on #74
/kind bug
/priority critical-urgent
/assign @KPostOffice
/triage accepted

[2021-10-04 07:06] goern commented on #82
/kind bug
/priority critical-urgent
/assign @KPostOffice
/triage accepted

[2021-10-04 07:06] goern commented on #81
/kind bug
/priority critical-urgent
/assign @KPostOffice
/triage accepted

[2021-10-04 07:06] goern commented on #79
/triage accepted

[2021-10-04 07:07] goern commented on #60
/kind bug
/priority critical-urgent
/assign @KPostOffice
/triage accepted

[2021-10-04 07:07] goern commented on #49
/kind bug
/priority critical-urgent
/assign @KPostOffice
/triage accepted

[2021-10-04 07:07] goern commented on #48
/kind bug
/priority critical-urgent
/assign @KPostOffice
/triage accepted

[2021-10-04 07:07] goern commented on #47
/kind bug
/priority critical-urgent
/assign @KPostOffice
/triage accepted

[2021-10-04 07:07] goern commented on #45
/kind bug
/priority critical-urgent
/assign @KPostOffice
/triage accepted

[2021-10-04 07:07] goern commented on #31
/kind bug
/priority critical-urgent
/assign @KPostOffice
/triage accepted

[2021-10-04 07:07] goern commented on #29
/kind bug
/priority critical-urgent
/assign @KPostOffice
/triage accepted

[2021-10-04 07:07] goern commented on #27
/kind bug
/priority critical-urgent
/assign @KPostOffice
/triage accepted

[2021-10-04 07:07] goern commented on #26
/kind bug
/priority critical-urgent
/triage accepted

[2021-10-04 07:07] fridex commented on #82
Sounds good to me. 👍🏻

[2021-10-04 07:07] goern commented on #25
/kind bug
/priority critical-urgent
/assign @KPostOffice
/triage accepted

[2021-10-04 07:08] goern commented on #20
/kind bug
/priority critical-urgent
/assign @KPostOffice
/triage accepted
/lifecycle active

[2021-10-04 07:25] fridex commented on #73
@KPostOffice it might be a good idea to pass `--depth=1` not to clone all the deltas. If that will not work, we might need to allocate some PV.

[2021-10-04 08:39] khebhut[bot] opened #85 "Kebechet thoth-advise manager: ConnectionError on kebechet_runners.py:202"
## Description
This is an automated issue generated by Kebechet. The thoth-advise manager threw an exception (ConnectionError) at
runtime while working on the following repository https://github.com/AICoE/elyra-aidevsecops-tutorial

## Traceback
[code]

[2021-10-04 08:39] sesheta commented on #85
@khebhut[bot]: This issue is currently awaiting triage.
One of the @thoth-station/devs will take care of the issue, and will accept the issue by applying the
`triage/accepted` label and provide further guidance.

The `triage/accepted` label can be added by org members by writing `/triage accepted` in a comment.

<details>

Instructions for interacting with me using PR comments are available [here]

[2021-10-04 12:25] goern commented on #85
/triage duplicate
/close

[2021-10-04 12:25] #85 closed

[2021-10-04 12:25] sesheta commented on #85
@goern: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/support/issues/85#issuecomment-933433257):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-infra]

[2021-10-04 13:13] khebhut[bot] opened #86 "Kebechet thoth-advise manager: ConnectionError on kebechet_runners.py:202"
## Description
This is an automated issue generated by Kebechet. The thoth-advise manager threw an exception (ConnectionError) at
runtime while working on the following repository https://github.com/AICoE/elyra-aidevsecops-tutorial

## Traceback
[code]

[2021-10-04 13:13] sesheta commented on #86
@khebhut[bot]: This issue is currently awaiting triage.
One of the @thoth-station/devs will take care of the issue, and will accept the issue by applying the
`triage/accepted` label and provide further guidance.

The `triage/accepted` label can be added by org members by writing `/triage accepted` in a comment.

<details>

Instructions for interacting with me using PR comments are available [here]

[2021-10-04 14:58] khebhut[bot] opened #87 "Kebechet thoth-advise manager: SSLError on kebechet_runners.py:202"
## Description
This is an automated issue generated by Kebechet. The thoth-advise manager threw an exception (SSLError) at
runtime while working on the following repository https://github.com/pacospace/elyra-aidevsecops-tutorial

## Traceback
[code]

[2021-10-04 14:58] sesheta commented on #87
@khebhut[bot]: This issue is currently awaiting triage.
One of the @thoth-station/devs will take care of the issue, and will accept the issue by applying the
`triage/accepted` label and provide further guidance.

The `triage/accepted` label can be added by org members by writing `/triage accepted` in a comment.

<details>

Instructions for interacting with me using PR comments are available [here]

[2021-10-04 16:02] khebhut[bot] opened #88 "Kebechet pipfile-requirements manager: ValueError on kebechet_runners.py:202"
## Description
This is an automated issue generated by Kebechet. The pipfile-requirements manager threw an exception (ValueError) at
runtime while working on the following repository https://github.com/os-climate/aicoe-osc-demo

## Traceback
[code]

[2021-10-04 16:02] sesheta commented on #88
@khebhut[bot]: This issue is currently awaiting triage.
One of the @thoth-station/devs will take care of the issue, and will accept the issue by applying the
`triage/accepted` label and provide further guidance.

The `triage/accepted` label can be added by org members by writing `/triage accepted` in a comment.

<details>

Instructions for interacting with me using PR comments are available [here]

[2021-10-05 07:08] goern commented on #86
/triage accepted
/triage duplicate

see #85
/close

[2021-10-05 07:08] #86 closed

[2021-10-05 07:08] sesheta commented on #86
@goern: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/support/issues/86#issuecomment-934128467):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-infra]

[2021-10-05 07:11] goern commented on #88
/triage accepted
/triage duplicate

see #80
/close

[2021-10-05 07:11] #88 closed

[2021-10-05 07:11] sesheta commented on #88
@goern: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/support/issues/88#issuecomment-934130332):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-infra]

[2021-10-05 07:12] goern commented on #87
/priority critical-urgent
/kind bug
/assign @KPostOffice
/triage accepted

[2021-10-05 15:24] khebhut[bot] opened #89 "Kebechet pipfile-requirements manager: ValueError on kebechet_runners.py:202"
## Description
This is an automated issue generated by Kebechet. The pipfile-requirements manager threw an exception (ValueError) at
runtime while working on the following repository https://github.com/aicoe-aiops/performance-qe

## Traceback
[code]

[2021-10-05 15:24] sesheta commented on #89
@khebhut[bot]: This issue is currently awaiting triage.
One of the @thoth-station/devs will take care of the issue, and will accept the issue by applying the
`triage/accepted` label and provide further guidance.

The `triage/accepted` label can be added by org members by writing `/triage accepted` in a comment.

<details>

Instructions for interacting with me using PR comments are available [here]

[2021-10-05 15:24] khebhut[bot] opened #90 "Kebechet update manager: DependencyManagementError on kebechet_runners.py:202"
## Description
This is an automated issue generated by Kebechet. The update manager threw an exception (DependencyManagementError) at
runtime while working on the following repository https://github.com/aicoe-aiops/performance-qe

## Traceback
[code]

[2021-10-05 15:25] sesheta commented on #90
@khebhut[bot]: This issue is currently awaiting triage.
One of the @thoth-station/devs will take care of the issue, and will accept the issue by applying the
`triage/accepted` label and provide further guidance.

The `triage/accepted` label can be added by org members by writing `/triage accepted` in a comment.

<details>

Instructions for interacting with me using PR comments are available [here]

[2021-10-05 19:31] MichaelClifford opened #91 "More documentation for the template issues for tag releases and redelivering containers."
**Is your feature request related to a problem? Please describe.**

Not sure if this issue should be tracked here or in https://github.com/aicoe-aiops/project-template. However, the template issues that are included in each of our projects through the template repo that are designed to interact with Thoth's build pipelines need more documentation to clarify use, expectations and differentiation be

[2021-10-06 12:40] khebhut[bot] opened #92 "Kebechet thoth-advise manager: ServiceUnavailable on kebechet_runners.py:202"
## Description
This is an automated issue generated by Kebechet. The thoth-advise manager threw an exception (ServiceUnavailable) at
runtime while working on the following repository https://github.com/aicoe-aiops/data-science-workflows

## Traceback
[code]

[2021-10-06 12:40] sesheta commented on #92
@khebhut[bot]: This issue is currently awaiting triage.
One of the @thoth-station/devs will take care of the issue, and will accept the issue by applying the
`triage/accepted` label and provide further guidance.

The `triage/accepted` label can be added by org members by writing `/triage accepted` in a comment.

<details>

Instructions for interacting with me using PR comments are available [here]

[2021-10-06 13:30] khebhut[bot] opened #93 "Kebechet thoth-advise manager: ConfigurationError on kebechet_runners.py:202"
## Description
This is an automated issue generated by Kebechet. The thoth-advise manager threw an exception (ConfigurationError) at
runtime while working on the following repository https://github.com/thoth-station/ps-ip

## Traceback
[code]

[2021-10-06 13:30] sesheta commented on #93
@khebhut[bot]: This issue is currently awaiting triage.
One of the @thoth-station/devs will take care of the issue, and will accept the issue by applying the
`triage/accepted` label and provide further guidance.

The `triage/accepted` label can be added by org members by writing `/triage accepted` in a comment.

<details>

Instructions for interacting with me using PR comments are available [here]

[2021-10-06 14:35] khebhut[bot] opened #94 "Kebechet version manager: GithubException on kebechet_runners.py:202"
## Description
This is an automated issue generated by Kebechet. The version manager threw an exception (GithubException) at
runtime while working on the following repository https://github.com/thoth-station/jupyterlab-requirements

## Traceback
[code]

[2021-10-06 19:40] KPostOffice commented on #25
/close

[2021-10-06 19:40] sesheta commented on #25
@KPostOffice: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/support/issues/25#issuecomment-936987431):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-

[2021-10-07 14:00] sesheta commented on #94
@KPostOffice: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/support/issues/94#issuecomment-937821813):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-

[2021-10-07 15:12] EldritchJS opened #95 "Kebechet is not responding to ps-ip new patch release issue."
**Describe the bug**
Kebechet is not responding to new patch release issue.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://github.com/thoth-station/ps-ip
2. Click on Pull Requests
3. Scroll down
4. See no PR from Kebechet

**Expected behavior**
My understanding is Kebechet is to create a PR as a next step after my patch release issue is created

**Screenshots**

**Additional c

[2021-10-07 15:12] sesheta commented on #95
@EldritchJS: This issue is currently awaiting triage.
One of the @thoth-station/devs will take care of the issue, and will accept the issue by applying the
`triage/accepted` label and provide further guidance.

The `triage/accepted` label can be added by org members by writing `/triage accepted` in a comment.

<details>

Instructions for interacting with me using PR comments are available [here](h

[2021-10-07 15:48] harshad16 commented on #95
Kebechet is now able to open the PR: https://github.com/thoth-station/ps-ip/pull/7

The reason, why it didn't work before:
we had an imagepullerror across the cluster, we had fixed the issue just a few hours before.
That was the cause for the previous request to be completed.
kebechet is on service now.
please let us know if there are any more issues.

Please close if the solution seems to be effe

[2021-10-07 18:03] EldritchJS commented on #95
Thanks @harshad16 !

[2021-10-07 18:03] #95 closed, assigned to harshad16, pacospace

[2021-10-07 21:17] #20 closed

[2021-10-07 21:17] sesheta commented on #20
@KPostOffice: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/support/issues/20#issuecomment-938162359):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-

[2021-10-08 16:39] khebhut opened #96 "Kebechet thoth-advise manager: KeyError on kebechet_runners.py:202"
## Description
This is an automated issue generated by Kebechet. The thoth-advise manager threw an exception (KeyError) at
runtime while working on the following repository https://github.com/aicoe-aiops/data-science-workflows

## Traceback
[code]

[2021-10-08 16:39] sesheta commented on #96
@khebhut[bot]: This issue is currently awaiting triage.
One of the @thoth-station/devs will take care of the issue, and will accept the issue by applying the
`triage/accepted` label and provide further guidance.

The `triage/accepted` label can be added by org members by writing `/triage accepted` in a comment.

<details>

Instructions for interacting with me using PR comments are available [here]

[2021-10-08 20:03] KPostOffice commented on #26
/close

[2021-10-08 20:04] #31 closed

[2021-10-12 06:03] khebhut opened #100 "Kebechet version manager: FileNotFoundError on kebechet_runners.py:205"
## Description
This is an automated issue generated by Kebechet. The version manager threw an exception (FileNotFoundError) at
runtime while working on the following repository https://github.com/aicoe-aiops/ocp-ci-analysis

## Traceback
[code]

[2021-10-12 06:03] sesheta commented on #100
@khebhut[bot]: This issue is currently awaiting triage.
One of the @thoth-station/devs will take care of the issue, and will accept the issue by applying the
`triage/accepted` label and provide further guidance.

The `triage/accepted` label can be added by org members by writing `/triage accepted` in a comment.

<details>

Instructions for interacting with me using PR comments are available [here]

[2021-10-12 14:59] khebhut[bot] opened #101 "Kebechet update manager: GithubException on kebechet_runners.py:205"
## Description
This is an automated issue generated by Kebechet. The update manager threw an exception (GithubException) at
runtime while working on the following repository https://github.com/thoth-station/solver

## Traceback
[code]

[2021-10-12 14:59] sesheta commented on #101
@khebhut[bot]: This issue is currently awaiting triage.
One of the @thoth-station/devs will take care of the issue, and will accept the issue by applying the
`triage/accepted` label and provide further guidance.

The `triage/accepted` label can be added by org members by writing `/triage accepted` in a comment.

<details>

Instructions for interacting with me using PR comments are available [here]

[2021-10-12 17:15] khebhut[bot] opened #102 "Kebechet version manager: IndexError on kebechet_runners.py:205"
## Description
This is an automated issue generated by Kebechet. The version manager threw an exception (IndexError) at
runtime while working on the following repository https://github.com/thoth-station/mi

## Traceback
[code]

[2021-10-12 17:17] khebhut opened #103 "Kebechet thoth-advise manager: KeyError on kebechet_runners.py:205"
## Description
This is an automated issue generated by Kebechet. The thoth-advise manager threw an exception (KeyError) at
runtime while working on the following repository https://github.com/isabelizimm/elyra-aidevsecops-tutorial

## Traceback
[code]

[2021-10-12 17:17] khebhut[bot] opened #104 "Kebechet thoth-advise manager: KeyError on kebechet_runners.py:205"
## Description
This is an automated issue generated by Kebechet. The thoth-advise manager threw an exception (KeyError) at
runtime while working on the following repository https://github.com/isabelizimm/elyra-aidevsecops-tutorial

## Traceback
[code]

[2021-10-12 22:29] khebhut opened #105 "Kebechet pipfile-requirements manager: ValueError on kebechet_runners.py:205"
## Description
This is an automated issue generated by Kebechet. The pipfile-requirements manager threw an exception (ValueError) at
runtime while working on the following repository https://github.com/os-climate/aicoe-osc-demo

## Traceback
[code]

[2021-10-12 22:29] khebhut[bot] opened #106 "Kebechet update manager: DependencyManagementError on kebechet_runners.py:205"
## Description
This is an automated issue generated by Kebechet. The update manager threw an exception (DependencyManagementError) at
runtime while working on the following repository https://github.com/os-climate/aicoe-osc-demo

## Traceback
[code]

[2021-10-13 00:28] khebhut[bot] opened #107 "Kebechet update manager: ConnectTimeout on kebechet_runners.py:205"
## Description
This is an automated issue generated by Kebechet. The update manager threw an exception (ConnectTimeout) at
runtime while working on the following repository https://github.com/thoth-station/solver

## Traceback
[code]

[2021-10-13 07:17] khebhut[bot] opened #108 "Kebechet update manager: ConnectionError on kebechet_runners.py:205"
## Description
This is an automated issue generated by Kebechet. The update manager threw an exception (ConnectionError) at
runtime while working on the following repository https://github.com/thoth-station/solver

## Traceback
[code]

[2021-10-13 07:17] sesheta commented on #108
@khebhut[bot]: This issue is currently awaiting triage.
One of the @thoth-station/devs will take care of the issue, and will accept the issue by applying the
`triage/accepted` label and provide further guidance.

The `triage/accepted` label can be added by org members by writing `/triage accepted` in a comment.

<details>

Instructions for interacting with me using PR comments are available [here]

[2021-10-14 10:32] #91 closed

[2021-10-14 12:33] mayaCostantini opened #109 "Kebechet is not able to release my version of the manage-dependencies-tutorial"
**Describe the bug**
Following the steps described in the [manage-dependencies-tutorial](https://github.com/AICoE/manage-dependencies-tutorial/blob/master/docs/thoth-aicoe-services.md#create-new-release), Kebechet did not automatically release my version and the bot label was not available for this issue on my branch.

**To Reproduce**
Steps to reproduce the behavior:
Follow the steps of the tutor

[2021-10-14 12:58] pacospace commented on #91
Sounds good!

[2021-10-14 13:45] harshad16 commented on #109
checking the deployment

[2021-10-14 21:19] khebhut opened #110 "Kebechet pipfile-requirements manager: ValueError on kebechet_runners.py:206"
## Description
This is an automated issue generated by Kebechet. The pipfile-requirements manager threw an exception (ValueError) at
runtime while working on the following repository https://github.com/aicoe-aiops/project-template

## Traceback
[code]

[2021-10-14 21:20] khebhut opened #111 "Kebechet update manager: DependencyManagementError on kebechet_runners.py:206"
## Description
This is an automated issue generated by Kebechet. The update manager threw an exception (DependencyManagementError) at
runtime while working on the following repository https://github.com/aicoe-aiops/project-template

## Traceback
[code]

[2021-10-14 21:20] sesheta commented on #111
@khebhut[bot]: This issue is currently awaiting triage.
One of the @thoth-station/devs will take care of the issue, and will accept the issue by applying the
`triage/accepted` label and provide further guidance.

The `triage/accepted` label can be added by org members by writing `/triage accepted` in a comment.

<details>

Instructions for interacting with me using PR comments are available [here]

[2021-10-15 09:39] khebhut[bot] opened #112 "Kebechet thoth-advise manager: KeyError on kebechet_runners.py:206"
## Description
This is an automated issue generated by Kebechet. The thoth-advise manager threw an exception (KeyError) at
runtime while working on the following repository https://github.com/pacospace/elyra-aidevsecops-tutorial

## Traceback
[code]

[2021-10-15 09:39] khebhut[bot] opened #113 "Kebechet thoth-advise manager: KeyError on kebechet_runners.py:206"
## Description
This is an automated issue generated by Kebechet. The thoth-advise manager threw an exception (KeyError) at
runtime while working on the following repository https://github.com/pacospace/elyra-aidevsecops-tutorial

## Traceback
[code]

[2021-10-15 13:07] EldritchJS opened #114 "Thoth refers to pyifd rather than pyIFD for thoth-station/ps-ip"
**Describe the bug**
pyIFD is considered pyifd by Thoth

**To Reproduce**
Steps to reproduce the behavior:
1. `git clone https://github.com/thoth-station/ps-ip`
2. run `thamos advise`
3. observe mention of `pyifd` rather than `pyIFD`

**Expected behavior**
I expect `pyIFD` to be mentioned rather than `pyifd`

**Screenshots**
[code]

**Additional context**

[2021-10-15 13:07] sesheta commented on #114
@EldritchJS: This issue is currently awaiting triage.
One of the @thoth-station/devs will take care of the issue, and will accept the issue by applying the
`triage/accepted` label and provide further guidance.

The `triage/accepted` label can be added by org members by writing `/triage accepted` in a comment.

<details>

Instructions for interacting with me using PR comments are available [here](h

[2021-10-17 19:03] EldritchJS commented on #114
Update: I modified Pipefile to use lowercase for pyifd, Pipefile.lock should be happy now. Still seeing the errors mentioned above, though I believe @pacospace said those are expected until Thoth knows what pyifd is!

[2021-10-18 08:13] pacospace commented on #114
I'm sorry @EldritchJS, I forgot one thing: Thoth does not learn from requests from `CLI`, but only from `Bots`, I triggered a `Kebechet Update` issue in ps-ip repo, so Kebechet should submit a request to Thoth with the Pipfile and start learning. Alternatvetly we need to manually trigger Thoth to learn that package. (I will do that as well in case)

[2021-10-18 14:57] goern commented on #89
/kind bug
/priority critical-urgent
/assign @KPostOffice
/triage accepted

[2021-10-18 15:50] goern commented on #108
/kind bug
/priority critical-urgent
/assign @KPostOffice
/triage accepted

[2021-10-18 15:52] goern commented on #112
/triage duplicate
#103
/close

[2021-10-18 15:52] #112 closed

[2021-10-18 15:52] sesheta commented on #112
@goern: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/support/issues/112#issuecomment-945917531):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-infra

[2021-10-18 18:36] KPostOffice commented on #73
@fridex I don't think this is possible, as we need the history in order to compute the changelog. I think that the only option is to allocate persistent volumes.

[2021-10-18 18:38] KPostOffice commented on #76
/close

[2021-10-18 19:50] KPostOffice commented on #110
Fixed by: https://github.com/thoth-station/kebechet/pull/842/files

[2021-10-18 19:53] KPostOffice commented on #27
/close

[2021-10-18 19:54] #48 closed

[2021-10-18 19:56] KPostOffice commented on #79
/close

[2021-10-18 19:56] #113 closed

[2021-10-18 19:56] #81 closed

[2021-10-18 19:57] #87 closed

[2021-10-18 20:17] KPostOffice commented on #45
Duplicate: https://github.com/thoth-station/support/issues/90

[2021-10-18 20:17] KPostOffice commented on #45
/close

[2021-10-18 20:17] sesheta commented on #45
@KPostOffice: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/support/issues/45#issuecomment-946132054):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-

[2021-10-18 20:17] #106 closed

[2021-10-18 20:17] sesheta commented on #106
@KPostOffice: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/support/issues/106#issuecomment-946132326):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test

[2021-10-18 20:18] KPostOffice commented on #102
fixed
/close

[2021-10-18 20:18] #102 closed

[2021-10-18 20:18] sesheta commented on #102
@KPostOffice: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/support/issues/102#issuecomment-946132859):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test

[2021-10-19 08:36] goern commented on #110
/assign @KPostOffice
/priority critical-urgent
/kind bug
/triage accepted

[2021-10-19 08:45] goern commented on #67
/triage duplicate
#110
/close

[2021-10-19 08:45] sesheta commented on #89
@goern: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/support/issues/89#issuecomment-946495377):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-infra]

[2021-10-19 08:45] #105 closed, assigned to nobody

[2021-10-19 08:45] #110 closed, assigned to KPostOffice

[2021-10-19 08:48] goern commented on #103
/triage duplicate
#96
/close

[2021-10-19 08:48] #103 closed, assigned to nobody

[2021-10-19 08:48] goern commented on #104
/triage duplicate
#96
/close

[2021-10-19 08:50] #114 closed, assigned to pacospace

[2021-10-19 08:52] khebhut[bot] opened #117 "Kebechet thoth-advise manager: KeyError on kebechet_runners.py:206"
## Description
This is an automated issue generated by Kebechet. The thoth-advise manager threw an exception (KeyError) at
runtime while working on the following repository https://github.com/operate-first/hitchhikers-guide

## Traceback
[code]

[2021-10-19 09:15] pacospace opened #118 "ps-ip stack cannot be recommended"
### What happened?

cc @EldritchJS

See: https://chat.google.com/room/AAAAVjnVXFk/Fu3w7uwPjW8

Thoth recommender from `stage` cannot solve the stack for https://github.com/thoth-station/ps-ip overlays ps-ip-ifd because of jpgio having installation time error. From solver output for jpegio===0.2.5 from PyPI

[code]

the image on quay exists though, so the base image used was able to install the sta

[2021-10-19 13:09] KPostOffice commented on #100
/close

[2021-10-19 13:09] #100 closed, assigned to KPostOffice

[2021-10-19 13:12] sesheta commented on #117
@KPostOffice: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/support/issues/117#issuecomment-946709049):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test

[2021-10-19 14:12] pacospace commented on #118
@fridex @EldritchJS using 0.2.8 worked without issues:

[code]

[2021-10-19 14:35] khebhut[bot] opened #119 "Kebechet thoth-advise manager: KeyError on kebechet_runners.py:206"
## Description
This is an automated issue generated by Kebechet. The thoth-advise manager threw an exception (KeyError) at
runtime while working on the following repository https://github.com/thoth-station/jupyterlab-requirements

## Traceback
[code]

[2021-10-19 14:35] sesheta commented on #119
@khebhut[bot]: This issue is currently awaiting triage.
One of the @thoth-station/devs will take care of the issue, and will accept the issue by applying the
`triage/accepted` label and provide further guidance.

The `triage/accepted` label can be added by org members by writing `/triage accepted` in a comment.

<details>

Instructions for interacting with me using PR comments are available [here]

[2021-10-19 15:09] #119 closed

[2021-10-19 15:09] sesheta commented on #119
@KPostOffice: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/support/issues/119#issuecomment-946822193):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test

[2021-10-19 16:01] khebhut[bot] opened #120 "Kebechet pipfile-requirements manager: ValueError on kebechet_runners.py:206"
## Description
This is an automated issue generated by Kebechet. The pipfile-requirements manager threw an exception (ValueError) at
runtime while working on the following repository https://github.com/aicoe-aiops/github-labeler

## Traceback
[code]

[2021-10-19 20:45] khebhut opened #121 "Kebechet thoth-advise manager: KeyError on kebechet_runners.py:206"
## Description
This is an automated issue generated by Kebechet. The thoth-advise manager threw an exception (KeyError) at
runtime while working on the following repository https://github.com/aicoe-aiops/data-science-workflows

## Traceback
[code]

[2021-10-20 09:56] goern commented on #121
#96
/triage duplicate
/triage accepted
/close

[2021-10-20 09:56] #121 closed, assigned to nobody

[2021-10-20 09:57] tumido opened #122 "Prow is requiring `/ok-to-test` on bot accounts even though `ok-to-test` label is already present"
**Describe the bug**
We use dependabot to manage NPM package upgrades and dependencies. Dependabot doesn't have a real github user account that can be invited to the org. And prow requires all external contributions to be approved to be tested. I've configured dependabot to apply the `ok-to-test` label on PR creation but that doesn't help and prow still applies the `need-ok-to-test` label even whe

[2021-10-20 10:17] goern commented on #122
/priority important-longterm

[2021-10-20 16:47] khebhut opened #123 "Kebechet thoth-advise manager: KeyError on kebechet_runners.py:206"
## Description
This is an automated issue generated by Kebechet. The thoth-advise manager threw an exception (KeyError) at
runtime while working on the following repository https://github.com/thoth-station/jupyterlab-requirements

## Traceback
[code]

[2021-10-20 16:47] sesheta commented on #123
@khebhut[bot]: This issue is currently awaiting triage.
One of the @thoth-station/devs will take care of the issue, and will accept the issue by applying the
`triage/accepted` label and provide further guidance.

The `triage/accepted` label can be added by org members by writing `/triage accepted` in a comment.

<details>

Instructions for interacting with me using PR comments are available [here]

[2021-10-20 17:05] #123 closed, assigned to nobody

[2021-10-20 18:43] khebhut[bot] opened #124 "Kebechet thoth-advise manager: KeyError on kebechet_runners.py:206"
## Description
This is an automated issue generated by Kebechet. The thoth-advise manager threw an exception (KeyError) at
runtime while working on the following repository https://github.com/operate-first/hitchhikers-guide

## Traceback
[code]

[2021-10-20 18:44] sesheta commented on #124
@khebhut[bot]: This issue is currently awaiting triage.
One of the @thoth-station/devs will take care of the issue, and will accept the issue by applying the
`triage/accepted` label and provide further guidance.

The `triage/accepted` label can be added by org members by writing `/triage accepted` in a comment.

<details>

Instructions for interacting with me using PR comments are available [here]

[2021-10-20 22:10] #124 closed

[2021-10-21 06:01] khebhut[bot] opened #125 "Kebechet thoth-advise manager: KeyError on kebechet_runners.py:206"
## Description
This is an automated issue generated by Kebechet. The thoth-advise manager threw an exception (KeyError) at
runtime while working on the following repository https://github.com/thoth-station/jupyter-nbrequirements

## Traceback
[code]

[2021-10-21 06:01] sesheta commented on #125
@khebhut[bot]: This issue is currently awaiting triage.
One of the @thoth-station/devs will take care of the issue, and will accept the issue by applying the
`triage/accepted` label and provide further guidance.

The `triage/accepted` label can be added by org members by writing `/triage accepted` in a comment.

<details>

Instructions for interacting with me using PR comments are available [here]

[2021-10-21 07:25] #125 closed

[2021-10-21 08:33] khebhut opened #126 "Kebechet thoth-advise manager: KeyError on kebechet_runners.py:206"
## Description
This is an automated issue generated by Kebechet. The thoth-advise manager threw an exception (KeyError) at
runtime while working on the following repository https://github.com/thoth-station/jupyterlab-requirements

## Traceback
[code]

[2021-10-21 10:49] sesheta commented on #126
@codificat: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/support/issues/126#issuecomment-948489003):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-i

[2021-10-21 10:49] #126 closed, assigned to nobody

[2021-10-21 12:33] KPostOffice commented on #73
Yeah I think that this is the way to go.

[2021-10-21 14:35] KPostOffice commented on #109
/close

[2021-10-21 14:35] #109 closed

[2021-10-21 15:12] khebhut opened #127 "Kebechet update manager: GithubException on kebechet_runners.py:206"
## Description
This is an automated issue generated by Kebechet. The update manager threw an exception (GithubException) at
runtime while working on the following repository https://github.com/aicoe-aiops/ocp-ci-analysis

## Traceback
[code]

[2021-10-21 15:12] khebhut opened #128 "Kebechet info manager: GithubException on kebechet_runners.py:206"
## Description
This is an automated issue generated by Kebechet. The info manager threw an exception (GithubException) at
runtime while working on the following repository https://github.com/aicoe-aiops/ocp-ci-analysis

## Traceback
[code]

[2021-10-21 18:58] khebhut opened #129 "Kebechet thoth-advise manager: KeyError on kebechet_runners.py:206"
## Description
This is an automated issue generated by Kebechet. The thoth-advise manager threw an exception (KeyError) at
runtime while working on the following repository https://github.com/thoth-station/jupyterlab-requirements

## Traceback
[code]

[2021-10-25 07:47] #129 closed, assigned to nobody

[2021-10-25 07:48] #127 closed, assigned to nobody

[2021-10-25 07:48] #128 closed, assigned to nobody

[2021-10-26 14:33] #96 closed, assigned to KPostOffice

[2021-10-26 14:34] #111 closed, assigned to KPostOffice

[2021-10-26 15:04] khebhut[bot] opened #130 "Kebechet update manager: DependencyManagementError on kebechet_runners.py:206"
## Description
This is an automated issue generated by Kebechet. The update manager threw an exception (DependencyManagementError) at
runtime while working on the following repository https://github.com/os-climate/aicoe-osc-demo

## Traceback
[code]

[2021-10-26 16:37] khebhut[bot] opened #131 "Kebechet pipfile-requirements manager: FileNotFoundError on kebechet_runners.py:206"
## Description
This is an automated issue generated by Kebechet. The pipfile-requirements manager threw an exception (FileNotFoundError) at
runtime while working on the following repository https://github.com/aicoe-aiops/cookiecutter-data-science

## Traceback
[code]

[2021-10-28 15:56] khebhut[bot] opened #132 "Kebechet thoth-advise manager: KeyError on kebechet_runners.py:206"
## Description
This is an automated issue generated by Kebechet. The thoth-advise manager threw an exception (KeyError) at
runtime while working on the following repository https://github.com/operate-first/hitchhikers-guide

## Traceback
[code]

[2021-10-28 18:02] #18 closed, assigned to goern, EldritchJS

[2021-11-01 17:49] EldritchJS commented on #118
@fridex

The original issue indicates jpegio was the problem, but since pyifd is dependent on it does this mean jpegio is no longer a problem and ps-ip stack can be recommended?

The dependencies in your result for 0.0.3 are what's needed for pyifd, no changes to its dependencies has occurred since.

[2021-11-01 18:33] fridex commented on #118
It looks like that - I don't see any issue in the resolution, but I'm not familiar with these packages. Is there a way to test the ps-ip lockfile recommender gave back? A testcase just to load libs and do some example computation so we are sure about the resolution?

Here is a symmetric difference on package level - packages that differ in lockfiles:

[code]

It looks like they were brought to the

[2021-11-01 18:51] fridex commented on #118
For completenes, here is a diff of lockfiles (addition is Pipenv against Thoth) - available in stage as [adviser-211101183819-a62c037ce96037c7](https://stage.thoth-station.ninja/api/v1/advise/python/adviser-211101183819-a62c037ce96037c7)

[code]

Dependency graph (Thoth):

[code]

[2021-11-01 20:49] EldritchJS commented on #118
@fridex  We do have a test script for pyifd that was used with GH CI in its original repo. Can we make that part of Thoth's acceptance criteria? i.e. if it tries to change packages it first verifies the test still passes?

In the interim I was going to just run the pyifd test. However, regarding the files you provided, I attempted to install requirements_thoth.txt in a virtual env and got this err

[2021-11-01 21:02] fridex commented on #118
I think so. The PR can be merged only if all checks pass. I believe AICoE-CI can be helpful in such cases. CC @harshad16

Thanks for the report, it looks like a bug in Thoth's resolver. I was checking only lock files, but the environment was not created. The conflict mentioned by pip's resolver indeed occurs in the set of packages resolved by Thoth. I'll take a look, but this will probably take so

[2021-11-01 21:03] EldritchJS commented on #118
Thanks @fridex !

[2021-11-02 02:44] khebhut[bot] opened #133 "Kebechet update manager: ConnectionError on kebechet_runners.py:206"
## Description
This is an automated issue generated by Kebechet. The update manager threw an exception (ConnectionError) at
runtime while working on the following repository https://github.com/thoth-station/s2i-minimal-notebook

## Traceback
[code]

[2021-11-02 02:44] sesheta commented on #133
@khebhut[bot]: This issue is currently awaiting triage.
One of the @thoth-station/devs will take care of the issue, and will accept the issue by applying the
`triage/accepted` label and provide further guidance.

The `triage/accepted` label can be added by org members by writing `/triage accepted` in a comment.

<details>

Instructions for interacting with me using PR comments are available [here]

[2021-11-02 10:09] codificat commented on #133
A DNS failure to resorve `api.github.com`, I assume a temporary glitch.
Shall we /close?

[2021-11-02 18:18] fridex commented on #118
Did digging into this issue. The thing is that there was a wrong dependency record in the database - `packaging==21.2` was dependent on `pyparsing==3.0.4`. It is suspicious as solver that computed these dependencies resolved the dependency graph correctly (`solver-rhel-8-py38-211029124729-915a0925e1cd4e43`). The fix is not nice - I've removed the corresponding dependency record manually (`DELETE F

[2021-11-03 01:01] EldritchJS commented on #118
@fridex Thanks, both requirements files seemed to work on my end when I pip install in a local virtualenv.

I also ran thamos advise on my working copy of the ps-ip repo per my earlier comment above and did not get the previous failure :+1:

[2021-11-03 08:23] goern commented on #133
/label triage/not-reproducible
/triage accepted
/close

[2021-11-03 08:23] #133 closed

[2021-11-03 08:23] sesheta commented on #133
@goern: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/support/issues/133#issuecomment-958736519):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-infra

[2021-11-03 08:26] goern commented on #130
@KPostOffice yes please go ahead and deploy a new minor release ;)

[2021-11-04 19:33] fridex commented on #118
Perfect, thanks for checking and confirming. I believe we can close this issue. Feel free to reopen if the issue will araise again. Thanks! 👍🏻

/close

[2021-11-04 19:33] #118 closed

[2021-11-04 19:33] sesheta commented on #118
@fridex: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/support/issues/118#issuecomment-961354876):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-infr

[2021-11-05 20:59] KPostOffice opened #134 "Kebechet thoth-advise manager: ConnectionError on kebechet_runners.py:210"
## Description
This is an automated issue generated by Kebechet. The thoth-advise manager threw an exception (ConnectionError) at
runtime while working on the following repository https://github.com/KPostOffice/khebhut_test

## Traceback
[code]

[2021-11-05 20:59] sesheta commented on #134
@KPostOffice: This issue is currently awaiting triage.
One of the @thoth-station/devs will take care of the issue, and will accept the issue by applying the
`triage/accepted` label and provide further guidance.

The `triage/accepted` label can be added by org members by writing `/triage accepted` in a comment.

<details>

Instructions for interacting with me using PR comments are available [here](

[2021-11-08 12:54] goern commented on #134
/kind bug
or is this a feature to not raise the exception and generate some metric?!
/priority important-soon
/assign @KPostOffice
/triage accepted

[2021-11-09 09:50] codificat commented on #73
@KPostOffice thanks for the changes!

With thoth-station/thoth-application#2109 and  thoth-station/kebechet#880 now [released](https://github.com/thoth-station/thoth-application/issues/2091) I believe this issue is resolved:
/close

if that's not the case, please reopen or create a new one as appropriate

[2021-11-09 09:50] #73 closed

[2021-11-09 09:50] sesheta commented on #73
@codificat: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/support/issues/73#issuecomment-963984864):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-in

[2021-11-09 16:19] xtuchyna opened #135 "`mi` workflows not scheduling in `test`"
**Describe the bug**
`mi` cronjob is not scheduling `mi` workflows in `thoth-test-core` namespace on `ocp4`

The cronjob specification was purposely changed for that ( https://github.com/thoth-station/thoth-application/pull/1954 ), but it seems that the pods are not scheduling either.

**Expected behavior**
Scheduled job every day according to the cronjob spec
(look here for further specification

[2021-11-09 17:11] harshad16 commented on #135
Maybe the cronjob has been in the stale state.
Resyncing it, to check if it running.

[2021-11-09 17:29] goern commented on #135
/assign @xtuchyna
/priority important-soon
/triage accepted

[2021-11-09 18:24] harshad16 commented on #135
I have reset the cronjob in the test cluster.
there are 3 cronjob corresponding to mi.

| cornjob | schedule time |
|---------------------|----------------|
| mi-scheduler-gh | 0:00 everyday|
| mi-scheduler-kebechet-analyse |  0:00 everyday|
| mi-scheduler-kebechet-merge | 8:00 everyday |

so we would have to wait and see if this work.

[2021-11-10 22:10] KPostOffice opened #136 "Kebechet thoth-advise manager: AttributeError on kebechet_runners.py:202"
## Description
This is an automated issue generated by Kebechet. The thoth-advise manager threw an exception (AttributeError) at
runtime while working on the following repository https://github.com/KPostOffice/khebhut_test

## Traceback
[code]

[2021-11-10 22:10] sesheta commented on #136
@KPostOffice: This issue is currently awaiting triage.
One of the @thoth-station/devs will take care of the issue, and will accept the issue by applying the
`triage/accepted` label and provide further guidance.

The `triage/accepted` label can be added by org members by writing `/triage accepted` in a comment.

<details>

Instructions for interacting with me using PR comments are available [here](

[2021-11-10 22:10] KPostOffice opened #137 "Kebechet thoth-advise manager: KeyError on kebechet_runners.py:210"
## Description
This is an automated issue generated by Kebechet. The thoth-advise manager threw an exception (KeyError) at
runtime while working on the following repository https://github.com/KPostOffice/khebhut_test

## Traceback
[code]

[2021-11-10 22:10] sesheta commented on #137
@KPostOffice: This issue is currently awaiting triage.
One of the @thoth-station/devs will take care of the issue, and will accept the issue by applying the
`triage/accepted` label and provide further guidance.

The `triage/accepted` label can be added by org members by writing `/triage accepted` in a comment.

<details>

Instructions for interacting with me using PR comments are available [here](

[2021-11-12 14:02] KPostOffice commented on #137
Heya, sorry this was opened during local testing. Closing

[2021-11-12 14:02] #137 closed

[2021-11-12 14:02] KPostOffice commented on #136
Opened during local testing. I think it may be good to make automatic issue reporting configurable so that we don't open issues on the support repo during local testing

[2021-11-12 14:02] #136 closed

[2021-11-12 14:06] KPostOffice commented on #134
Hmmm, good question. It may be useful to open an issue in the user's repo in this case with the text: "Connection Error when connecting to host url, please check to make sure that the url is correct. If it is correct then thoth-services may be down".  Do we have a dashboard where users can see what services are available? i.e. external facing user-api at khemenu.thoth-station.ninja is down?

[2021-11-15 19:36] KPostOffice opened #138 "Kebechet version manager: NotATriggerException on kebechet_runners.py:210"
## Description
This is an automated issue generated by Kebechet. The version manager threw an exception (NotATriggerException) at
runtime while working on the following repository https://github.com/KPostOffice/khebhut_test

## Traceback
[code]

[2021-11-15 19:36] sesheta commented on #138
@KPostOffice: This issue is currently awaiting triage.
One of the @thoth-station/devs will take care of the issue, and will accept the issue by applying the
`triage/accepted` label and provide further guidance.

The `triage/accepted` label can be added by org members by writing `/triage accepted` in a comment.

<details>

Instructions for interacting with me using PR comments are available [here](

[2021-11-15 19:54] KPostOffice opened #139 "Kebechet version manager: GitCommandError on kebechet_runners.py:210"
## Description
This is an automated issue generated by Kebechet. The version manager threw an exception (GitCommandError) at
runtime while working on the following repository https://github.com/KPostOffice/khebhut_test

## Traceback
[code]

[2021-11-15 19:54] sesheta commented on #139
@KPostOffice: This issue is currently awaiting triage.
One of the @thoth-station/devs will take care of the issue, and will accept the issue by applying the
`triage/accepted` label and provide further guidance.

The `triage/accepted` label can be added by org members by writing `/triage accepted` in a comment.

<details>

Instructions for interacting with me using PR comments are available [here](

[2021-11-16 14:18] KPostOffice commented on #138
This should not raise an issue to support. I will make the necessary changes.

[2021-11-16 14:22] #138 closed

[2021-11-16 14:23] KPostOffice commented on #139
This issue is fixed by https://github.com/thoth-station/kebechet/pull/880/files

[2021-11-16 14:23] #139 closed

[2021-11-16 16:53] khebhut[bot] opened #140 "Kebechet thoth-advise manager: AttributeError on kebechet_runners.py:210"
## Description
This is an automated issue generated by Kebechet v1.6.3. The thoth-advise manager threw an exception (AttributeError)
at runtime while working on the following repository https://github.com/thoth-station/jupyterlab-requirements

## Traceback
[code]

[2021-11-16 16:53] sesheta commented on #140
@khebhut[bot]: This issue is currently awaiting triage.
One of the @thoth-station/devs will take care of the issue, and will accept the issue by applying the
`triage/accepted` label and provide further guidance.

The `triage/accepted` label can be added by org members by writing `/triage accepted` in a comment.

<details>

Instructions for interacting with me using PR comments are available [here]

[2021-11-16 17:01] khebhut[bot] opened #141 "Kebechet version manager: GitCommandError on kebechet_runners.py:210"
## Description
This is an automated issue generated by Kebechet v1.6.3. The version manager threw an exception (GitCommandError)
at runtime while working on the following repository https://github.com/thoth-station/invectio

## Traceback
[code]

[2021-11-16 17:01] sesheta commented on #141
@khebhut[bot]: This issue is currently awaiting triage.
One of the @thoth-station/devs will take care of the issue, and will accept the issue by applying the
`triage/accepted` label and provide further guidance.

The `triage/accepted` label can be added by org members by writing `/triage accepted` in a comment.

<details>

Instructions for interacting with me using PR comments are available [here]

[2021-11-16 17:11] khebhut[bot] opened #142 "Kebechet update manager: GitCommandError on kebechet_runners.py:210"
## Description
This is an automated issue generated by Kebechet v1.6.3. The update manager threw an exception (GitCommandError)
at runtime while working on the following repository https://github.com/thoth-station/invectio

## Traceback
[code]

[2021-11-16 17:11] sesheta commented on #142
@khebhut[bot]: This issue is currently awaiting triage.
One of the @thoth-station/devs will take care of the issue, and will accept the issue by applying the
`triage/accepted` label and provide further guidance.

The `triage/accepted` label can be added by org members by writing `/triage accepted` in a comment.

<details>

Instructions for interacting with me using PR comments are available [here]

[2021-11-17 16:34] KPostOffice opened #143 "Kebechet thoth-advise manager: FileNotFoundError on kebechet_runners.py:210"
## Description
This is an automated issue generated by Kebechet v1.6.4. The thoth-advise manager threw an exception (FileNotFoundError)
at runtime while working on the following repository https://github.com/KPostOffice/khebhut_test

## Traceback
[code]

[2021-11-17 16:34] sesheta commented on #143
@KPostOffice: This issue is currently awaiting triage.
One of the @thoth-station/devs will take care of the issue, and will accept the issue by applying the
`triage/accepted` label and provide further guidance.

The `triage/accepted` label can be added by org members by writing `/triage accepted` in a comment.

<details>

Instructions for interacting with me using PR comments are available [here](

[2021-11-17 17:24] mayaCostantini opened #144 "Have the data generated on the psi cluster moved on smaug under a public bucket"
**Is your feature request related to a problem? Please describe.**
Have the data generated on the psi cluster stored on smaug under [Operate First Ceph public bucket](https://github.com/operate-first/apps/blob/master/docs/odh/trino/access_public_bucket.md
)

[2021-11-17 17:24] sesheta commented on #144
@mayaCostantini: This issue is currently awaiting triage.
One of the @thoth-station/devs will take care of the issue, and will accept the issue by applying the
`triage/accepted` label and provide further guidance.

The `triage/accepted` label can be added by org members by writing `/triage accepted` in a comment.

<details>

Instructions for interacting with me using PR comments are available [her

[2021-11-17 18:02] harshad16 commented on #144
/triage accepted
/priority important-soon
/lifecycle active
/sig devops

[2021-11-17 20:20] #143 closed

[2021-11-18 14:17] khebhut[bot] opened #145 "Kebechet update manager: TypeError on kebechet_runners.py:210"
## Description
This is an automated issue generated by Kebechet v1.6.5. The update manager threw an exception (TypeError)
at runtime while working on the following repository https://github.com/KPostOffice/khebhut_test

## Traceback
[code]

[2021-11-18 14:17] sesheta commented on #145
@khebhut[bot]: This issue is currently awaiting triage.
One of the @thoth-station/devs will take care of the issue, and will accept the issue by applying the
`triage/accepted` label and provide further guidance.

The `triage/accepted` label can be added by org members by writing `/triage accepted` in a comment.

<details>

Instructions for interacting with me using PR comments are available [here]

[2021-11-18 14:20] KPostOffice opened #147 "Kebechet update manager: KeyError on kebechet_runners.py:210"
## Description
This is an automated issue generated by Kebechet v1.6.5. The update manager threw an exception (KeyError)
at runtime while working on the following repository https://github.com/KPostOffice/khebhut_test

## Traceback
[code]

[2021-11-18 14:20] sesheta commented on #147
@KPostOffice: This issue is currently awaiting triage.
One of the @thoth-station/devs will take care of the issue, and will accept the issue by applying the
`triage/accepted` label and provide further guidance.

The `triage/accepted` label can be added by org members by writing `/triage accepted` in a comment.

<details>

Instructions for interacting with me using PR comments are available [here](

[2021-11-18 19:58] goern opened #148 "Elyra Tutorial is not building via meteor"
**Describe the bug**
https://shower.meteor.zone/order/meteor-h8bjj failed building the ODH deployment...
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://console-openshift-console.apps.smaug.na.operate-first.cloud/k8s/ns/aicoe-meteor/tekton.dev~v1beta1~PipelineRun/meteor-h8bjj-jupyterhub/logs/generate

**Expected behavior**
should work

[2021-11-18 19:58] sesheta commented on #148
@goern: This issue is currently awaiting triage.
One of the @thoth-station/devs will take care of the issue, and will accept the issue by applying the
`triage/accepted` label and provide further guidance.

The `triage/accepted` label can be added by org members by writing `/triage accepted` in a comment.

<details>

Instructions for interacting with me using PR comments are available [here](https:

[2021-11-18 20:39] codificat commented on #148
It seems to be https://github.com/AICoE/meteor/issues/207. Not specific to the elyra tutorial.
Let's track it there, and e.g. adjust the priority of that other issue as appropriate

/triage duplicate
/close

[2021-11-18 20:39] #148 closed

[2021-11-18 20:39] sesheta commented on #148
@codificat: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/support/issues/148#issuecomment-973243508):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-i

[2021-11-19 13:24] harshad16 commented on #144
The data is copied into the data-catalog ceph under **thoth** prefix.
Please verify if all that is needed is now available.

[2021-11-22 10:07] pacospace opened #149 "Thoth adviser is adding markers for aarch64 to numpy to my recommendation and micropipenv skips installation"
### What happened?

Thoth adviser is adding markers for aarch64 to numpy to my recommendation and micropipenv skips installation.

### Adviser identifier

adviser-211122095852-748c8bab89c216a5

### Pipfile input

[code]

### Pipfile.lock input

_No response_

### .thoth.yaml configuration file

[code]

### What recommendation type do you use?

latest

### Relevant resolver log output

[code]

[2021-11-22 10:07] sesheta commented on #149
@pacospace: This issue is currently awaiting triage.
One of the @thoth-station/devs will take care of the issue, and will accept the issue by applying the
`triage/accepted` label and provide further guidance.

The `triage/accepted` label can be added by org members by writing `/triage accepted` in a comment.

<details>

Instructions for interacting with me using PR comments are available [here](ht

[2021-11-22 11:41] codificat commented on #149
Some discussion in chat: https://chat.google.com/room/AAAAVjnVXFk/04v4HGuLXCM
Summary: "but we should already do it, need to check what's happening here...". So:

/triage accepted
/priority important-soon

[2021-11-22 11:43] fridex commented on #149
The problem here is that we solved `pandas==1.3.4` in some point in time. After some time, `numpy==1.21.3` was released. That caused triggering revsolver in the deployment that stated `numpy==1.21.3` as a requirement for `pandas==1.3.4`. This is however true only if `platform_machine == "aarch64"`. The fix here is to add environment marker support to revsolver.

[2021-11-22 11:51] fridex commented on #149
revsolver logic needs to be revisited so we capture these things correctly:

[code]

[2021-11-22 12:39] codificat commented on #122
As `ok-to-test` implies trust, do we want to have this automated to begin with?

Dependabot is not the only affected bot. Here is an example with sefkhet-abwy: https://github.com/thoth-station/report-processing/pull/145

There seem to be explicit hardcoded exceptions for our bots: https://github.com/AICoE/sefkhet-abwy/blob/1fa87f71c4fe01597fbbd8e553d0481b15db1561/aicoe/sesheta/review_manager.py#L1

[2021-11-22 17:28] goern commented on #147
/kind bug
/triage duplicate
#96
/close

[2021-11-22 17:28] sesheta commented on #147
@goern: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/support/issues/147#issuecomment-975756378):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-infra

[2021-11-22 19:21] KPostOffice commented on #145
/close

[2021-11-22 19:21] sesheta commented on #145
@KPostOffice: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/support/issues/145#issuecomment-975844682):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test

[2021-11-22 19:21] #145 closed

[2021-11-22 20:36] khebhut[bot] opened #150 "Kebechet pipfile-requirements manager: FileNotFoundError on kebechet_runners.py:210"
## Description
This is an automated issue generated by Kebechet v1.6.6. The pipfile-requirements manager threw an exception (FileNotFoundError)
at runtime while working on the following repository https://github.com/aicoe-aiops/cookiecutter-data-science

## Traceback
[code]

[2021-11-22 20:36] sesheta commented on #150
@khebhut[bot]: This issue is currently awaiting triage.
One of the @thoth-station/devs will take care of the issue, and will accept the issue by applying the
`triage/accepted` label and provide further guidance.

The `triage/accepted` label can be added by org members by writing `/triage accepted` in a comment.

<details>

Instructions for interacting with me using PR comments are available [here]

[2021-11-22 22:36] codificat commented on #147
/reopen
/remove-triage duplicate
/triage accepted
/priority important-soon

this isn't a duplicate of #96, it's a different problem.

It seems to be a small oversight in https://github.com/thoth-station/kebechet/pull/867 :

[code]
https://github.com/thoth-station/kebechet/blob/2d65f91577637f5de75d3dcdbf324d0c81951ab0/kebechet/managers/update/update.py#L1039

vs

[code]
https://github.com/thoth-sta

[2021-11-22 22:36] sesheta commented on #147
@codificat: Reopened this issue.

<details>

In response to [this](https://github.com/thoth-station/support/issues/147#issuecomment-975977827):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-

[2021-11-24 10:47] mayaCostantini opened #151 "How to identify in which environment my tests are running on prow?"
**Describe the bug**
The results of the tests when executing `pytest` locally and the results on prow are different. I would like to know how I could find the environment used to execute the tests on prow to compare it with my local environment.

Local test results summary:

[code]

Pytest status on prow : passed.

**To Reproduce**
See  thoth-station/report-processing#146

**Expected behavior**
Te

[2021-11-24 11:12] sesheta commented on #151
@mayaCostantini: This issue is currently awaiting triage.
One of the @thoth-station/devs will take care of the issue, and will accept the issue by applying the
`triage/accepted` label and provide further guidance.

The `triage/accepted` label can be added by org members by writing `/triage accepted` in a comment.

<details>

Instructions for interacting with me using PR comments are available [her

[2021-11-24 21:16] fridex commented on #149
Luckily this is not true (it would recomputing data we already have). The issue was in environment marker logic - we obtained the very first inserted to the database when the resulting lockfile was constructed in adviser. A fix is to check which environment marker we retrieve for the given dependencies. Fix in https://github.com/thoth-station/adviser/pull/2185

[2021-11-25 11:12] codificat commented on #142
/kind bug
/triage duplicate
of #141
/close

[2021-11-25 11:12] #142 closed

[2021-11-25 11:12] sesheta commented on #142
@codificat: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/support/issues/142#issuecomment-979103940):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-i

[2021-11-25 11:15] codificat commented on #141
/kind bug
/assign @KPostOffice
/triage accepted

My understanding is that this was fixed in thoth-station/kebechet#908
/close

[2021-11-25 11:15] #141 closed

[2021-11-25 11:15] sesheta commented on #141
@codificat: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/support/issues/141#issuecomment-979106418):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-i

[2021-11-25 11:17] codificat commented on #140
/kind bug
/priority critical-urgent
/assign @KPostOffice
/triage accepted

[2021-11-25 12:15] #147 closed

[2021-11-29 19:57] #149 closed

[2021-11-30 22:08] KPostOffice opened #152 "Kebechet update manager: UnboundLocalError on kebechet_runners.py:210"
## Description
This is an automated issue generated by Kebechet v1.6.6. The update manager threw an exception (UnboundLocalError)
at runtime while working on the following repository https://github.com/KPostOffice/khebhut_test

## Traceback
[code]

[2021-11-30 22:08] sesheta commented on #152
@KPostOffice: This issue is currently awaiting triage.
One of the @thoth-station/devs will take care of the issue, and will accept the issue by applying the
`triage/accepted` label and provide further guidance.

The `triage/accepted` label can be added by org members by writing `/triage accepted` in a comment.

<details>

Instructions for interacting with me using PR comments are available [here](

[2021-11-30 22:21] KPostOffice opened #153 "Kebechet update manager: NameError on kebechet_runners.py:210"
## Description
This is an automated issue generated by Kebechet v1.6.6. The update manager threw an exception (NameError)
at runtime while working on the following repository https://github.com/KPostOffice/khebhut_test

## Traceback
[code]

[2021-11-30 22:21] sesheta commented on #153
@KPostOffice: This issue is currently awaiting triage.
One of the @thoth-station/devs will take care of the issue, and will accept the issue by applying the
`triage/accepted` label and provide further guidance.

The `triage/accepted` label can be added by org members by writing `/triage accepted` in a comment.

<details>

Instructions for interacting with me using PR comments are available [here](

[2021-11-30 22:21] KPostOffice opened #154 "Kebechet update manager: GitCommandError on kebechet_runners.py:210"
## Description
This is an automated issue generated by Kebechet v1.6.6. The update manager threw an exception (GitCommandError)
at runtime while working on the following repository https://github.com/KPostOffice/khebhut_test

## Traceback
[code]

[2021-11-30 22:21] sesheta commented on #154
@KPostOffice: This issue is currently awaiting triage.
One of the @thoth-station/devs will take care of the issue, and will accept the issue by applying the
`triage/accepted` label and provide further guidance.

The `triage/accepted` label can be added by org members by writing `/triage accepted` in a comment.

<details>

Instructions for interacting with me using PR comments are available [here](

[2021-11-30 22:44] KPostOffice opened #155 "Kebechet update manager: AttributeError on kebechet_runners.py:210"
## Description
This is an automated issue generated by Kebechet v1.6.6. The update manager threw an exception (AttributeError)
at runtime while working on the following repository https://github.com/KPostOffice/khebhut_test

## Traceback
[code]

[2021-11-30 22:44] sesheta commented on #155
@KPostOffice: This issue is currently awaiting triage.
One of the @thoth-station/devs will take care of the issue, and will accept the issue by applying the
`triage/accepted` label and provide further guidance.

The `triage/accepted` label can be added by org members by writing `/triage accepted` in a comment.

<details>

Instructions for interacting with me using PR comments are available [here](

[2021-12-01 15:00] goern commented on #151
/sig user-experience
/priority important-longterm
/kind documentation
/triage accepted

[2021-12-01 21:00] KPostOffice commented on #140
/lifecycle active

[2021-12-01 21:29] KPostOffice commented on #140
So I opened in issue upstream with OGR, it seems like the `.github` instance variable is not set for the `github_app` integration. We should be able to workaround this by just using the APP_NAME which is passed as a env variable at runtime

[2021-12-01 21:36] #152 closed

[2021-12-01 21:36] #153 closed

[2021-12-01 21:36] #154 closed

[2021-12-01 21:36] #155 closed

[2021-12-01 21:43] KPostOffice commented on #19
/triage needs-information

[2021-12-01 21:43] KPostOffice commented on #19
/remove-label triage/accepted

[2021-12-01 21:43] sesheta commented on #19
@harshad16: This issue is currently awaiting triage.
One of the @thoth-station/devs will take care of the issue, and will accept the issue by applying the
`triage/accepted` label and provide further guidance.

The `triage/accepted` label can be added by org members by writing `/triage accepted` in a comment.

<details>

Instructions for interacting with me using PR comments are available [here](ht

[2021-12-01 21:50] KPostOffice commented on #47
Fixed by: https://github.com/thoth-station/kebechet/pull/820/files
/close

[2021-12-01 21:50] sesheta commented on #47
@KPostOffice: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/support/issues/47#issuecomment-984085119):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-

[2021-12-01 21:50] #47 closed

[2021-12-01 21:55] KPostOffice commented on #93
So this arose because an overlays directory was provided but there was no corresponding directory inside for all runtime environments. This should be reported as an issue in the user's directory rather than an unhandled exception

[2021-12-01 22:07] KPostOffice commented on #101
/close
We no longer catch server errors. The exception is re-raised so that the calling service can use a retry policy.

[2021-12-01 22:07] #101 closed

[2021-12-01 22:07] sesheta commented on #101
@KPostOffice: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/support/issues/101#issuecomment-984097083):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test

[2021-12-01 22:08] KPostOffice commented on #108
/close
We no longer catch connection errors. They are reraised

[2021-12-01 22:08] #108 closed

[2021-12-01 22:08] sesheta commented on #108
@KPostOffice: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/support/issues/108#issuecomment-984097681):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test

[2021-12-01 22:13] KPostOffice commented on #131
I think this issue is solved. On Oct 28th one day after this was opened we can see https://github.com/aicoe-aiops/cookiecutter-data-science/issues/2 was opened for missing dependency management

[2021-12-01 22:17] KPostOffice commented on #131
/close

[2021-12-01 22:17] #131 closed

[2021-12-01 22:17] sesheta commented on #131
@KPostOffice: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/support/issues/131#issuecomment-984103952):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test

[2021-12-02 08:46] goern commented on #19
/triage accepted

[2021-12-02 20:40] KPostOffice commented on #93
/lifecycle active

[2021-12-02 20:41] KPostOffice commented on #93
/life-cycle active

[2021-12-02 22:25] KPostOffice commented on #93
/lifecycle active

[2021-12-02 22:28] KPostOffice commented on #130
Fixed, see above comments
/close

[2021-12-02 22:28] #130 closed

[2021-12-02 22:28] sesheta commented on #130
@KPostOffice: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/support/issues/130#issuecomment-985053080):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test

[2021-12-03 14:32] tumido commented on #122
@codificat Of course we do! Using any bots implies trust. So.. if user voluntarily opts-in to use a bot to maintain their dependency stack - like dependabot in this case and even configures it [to apply the `ok-to-test` label](https://github.com/AICoE/meteor/blob/2f2fc29b281e3aa8593212e1c0cb13f906f5f15e/.github/dependabot.yml#L12-L13) because he knows the bots purpose and wants the PRs validated b

[2021-12-03 15:42] KPostOffice commented on #120
/close

[2021-12-07 15:10] #120 closed

[2021-12-07 15:13] KPostOffice commented on #140
/close Fixed with thoth-station/kebechet#937

[2021-12-07 15:24] harshad16 commented on #11
cc: @harshad16

[2021-12-07 18:49] harshad16 commented on #19
Kebechet is functioning well:
https://github.com/os-climate/data-platform-demo/pull/38
closing this issue.

[2021-12-07 18:49] #19 closed

[2021-12-07 21:24] KPostOffice commented on #60
/lifecycle active

[2021-12-08 19:12] KPostOffice commented on #60
This issue arises because the project is a fork, OGR's default behavior is to open a PR on the parent repo. Instead the fork namespace must be passed so that the PR is opened in the fork's namespace

[2021-12-09 06:39] khebhut[bot] opened #156 "Kebechet update manager: ConnectionError on kebechet_runners.py:210"
## Description
This is an automated issue generated by Kebechet v1.6.7. The update manager threw an exception (ConnectionError)
at runtime while working on the following repository https://github.com/thoth-station/s2i-minimal-notebook

## Traceback
[code]

[2021-12-09 06:39] sesheta commented on #156
@khebhut[bot]: This issue is currently awaiting triage.
One of the @thoth-station/devs will take care of the issue, and will accept the issue by applying the
`triage/accepted` label and provide further guidance.

The `triage/accepted` label can be added by org members by writing `/triage accepted` in a comment.

<details>

Instructions for interacting with me using PR comments are available [here]

[2021-12-09 07:05] khebhut[bot] opened #157 "Kebechet info manager: OgrNetworkError on kebechet_runners.py:210"
## Description
This is an automated issue generated by Kebechet v1.6.7. The info manager threw an exception (OgrNetworkError)
at runtime while working on the following repository https://github.com/AICoE/s2i-custom-notebook

## Traceback
[code]

[2021-12-09 07:06] sesheta commented on #157
@khebhut[bot]: This issue is currently awaiting triage.
One of the @thoth-station/devs will take care of the issue, and will accept the issue by applying the
`triage/accepted` label and provide further guidance.

The `triage/accepted` label can be added by org members by writing `/triage accepted` in a comment.

<details>

Instructions for interacting with me using PR comments are available [here]

[2021-12-09 08:49] khebhut[bot] opened #158 "Kebechet update manager: OgrNetworkError on kebechet_runners.py:210"
## Description
This is an automated issue generated by Kebechet v1.6.7. The update manager threw an exception (OgrNetworkError)
at runtime while working on the following repository https://github.com/thoth-station/workflow-helpers

## Traceback
[code]

[2021-12-09 08:49] sesheta commented on #158
@khebhut[bot]: This issue is currently awaiting triage.
One of the @thoth-station/devs will take care of the issue, and will accept the issue by applying the
`triage/accepted` label and provide further guidance.

The `triage/accepted` label can be added by org members by writing `/triage accepted` in a comment.

<details>

Instructions for interacting with me using PR comments are available [here]

[2021-12-09 10:25] goern commented on #158
/kind bug
/triage accepted

This might be a network hickup...
/triage not-reproducible
/close

[2021-12-09 10:25] #158 closed

[2021-12-09 10:25] sesheta commented on #158
@goern: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/support/issues/158#issuecomment-989717994):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-infra

[2021-12-09 10:25] goern commented on #157
/kind bug
/triage accepted

This might be a network hickup...
/triage not-reproducible
/close

[2021-12-09 10:25] #157 closed

[2021-12-09 10:25] sesheta commented on #157
@goern: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/support/issues/157#issuecomment-989718077):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-infra

[2021-12-09 10:25] goern commented on #156
/kind bug
/triage accepted

This might be a network hickup...
/triage not-reproducible
/close

[2021-12-09 10:25] #156 closed

[2021-12-09 10:25] sesheta commented on #156
@goern: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/support/issues/156#issuecomment-989718211):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-infra

[2021-12-09 12:27] khebhut[bot] opened #159 "Kebechet update manager: ConnectionError on kebechet_runners.py:210"
## Description
This is an automated issue generated by Kebechet v1.6.7. The update manager threw an exception (ConnectionError)
at runtime while working on the following repository https://github.com/thoth-station/mi

## Traceback
[code]

[2021-12-09 12:27] sesheta commented on #159
@khebhut[bot]: This issue is currently awaiting triage.
One of the @thoth-station/devs will take care of the issue, and will accept the issue by applying the
`triage/accepted` label and provide further guidance.

The `triage/accepted` label can be added by org members by writing `/triage accepted` in a comment.

<details>

Instructions for interacting with me using PR comments are available [here]

[2021-12-09 12:29] khebhut[bot] opened #160 "Kebechet version manager: OgrNetworkError on kebechet_runners.py:210"
## Description
This is an automated issue generated by Kebechet v1.6.7. The version manager threw an exception (OgrNetworkError)
at runtime while working on the following repository https://github.com/thoth-station/mi

## Traceback
[code]

[2021-12-09 12:29] sesheta commented on #160
@khebhut[bot]: This issue is currently awaiting triage.
One of the @thoth-station/devs will take care of the issue, and will accept the issue by applying the
`triage/accepted` label and provide further guidance.

The `triage/accepted` label can be added by org members by writing `/triage accepted` in a comment.

<details>

Instructions for interacting with me using PR comments are available [here]

[2021-12-09 14:44] khebhut[bot] opened #161 "Kebechet pipfile-requirements manager: OgrNetworkError on kebechet_runners.py:210"
## Description
This is an automated issue generated by Kebechet v1.6.7. The pipfile-requirements manager threw an exception (OgrNetworkError)
at runtime while working on the following repository https://github.com/os-climate/aicoe-osc-demo

## Traceback
[code]

[2021-12-09 14:44] sesheta commented on #161
@khebhut[bot]: This issue is currently awaiting triage.
One of the @thoth-station/devs will take care of the issue, and will accept the issue by applying the
`triage/accepted` label and provide further guidance.

The `triage/accepted` label can be added by org members by writing `/triage accepted` in a comment.

<details>

Instructions for interacting with me using PR comments are available [here]

[2021-12-10 09:40] khebhut[bot] opened #162 "Kebechet update manager: KeyError on kebechet_runners.py:210"
## Description
This is an automated issue generated by Kebechet v1.6.7. The update manager threw an exception (KeyError)
at runtime while working on the following repository https://github.com/thoth-station/cli-examples

## Traceback
[code]

[2021-12-10 09:40] sesheta commented on #162
@khebhut[bot]: This issue is currently awaiting triage.
One of the @thoth-station/devs will take care of the issue, and will accept the issue by applying the
`triage/accepted` label and provide further guidance.

The `triage/accepted` label can be added by org members by writing `/triage accepted` in a comment.

<details>

Instructions for interacting with me using PR comments are available [here]

[2021-12-13 11:59] khebhut[bot] opened #163 "Kebechet update manager: OgrNetworkError on kebechet_runners.py:210"
## Description
This is an automated issue generated by Kebechet v1.6.7. The update manager threw an exception (OgrNetworkError)
at runtime while working on the following repository https://github.com/thoth-station/prescriptions-refresh-job

## Traceback
[code]

[2021-12-13 11:59] sesheta commented on #163
@khebhut[bot]: This issue is currently awaiting triage.
One of the @thoth-station/devs will take care of the issue, and will accept the issue by applying the
`triage/accepted` label and provide further guidance.

The `triage/accepted` label can be added by org members by writing `/triage accepted` in a comment.

<details>

Instructions for interacting with me using PR comments are available [here]

[2021-12-13 19:16] khebhut[bot] opened #164 "Kebechet update manager: FileNotFoundError on kebechet_runners.py:210"
## Description
This is an automated issue generated by Kebechet v1.6.7. The update manager threw an exception (FileNotFoundError)
at runtime while working on the following repository https://github.com/thoth-station/ray-ml-worker

## Traceback
[code]

[2021-12-13 19:16] sesheta commented on #164
@khebhut[bot]: This issue is currently awaiting triage.
One of the @thoth-station/devs will take care of the issue, and will accept the issue by applying the
`triage/accepted` label and provide further guidance.

The `triage/accepted` label can be added by org members by writing `/triage accepted` in a comment.

<details>

Instructions for interacting with me using PR comments are available [here]

[2021-12-14 22:23] KPostOffice commented on #140
/close

[2021-12-14 22:23] sesheta commented on #140
@KPostOffice: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/support/issues/140#issuecomment-994099357):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test