[2021-12-14 22:23] #140 closed

[2021-12-15 12:51] khebhut[bot] opened #165 "Kebechet thoth-advise manager: AttributeError on kebechet_runners.py:210"
## Description
This is an automated issue generated by Kebechet v1.6.7. The thoth-advise manager threw an exception (AttributeError)
at runtime while working on the following repository https://github.com/aicoe-aiops/data-science-workflows

## Traceback
[code]

[2021-12-15 12:51] sesheta commented on #165
@khebhut[bot]: This issue is currently awaiting triage.
One of the @thoth-station/devs will take care of the issue, and will accept the issue by applying the
`triage/accepted` label and provide further guidance.

The `triage/accepted` label can be added by org members by writing `/triage accepted` in a comment.

<details>

Instructions for interacting with me using PR comments are available [here]

[2021-12-15 15:48] codificat commented on #17
/remove-lifecycle stale
depends on https://github.com/operate-first/support/issues/176 (pulp availability)

[2021-12-16 17:12] khebhut[bot] opened #166 "Kebechet info manager: OgrNetworkError on kebechet_runners.py:210"
## Description
This is an automated issue generated by Kebechet v1.6.7. The info manager threw an exception (OgrNetworkError)
at runtime while working on the following repository https://github.com/thoth-station/adviser

## Traceback
[code]

[2021-12-16 17:12] sesheta commented on #166
@khebhut[bot]: This issue is currently awaiting triage.
One of the @thoth-station/devs will take care of the issue, and will accept the issue by applying the
`triage/accepted` label and provide further guidance.

The `triage/accepted` label can be added by org members by writing `/triage accepted` in a comment.

<details>

Instructions for interacting with me using PR comments are available [here]

[2021-12-19 12:22] sesheta commented on #14
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2021-12-21 12:05] codificat commented on #162
/triage accepted
/assign @KPostOffice
/kind bug

Need to gracefully handle the situation where the `Pipfile` does not have a `packages` or `dev-pakages` section.

[2021-12-21 12:13] codificat commented on #150
Need to gracefully handle the situation where a `Pipfile` is not present.

/kind bug
/triage accepted
/assign @KPostOffice
/priority important-longterm

[2021-12-21 12:13] codificat commented on #164
Need to gracefully handle the situation where a `Pipfile.lock` is not present.

/kind bug
/triage accepted
/assign @KPostOffice
/priority important-longterm

[2021-12-21 12:21] codificat commented on #165
/kind bug
/close
/triage duplicate
of #140

[2021-12-21 12:21] #165 closed

[2021-12-21 12:22] sesheta commented on #165
@codificat: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/support/issues/165#issuecomment-998734831):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-i

[2021-12-21 12:25] codificat commented on #132
It's unclear how this happened at the time, as in theory the version running in prod already had this bug fixed.

In any case though, the current versions in prod already report version information when opening issues, so if this happens again we will have more information.

/close

[2021-12-21 12:25] sesheta commented on #132
@codificat: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/support/issues/132#issuecomment-998737505):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-i

[2021-12-21 12:25] #132 closed

[2021-12-21 13:44] khebhut[bot] opened #167 "Kebechet thoth-advise manager: AttributeError on kebechet_runners.py:210"
## Description
This is an automated issue generated by Kebechet v1.6.7. The thoth-advise manager threw an exception (AttributeError)
at runtime while working on the following repository https://github.com/thoth-station/init-job

## Traceback
[code]

[2021-12-21 13:44] sesheta commented on #167
@khebhut[bot]: This issue is currently awaiting triage.
One of the @thoth-station/devs will take care of the issue, and will accept the issue by applying the
`triage/accepted` label and provide further guidance.

The `triage/accepted` label can be added by org members by writing `/triage accepted` in a comment.

<details>

Instructions for interacting with me using PR comments are available [here]

[2021-12-21 14:13] codificat commented on #167
/kind bug
/close
/triage duplicate
of #140

[2021-12-21 14:58] goern opened #168 "Kebechet GitHub Connection Error handling"
**Is your feature request related to a problem? Please describe.**
This is a meta-issue to shad some light on three questions:
1. is it safe to leave closed any issue referencing this issue here
2. should we turn the exception handling of any issue referencing this issue into metrics, so that we can raise an altert
3. shall we leave error handling via rasing exception as is?

/kind feature
/priori

[2021-12-21 14:58] sesheta commented on #168
@goern: This issue is currently awaiting triage.
One of the @thoth-station/devs will take care of the issue, and will accept the issue by applying the
`triage/accepted` label and provide further guidance.

The `triage/accepted` label can be added by org members by writing `/triage accepted` in a comment.

<details>

Instructions for interacting with me using PR comments are available [here](https:

[2021-12-21 15:01] goern commented on #167
/kind bug
/close
/triage duplicate
see https://github.com/thoth-station/support/issues/168

[2021-12-21 15:01] #167 closed

[2021-12-21 15:01] sesheta commented on #167
@goern: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/support/issues/167#issuecomment-998848822):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-infra

[2021-12-21 15:01] goern commented on #166
/kind bug
/close
/triage duplicate
see https://github.com/thoth-station/support/issues/168

[2021-12-21 15:01] #166 closed

[2021-12-21 15:01] sesheta commented on #166
@goern: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/support/issues/166#issuecomment-998849382):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-infra

[2021-12-21 15:01] goern commented on #161
/kind bug
/close
/triage duplicate
see https://github.com/thoth-station/support/issues/168

[2021-12-21 15:01] #161 closed

[2021-12-21 15:01] sesheta commented on #161
@goern: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/support/issues/161#issuecomment-998849530):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-infra

[2021-12-21 15:01] goern commented on #163
/kind bug
/close
/triage duplicate
see https://github.com/thoth-station/support/issues/168

[2021-12-21 15:01] sesheta commented on #163
@goern: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/support/issues/163#issuecomment-998849619):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-infra

[2021-12-21 15:01] #163 closed

[2021-12-21 15:02] goern commented on #159
/kind bug
/close
/triage duplicate
see https://github.com/thoth-station/support/issues/168

[2021-12-21 15:02] #159 closed

[2021-12-21 15:02] sesheta commented on #159
@goern: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/support/issues/159#issuecomment-998849693):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-infra

[2021-12-21 15:02] goern commented on #160
/kind bug
/close
/triage duplicate
see https://github.com/thoth-station/support/issues/168

[2021-12-21 15:02] sesheta commented on #160
@goern: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/support/issues/160#issuecomment-998849777):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-infra

[2021-12-21 15:02] #160 closed

[2021-12-21 15:13] codificat commented on #11
/triage accepted

[2021-12-21 17:12] khebhut[bot] opened #169 "Kebechet thoth-advise manager: AttributeError on kebechet_runners.py:210"
## Description
This is an automated issue generated by Kebechet v1.6.7. The thoth-advise manager threw an exception (AttributeError)
at runtime while working on the following repository https://github.com/aicoe-aiops/disk-health-predictor

## Traceback
[code]

[2021-12-21 17:12] sesheta commented on #169
@khebhut[bot]: This issue is currently awaiting triage.
One of the @thoth-station/devs will take care of the issue, and will accept the issue by applying the
`triage/accepted` label and provide further guidance.

The `triage/accepted` label can be added by org members by writing `/triage accepted` in a comment.

<details>

Instructions for interacting with me using PR comments are available [here]

[2021-12-21 19:39] khebhut[bot] opened #170 "Kebechet info manager: OgrNetworkError on kebechet_runners.py:210"
## Description
This is an automated issue generated by Kebechet v1.6.7. The info manager threw an exception (OgrNetworkError)
at runtime while working on the following repository https://github.com/thoth-station/prescriptions-refresh-job

## Traceback
[code]

[2021-12-21 19:39] sesheta commented on #170
@khebhut[bot]: This issue is currently awaiting triage.
One of the @thoth-station/devs will take care of the issue, and will accept the issue by applying the
`triage/accepted` label and provide further guidance.

The `triage/accepted` label can be added by org members by writing `/triage accepted` in a comment.

<details>

Instructions for interacting with me using PR comments are available [here]

[2021-12-21 19:58] khebhut[bot] opened #171 "Kebechet update manager: IndexError on kebechet_runners.py:210"
## Description
This is an automated issue generated by Kebechet v1.6.7. The update manager threw an exception (IndexError)
at runtime while working on the following repository https://github.com/thoth-station/thoth-search

## Traceback
[code]

[2021-12-21 19:58] sesheta commented on #171
@khebhut[bot]: This issue is currently awaiting triage.
One of the @thoth-station/devs will take care of the issue, and will accept the issue by applying the
`triage/accepted` label and provide further guidance.

The `triage/accepted` label can be added by org members by writing `/triage accepted` in a comment.

<details>

Instructions for interacting with me using PR comments are available [here]

[2021-12-21 19:58] fridex commented on #171
/assign @KPostOffice

[2021-12-21 20:34] codificat commented on #170
/kind bug
/close
/triage duplicate
see #168

[2021-12-21 20:34] #170 closed

[2021-12-21 20:34] sesheta commented on #170
@codificat: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/support/issues/170#issuecomment-999076844):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-i

[2021-12-21 20:36] codificat commented on #169
/kind bug
/close
/triage duplicate
of #140  (which is fixed but not yet deployed)

[2021-12-21 20:36] #169 closed

[2021-12-21 20:36] sesheta commented on #169
@codificat: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/support/issues/169#issuecomment-999078047):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-i

[2021-12-21 20:43] codificat commented on #134
As there have been a few instances of connection errors, an umbrella issue has been raised about this: #168.

[2021-12-21 20:46] codificat commented on #92
See #168 that was created to tackle the handling of connection / network errors. Going to
/close
this one in favour of #168

[2021-12-21 20:46] #92 closed

[2021-12-21 20:46] sesheta commented on #92
@codificat: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/support/issues/92#issuecomment-999083123):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-in

[2021-12-21 20:48] codificat commented on #134
/close
in favour of #168

[2021-12-21 20:48] #134 closed

[2021-12-21 20:48] sesheta commented on #134
@codificat: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/support/issues/134#issuecomment-999084125):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-i

[2021-12-21 20:49] codificat commented on #168
Note that https://github.com/thoth-station/support/issues/134#issuecomment-967142783 has a suggestion on a possible action

[2021-12-22 11:21] codificat commented on #171
/kind bug
/triage accepted
/priority important-soon

[2021-12-27 14:04] khebhut[bot] opened #172 "Kebechet update manager: GitCommandError on kebechet_runners.py:210"
## Description
This is an automated issue generated by Kebechet v1.6.7. The update manager threw an exception (GitCommandError)
at runtime while working on the following repository https://github.com/os-climate/data-platform-demo

## Traceback
[code]

[2021-12-27 14:04] sesheta commented on #172
@khebhut[bot]: This issue is currently awaiting triage.
One of the @thoth-station/devs will take care of the issue, and will accept the issue by applying the
`triage/accepted` label and provide further guidance.

The `triage/accepted` label can be added by org members by writing `/triage accepted` in a comment.

<details>

Instructions for interacting with me using PR comments are available [here]

[2022-01-04 11:54] codificat commented on #172
/kind bug
/close
/triage duplicate
see #168

[2022-01-04 11:54] #172 closed

[2022-01-04 11:54] sesheta commented on #172
@codificat: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/support/issues/172#issuecomment-1004745455):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-

[2022-01-04 18:28] khebhut[bot] opened #173 "Kebechet thoth-advise manager: AttributeError on kebechet_runners.py:210"
## Description
This is an automated issue generated by Kebechet v1.6.7. The thoth-advise manager threw an exception (AttributeError)
at runtime while working on the following repository https://github.com/aicoe-aiops/disk-health-predictor

## Traceback
[code]

[2022-01-04 18:28] sesheta commented on #173
@khebhut[bot]: This issue is currently awaiting triage.
One of the @thoth-station/devs will take care of the issue, and will accept the issue by applying the
`triage/accepted` label and provide further guidance.

The `triage/accepted` label can be added by org members by writing `/triage accepted` in a comment.

<details>

Instructions for interacting with me using PR comments are available [here]

[2022-01-05 12:28] codificat commented on #173
/kind bug
/triage accepted
/close
/triage duplicate
of #140 (which is fixed but not yet deployed)

[2022-01-05 12:28] #173 closed

[2022-01-05 12:28] sesheta commented on #173
@codificat: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/support/issues/173#issuecomment-1005644000):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-

[2022-01-07 18:42] KPostOffice commented on #60
/close

[2022-01-07 18:42] sesheta commented on #60
@KPostOffice: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/support/issues/60#issuecomment-1007646041):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test

[2022-01-07 18:42] #60 closed

[2022-01-12 15:55] khebhut[bot] opened #174 "Kebechet thoth-advise manager: AttributeError on kebechet_runners.py:210"
## Description
This is an automated issue generated by Kebechet v1.6.7. The thoth-advise manager threw an exception (AttributeError)
at runtime while working on the following repository https://github.com/theckang/elyra-aidevsecops-tutorial

## Traceback
[code]

[2022-01-12 15:56] sesheta commented on #174
@khebhut[bot]: This issue is currently awaiting triage.
One of the @thoth-station/devs will take care of the issue, and will accept the issue by applying the
`triage/accepted` label and provide further guidance.

The `triage/accepted` label can be added by org members by writing `/triage accepted` in a comment.

<details>

Instructions for interacting with me using PR comments are available [here]

[2022-01-13 10:20] codificat commented on #174
/kind bug
/triage accepted
/close
/triage duplicate
of #140 (which is fixed but not yet deployed)

[2022-01-13 10:20] sesheta commented on #174
@codificat: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/support/issues/174#issuecomment-1011994495):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-

[2022-01-13 10:20] #174 closed

[2022-01-13 11:22] khebhut[bot] opened #175 "Kebechet thoth-advise manager: AttributeError on kebechet_runners.py:210"
## Description
This is an automated issue generated by Kebechet v1.6.7. The thoth-advise manager threw an exception (AttributeError)
at runtime while working on the following repository https://github.com/AICoE/elyra-aidevsecops-tutorial

## Traceback
[code]

[2022-01-13 11:22] sesheta commented on #175
@khebhut[bot]: This issue is currently awaiting triage.
One of the @thoth-station/devs will take care of the issue, and will accept the issue by applying the
`triage/accepted` label and provide further guidance.

The `triage/accepted` label can be added by org members by writing `/triage accepted` in a comment.

<details>

Instructions for interacting with me using PR comments are available [here]

[2022-01-13 11:55] codificat commented on #175
/kind bug
/triage accepted
/close
/triage duplicate
of #140 (which is fixed but not yet deployed)

[2022-01-13 11:55] #175 closed

[2022-01-13 19:28] khebhut[bot] opened #176 "Kebechet thoth-advise manager: AttributeError on kebechet_runners.py:210"
## Description
This is an automated issue generated by Kebechet v1.6.7. The thoth-advise manager threw an exception (AttributeError)
at runtime while working on the following repository https://github.com/aicoe-aiops/data-science-workflows

## Traceback
[code]

[2022-01-13 19:28] sesheta commented on #176
@khebhut[bot]: This issue is currently awaiting triage.
One of the @thoth-station/devs will take care of the issue, and will accept the issue by applying the
`triage/accepted` label and provide further guidance.

The `triage/accepted` label can be added by org members by writing `/triage accepted` in a comment.

<details>

Instructions for interacting with me using PR comments are available [here]

[2022-01-14 08:33] codificat commented on #176
/kind bug
/triage accepted
/close
/triage duplicate
of #140 (which is fixed but not yet deployed)

[2022-01-14 08:33] #176 closed

[2022-01-14 08:33] sesheta commented on #176
@codificat: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/support/issues/176#issuecomment-1012913547):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-

[2022-01-14 13:47] goern commented on #135
any update in this?

[2022-01-14 16:00] khebhut[bot] opened #177 "Kebechet thoth-advise manager: AttributeError on kebechet_runners.py:210"
## Description
This is an automated issue generated by Kebechet v1.6.7. The thoth-advise manager threw an exception (AttributeError)
at runtime while working on the following repository https://github.com/AICoE/elyra-aidevsecops-tutorial

## Traceback
[code]

[2022-01-14 16:00] sesheta commented on #177
@khebhut[bot]: This issue is currently awaiting triage.
One of the @thoth-station/devs will take care of the issue, and will accept the issue by applying the
`triage/accepted` label and provide further guidance.

The `triage/accepted` label can be added by org members by writing `/triage accepted` in a comment.

<details>

Instructions for interacting with me using PR comments are available [here]

[2022-01-17 08:38] goern commented on #177
/triage accepted
/priority critical-urgent
/kind bug
/assign @KPostOffice

[2022-01-17 09:56] khebhut[bot] opened #178 "Kebechet thoth-advise manager: AttributeError on kebechet_runners.py:210"
## Description
This is an automated issue generated by Kebechet v1.6.7. The thoth-advise manager threw an exception (AttributeError)
at runtime while working on the following repository https://github.com/thoth-station/jupyterlab-requirements

## Traceback
[code]

[2022-01-17 09:56] sesheta commented on #178
@khebhut[bot]: This issue is currently awaiting triage.
One of the @thoth-station/devs will take care of the issue, and will accept the issue by applying the
`triage/accepted` label and provide further guidance.

The `triage/accepted` label can be added by org members by writing `/triage accepted` in a comment.

<details>

Instructions for interacting with me using PR comments are available [here]

[2022-01-17 10:13] codificat commented on #178
/kind bug
/triage accepted
/close
/triage duplicate
of #140 (which is fixed but not yet deployed)

[2022-01-17 10:13] #178 closed

[2022-01-17 10:13] sesheta commented on #178
@codificat: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/support/issues/178#issuecomment-1014352471):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-

[2022-01-17 12:45] codificat commented on #144
/assign @harshad16

@mayaCostantini can you confirm this is complete and close the issue?

[2022-01-17 13:49] goern opened #179 "failed thamos advise links to 404 thoth-search result"
**Describe the bug**
When executing a `thamos advise` and it fails due to `Unable to resolve all direct dependencies`, the result still pointed to a thoth-search URL, which actually gives http/404

**To Reproduce**
Steps to reproduce the behavior:
1. `git clone ... kebechet`
2. `git checkout 15cc8bc88a2f3038b1f3ad9468ebd2873e3da829`
3. `thamos -v advise --no-dev`
4. see result

**Expected behaviou

[2022-01-17 13:49] sesheta commented on #179
@goern: This issue is currently awaiting triage.
One of the @thoth-station/devs will take care of the issue, and will accept the issue by applying the
`triage/accepted` label and provide further guidance.

The `triage/accepted` label can be added by org members by writing `/triage accepted` in a comment.

<details>

Instructions for interacting with me using PR comments are available [here](https:

[2022-01-17 13:53] harshad16 commented on #144
I dont think, this can be closed , due to two reasons:
1. Early December, smaug cluster storage was fixed and the data in opf-datacatalog was deleted.
So we need to re-push the data.
2. The data of MI in stage seems to be having only 0 values, so we need to verify this first.

i would suggest let move this issue to thoth-application for further exploration.

[2022-01-17 14:50] khebhut[bot] opened #180 "Kebechet thoth-advise manager: AttributeError on kebechet_runners.py:210"
## Description
This is an automated issue generated by Kebechet v1.6.7. The thoth-advise manager threw an exception (AttributeError)
at runtime while working on the following repository https://github.com/AICoE/elyra-aidevsecops-tutorial

## Traceback
[code]

[2022-01-17 14:51] sesheta commented on #180
@khebhut[bot]: This issue is currently awaiting triage.
One of the @thoth-station/devs will take care of the issue, and will accept the issue by applying the
`triage/accepted` label and provide further guidance.

The `triage/accepted` label can be added by org members by writing `/triage accepted` in a comment.

<details>

Instructions for interacting with me using PR comments are available [here]

[2022-01-17 16:27] fridex commented on #16
The pulp instance is up and running. If you want to proceed with this one, [feel free to follow the docs](https://www.operate-first.cloud/community-handbook/pulp/usage.md). We would be happy to support index creation and hosting packages (I'm not sure about the index name here).

[2022-01-17 16:27] fridex commented on #17
See https://github.com/thoth-station/support/issues/16#issuecomment-1014713528

[2022-01-17 17:55] codificat commented on #180
/kind bug
/triage accepted
/close
/triage duplicate
of #140 (which is fixed but not yet deployed)

[2022-01-17 17:55] sesheta commented on #180
@codificat: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/support/issues/180#issuecomment-1014780058):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-

[2022-01-17 17:55] #180 closed

[2022-01-17 19:10] khebhut[bot] opened #181 "Kebechet update manager: GitCommandError on kebechet_runners.py:210"
## Description
This is an automated issue generated by Kebechet v1.7.1. The update manager threw an exception (GitCommandError)
at runtime while working on the following repository https://github.com/aicoe-aiops/ocp-ci-analysis

## Traceback
[code]

[2022-01-17 19:10] sesheta commented on #181
@khebhut[bot]: This issue is currently awaiting triage.
One of the @thoth-station/devs will take care of the issue, and will accept the issue by applying the
`triage/accepted` label and provide further guidance.

The `triage/accepted` label can be added by org members by writing `/triage accepted` in a comment.

<details>

Instructions for interacting with me using PR comments are available [here]

[2022-01-18 09:28] khebhut[bot] opened #182 "Kebechet info manager: TypeError on kebechet_runners.py:210"
## Description
This is an automated issue generated by Kebechet v1.7.1. The info manager threw an exception (TypeError)
at runtime while working on the following repository https://github.com/thoth-station/pulp-metrics-exporter

## Traceback
[code]

[2022-01-18 09:29] khebhut[bot] opened #183 "Kebechet update manager: TypeError on kebechet_runners.py:210"
## Description
This is an automated issue generated by Kebechet v1.7.1. The update manager threw an exception (TypeError)
at runtime while working on the following repository https://github.com/thoth-station/pulp-metrics-exporter

## Traceback
[code]

[2022-01-18 09:29] sesheta commented on #182
@khebhut[bot]: This issue is currently awaiting triage.
One of the @thoth-station/devs will take care of the issue, and will accept the issue by applying the
`triage/accepted` label and provide further guidance.

The `triage/accepted` label can be added by org members by writing `/triage accepted` in a comment.

<details>

Instructions for interacting with me using PR comments are available [here]

[2022-01-18 09:29] khebhut[bot] opened #184 "Kebechet version manager: TypeError on kebechet_runners.py:210"
## Description
This is an automated issue generated by Kebechet v1.7.1. The version manager threw an exception (TypeError)
at runtime while working on the following repository https://github.com/thoth-station/pulp-metrics-exporter

## Traceback
[code]

[2022-01-18 09:29] sesheta commented on #183
@khebhut[bot]: This issue is currently awaiting triage.
One of the @thoth-station/devs will take care of the issue, and will accept the issue by applying the
`triage/accepted` label and provide further guidance.

The `triage/accepted` label can be added by org members by writing `/triage accepted` in a comment.

<details>

Instructions for interacting with me using PR comments are available [here]

[2022-01-18 09:29] sesheta commented on #184
@khebhut[bot]: This issue is currently awaiting triage.
One of the @thoth-station/devs will take care of the issue, and will accept the issue by applying the
`triage/accepted` label and provide further guidance.

The `triage/accepted` label can be added by org members by writing `/triage accepted` in a comment.

<details>

Instructions for interacting with me using PR comments are available [here]

[2022-01-18 09:36] khebhut[bot] opened #185 "Kebechet version manager: GitCommandError on kebechet_runners.py:210"
## Description
This is an automated issue generated by Kebechet v1.7.1. The version manager threw an exception (GitCommandError)
at runtime while working on the following repository https://github.com/thoth-station/pulp-metrics-exporter

## Traceback
[code]

[2022-01-18 09:37] sesheta commented on #185
@khebhut[bot]: This issue is currently awaiting triage.
One of the @thoth-station/devs will take care of the issue, and will accept the issue by applying the
`triage/accepted` label and provide further guidance.

The `triage/accepted` label can be added by org members by writing `/triage accepted` in a comment.

<details>

Instructions for interacting with me using PR comments are available [here]

[2022-01-18 11:03] goern commented on #93
what is the status of this?

[2022-01-18 11:29] codificat commented on #184
/kind bug
/close
/triage duplicate
of #182

[2022-01-18 11:29] #184 closed

[2022-01-18 11:29] sesheta commented on #184
@codificat: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/support/issues/184#issuecomment-1015322740):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-

[2022-01-18 11:35] codificat commented on #183
/kind bug
/close
/triage duplicate
of #182

[2022-01-18 11:35] sesheta commented on #183
@codificat: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/support/issues/183#issuecomment-1015326469):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-

[2022-01-18 11:35] #183 closed

[2022-01-18 11:36] codificat commented on #182
/kind bug
/triage accepted
/priority critical-urgent
/assign @KPostOffice

[2022-01-18 12:07] codificat commented on #185
/kind bug
/triage accepted
/priority critical-urgent
/assign @KPostOffice

[2022-01-18 12:10] codificat commented on #181
/kind bug
/triage accepted
/priority important-longterm
/assign @KPostOffice

[2022-01-18 18:52] KPostOffice commented on #185
/lifecycle in-progress

[2022-01-18 18:52] KPostOffice commented on #185
/lifecycle active

[2022-01-18 19:28] goern commented on #150
what is the status of this one?

[2022-01-18 19:28] goern commented on #164
what is the status of this one?

[2022-01-18 19:28] goern commented on #162
what is the status of this one?

[2022-01-18 19:28] goern commented on #171
what is the status of this one?

[2022-01-18 19:28] goern commented on #181
what is the status of this one?

[2022-01-18 21:00] KPostOffice commented on #93
PR needs review, otherwise all set

[2022-01-18 21:03] KPostOffice commented on #182
/lifecycle active

[2022-01-19 08:18] khebhut[bot] opened #186 "Kebechet update manager: GithubException on kebechet_runners.py:210"
## Description
This is an automated issue generated by Kebechet v1.7.1. The update manager threw an exception (GithubException)
at runtime while working on the following repository https://github.com/thoth-station/s2i-minimal-notebook

## Traceback
[code]

[2022-01-19 08:18] sesheta commented on #186
@khebhut[bot]: This issue is currently awaiting triage.
One of the @thoth-station/devs will take care of the issue, and will accept the issue by applying the
`triage/accepted` label and provide further guidance.

The `triage/accepted` label can be added by org members by writing `/triage accepted` in a comment.

<details>

Instructions for interacting with me using PR comments are available [here]

[2022-01-19 13:30] Gkrumbach07 commented on #179
/triage accepted

[2022-01-19 13:38] Gkrumbach07 commented on #179
@goern What was the exact link that was given? Assuming no document_id is given, the link would most likely look like `https://thoth-station.ninja/search/advise/`. In that case the app is working correctly because there was no id provided. I could create a custom 404 page for these instances that will notify you the user that there was no id provided.

[2022-01-19 13:44] Gkrumbach07 commented on #179
When I ran thamos I was given the link https://thoth-station.ninja/search/advise/adviser-220119133853-3342a89ae14b8ca0/summary. This pointed to a non 404 search link. The app did fail eventually due to the 500 type api errors, but not 404. Is this also what you noticed or did you see a 404 page?

[2022-01-19 13:52] Gkrumbach07 commented on #179
After looking at the failed api calls, It seems like the versions in the pipfile.lock from the inputs were not known to Thoth. Because all were not known, then the app crashed. That looks like a bug on the UI side.

[2022-01-19 14:00] fridex commented on #179
It might be that the issue was originally referring to an old link to Thoth Search UI in adviser output (when `thoth-search` was part of the URL). This was fixed with the release.

[2022-01-19 14:06] KPostOffice commented on #182
/close

[2022-01-19 14:06] #182 closed

[2022-01-19 14:06] sesheta commented on #182
@KPostOffice: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/support/issues/182#issuecomment-1016498183):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/tes

[2022-01-19 14:15] Gkrumbach07 commented on #179
In that case we can probably close this issue. I will open an issue to add some tests regrading different data coming in. This will be able to catch the problem case I described above.

[2022-01-19 14:17] fridex commented on #179
Sounds reasonable. Thanks!

/close

[2022-01-19 14:17] #179 closed

[2022-01-19 14:17] sesheta commented on #179
@fridex: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/support/issues/179#issuecomment-1016508641):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-inf

[2022-01-19 20:55] KPostOffice commented on #185
/close
Fixed by thoth-station/kebechet#973

[2022-01-19 20:56] #185 closed

[2022-01-19 20:56] sesheta commented on #185
@KPostOffice: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/support/issues/185#issuecomment-1016860898):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/tes

[2022-01-20 22:34] KPostOffice commented on #171
Need to handle the case where no runtime environments are present. Update manager should run just on the root of the repository.

[2022-01-21 10:58] khebhut[bot] opened #187 "Kebechet version manager: GitCommandError on kebechet_runners.py:210"
## Description
This is an automated issue generated by Kebechet v1.7.1. The version manager threw an exception (GitCommandError)
at runtime while working on the following repository https://github.com/thoth-station/user-api

## Traceback
[code]

[2022-01-21 10:59] sesheta commented on #187
@khebhut[bot]: This issue is currently awaiting triage.
One of the @thoth-station/devs will take care of the issue, and will accept the issue by applying the
`triage/accepted` label and provide further guidance.

The `triage/accepted` label can be added by org members by writing `/triage accepted` in a comment.

<details>

Instructions for interacting with me using PR comments are available [here]

[2022-01-21 21:07] KPostOffice commented on #187
/close duplicate https://github.com/thoth-station/support/issues/185

[2022-01-21 22:08] KPostOffice commented on #164
Trying to find the root cause. There is definitely already conditional logic for when `Pipfile` is present but `Pipfile.lock` is not present.

[2022-01-21 22:45] KPostOffice commented on #164
/needs-information
This needs a way to be reproduced. The cause of this bug is not clear

[2022-01-21 22:46] KPostOffice commented on #164
/label needs-information

[2022-01-21 22:46] sesheta commented on #164
@KPostOffice: The label(s) `/label needs-information` cannot be applied. These labels are supported: `community/discussion, community/group-programming, community/maintenance, community/question, deployment_name/ocp4-stage, deployment_name/ocp4-test, deployment_name/moc-prod, hacktoberfest, hacktoberfest-accepted, kind/cleanup, kind/demo, kind/deprecation, kind/documentation, kind/question, sig/ad

[2022-01-22 19:29] codificat commented on #187
Fixing prow command format :innocent:

/close
/triage duplicate
/kind bug

[2022-01-22 19:29] sesheta commented on #187
@codificat: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/support/issues/187#issuecomment-1019344118):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-

[2022-01-22 19:29] #187 closed

[2022-01-22 19:31] codificat commented on #164
/triage needs-information

[2022-01-22 19:36] codificat commented on #164
Or maybe:

/triage not-reproducible

[2022-01-23 05:55] khebhut[bot] opened #188 "Kebechet version manager: GitCommandError on kebechet_runners.py:210"
## Description
This is an automated issue generated by Kebechet v1.7.1. The version manager threw an exception (GitCommandError)
at runtime while working on the following repository https://github.com/thoth-station/kebechet

## Traceback
[code]

[2022-01-23 05:55] sesheta commented on #188
@khebhut[bot]: This issue is currently awaiting triage.
One of the @thoth-station/devs will take care of the issue, and will accept the issue by applying the
`triage/accepted` label and provide further guidance.

The `triage/accepted` label can be added by org members by writing `/triage accepted` in a comment.

<details>

Instructions for interacting with me using PR comments are available [here]

[2022-01-24 12:10] codificat commented on #188
/kind bug
/triage duplicate
of #185
/close

[2022-01-24 12:10] #188 closed

[2022-01-24 12:10] sesheta commented on #188
@codificat: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/support/issues/188#issuecomment-1020033678):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-

[2022-01-24 16:24] khebhut[bot] opened #189 "Kebechet version manager: GitCommandError on kebechet_runners.py:210"
## Description
This is an automated issue generated by Kebechet v1.7.1. The version manager threw an exception (GitCommandError)
at runtime while working on the following repository https://github.com/AICoE/summit-2021-octo-keynote

## Traceback
[code]

[2022-01-24 16:25] sesheta commented on #189
@khebhut[bot]: This issue is currently awaiting triage.
One of the @thoth-station/devs will take care of the issue, and will accept the issue by applying the
`triage/accepted` label and provide further guidance.

The `triage/accepted` label can be added by org members by writing `/triage accepted` in a comment.

<details>

Instructions for interacting with me using PR comments are available [here]

[2022-01-24 20:32] codificat commented on #189
/kind bug
/triage duplicate
of #185
/close

[2022-01-24 20:32] #189 closed

[2022-01-24 20:32] sesheta commented on #189
@codificat: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/support/issues/189#issuecomment-1020521650):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-

[2022-01-24 20:42] khebhut[bot] opened #190 "Kebechet version manager: GitCommandError on kebechet_runners.py:210"
## Description
This is an automated issue generated by Kebechet v1.7.2. The version manager threw an exception (GitCommandError)
at runtime while working on the following repository https://github.com/AICoE/summit-2021-octo-keynote

## Traceback
[code]

[2022-01-24 20:42] sesheta commented on #190
@khebhut[bot]: This issue is currently awaiting triage.
One of the @thoth-station/devs will take care of the issue, and will accept the issue by applying the
`triage/accepted` label and provide further guidance.

The `triage/accepted` label can be added by org members by writing `/triage accepted` in a comment.

<details>

Instructions for interacting with me using PR comments are available [here]

[2022-01-25 17:47] codificat commented on #190
/kind bug
/triage duplicate
of https://github.com/thoth-station/kebechet/issues/981
/close

[2022-01-25 17:47] sesheta commented on #190
@codificat: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/support/issues/190#issuecomment-1021450439):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-

[2022-01-25 17:47] #190 closed

[2022-01-25 19:15] khebhut[bot] opened #191 "Kebechet version manager: GitCommandError on kebechet_runners.py:210"
## Description
This is an automated issue generated by Kebechet v1.7.2. The version manager threw an exception (GitCommandError)
at runtime while working on the following repository https://github.com/AICoE/summit-2021-octo-keynote

## Traceback
[code]

[2022-01-25 19:15] sesheta commented on #191
@khebhut[bot]: This issue is currently awaiting triage.
One of the @thoth-station/devs will take care of the issue, and will accept the issue by applying the
`triage/accepted` label and provide further guidance.

The `triage/accepted` label can be added by org members by writing `/triage accepted` in a comment.

<details>

Instructions for interacting with me using PR comments are available [here]

[2022-01-25 21:46] KPostOffice commented on #191
/duplicate
/close

[2022-01-25 21:46] #191 closed

[2022-01-25 21:46] sesheta commented on #191
@KPostOffice: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/support/issues/191#issuecomment-1021639257):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/tes

[2022-01-28 16:28] KPostOffice commented on #93
/close
Fixed by thoth-station/kebechet#398

[2022-01-28 16:28] #93 closed

[2022-01-29 22:47] khebhut[bot] opened #192 "Kebechet version manager: GitCommandError on kebechet_runners.py:210"
## Description
This is an automated issue generated by Kebechet v1.7.3. The version manager threw an exception (GitCommandError)
at runtime while working on the following repository https://github.com/AICoE/summit-2021-octo-keynote

## Traceback
[code]

[2022-01-29 22:47] sesheta commented on #192
@khebhut[bot]: This issue is currently awaiting triage.
One of the @thoth-station/devs will take care of the issue, and will accept the issue by applying the
`triage/accepted` label and provide further guidance.

The `triage/accepted` label can be added by org members by writing `/triage accepted` in a comment.

<details>

Instructions for interacting with me using PR comments are available [here]

[2022-01-31 09:35] codificat commented on #192
I believe this was caused by duplicate requests for a patch release: https://github.com/AICoE/summit-2021-octo-keynote/issues/52 and https://github.com/AICoE/summit-2021-octo-keynote/issues/53

Still, kebechet should probably handle this situation more gracefully, and e.g. update the relevant issue(s) to inform the users of what's going on.

/kind bug
/priority important-longterm
/assign @KPostOff

[2022-01-31 10:09] goern commented on #192
/triage accepted

[2022-02-01 15:21] codificat commented on #168
On a review today, this is believed to be fixed already

/close

[2022-02-01 19:44] codificat commented on #168
The bot missed the previous comment, trying again:
/close

[2022-02-01 19:44] #168 closed

[2022-02-01 19:44] sesheta commented on #168
@codificat: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/support/issues/168#issuecomment-1027220780):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-

[2022-02-01 22:10] KPostOffice commented on #192
++

[2022-02-07 19:49] KPostOffice commented on #171
/triage accepted

[2022-02-07 19:50] KPostOffice commented on #171
/lifecycle active

[2022-02-10 17:51] erikerlandson opened #193 "Support thoth image builds via github actions"
**Is your feature request related to a problem? Please describe.**
Developers on github are often familiar with using github actions, but are generally not familiar with more bespoke systems like thoth, aicoe-ci, etc.
cc @negillett @MichaelClifford @caldeirav @goern

**High-level Goals**
1. Implement a github action that can do thoth image builds.

**Describe the solution you'd like**
See above

*

[2022-02-10 17:51] sesheta commented on #193
@erikerlandson: This issue is currently awaiting triage.
One of the @thoth-station/devs will take care of the issue, and will accept the issue by applying the
`triage/accepted` label and provide further guidance.

The `triage/accepted` label can be added by org members by writing `/triage accepted` in a comment.

<details>

Instructions for interacting with me using PR comments are available [here

[2022-02-11 15:14] KPostOffice commented on #150
/lifecycle active

[2022-02-14 19:36] Gkrumbach07 commented on #193
**Other benefits of having a GitHub action for Thoth image build:**
- Less steps to integrate Thoth image builder. Instead if using yaml files and bots, a repo owner can simply add a preset GitHub action.
- An already integrated way to see past build logs and build fails. As a repo owner, you have better clarity of the history and current state of the image builds.
- External users are more likely

[2022-02-14 22:13] erikerlandson commented on #193
this would also be an excellent solution for https://github.com/thoth-station/core/issues/316

github's infra provides a standard link to the output of all its workflow steps, and they are also saved for future reference

[2022-02-28 19:12] KPostOffice commented on #162
/lifecycle active

[2022-02-28 19:36] KPostOffice commented on #186
/lifecycle active

[2022-03-01 16:08] sesheta commented on #151
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-03-01 17:13] erikerlandson commented on #151
/remove-lifecycle stale

[2022-03-01 21:45] KPostOffice commented on #186
/assign @KPostOffice

[2022-03-02 07:53] goern opened #194 "[2pt] setup Kebechet to maintain https://github.com/opendatahub-io/s2i-lab-elyra"
**Is your feature request related to a problem? Please describe.**
Elyra version outdated.

**Describe the solution you'd like**
Set up Kebechet to maintain https://github.com/opendatahub-io/s2i-lab-elyra dependencies shall be kept up to date based on Thoth Guidance Service (adivser-manager) and new container image version shall be delivered to quay.io

**Describe alternatives you've considered**

[2022-03-02 07:53] sesheta commented on #194
@goern: This issue is currently awaiting triage.
One of the @thoth-station/devs will take care of the issue, and will accept the issue by applying the
`triage/accepted` label and provide further guidance.

The `triage/accepted` label can be added by org members by writing `/triage accepted` in a comment.

<details>

Instructions for interacting with me using PR comments are available [here](https:

[2022-03-02 09:38] mayaCostantini commented on #151
/assign
/lifecycle active

[2022-03-02 10:13] mayaCostantini commented on #151
Thanks for the answer @fridex 💯
Just to be sure, are all container images used in prow listed in https://github.com/thoth-station/thoth-ops-infra?

[2022-03-02 10:13] harshad16 commented on #151
yes all the prow job container are in from that repository

[2022-03-02 10:15] harshad16 commented on #151
This file can be used to check which image is being utilized
https://github.com/thoth-station/report-processing/blob/master/.prow.yaml

another note all images on quay are listed with the github url.

[2022-03-02 10:27] mayaCostantini commented on #151
I see, thanks @harshad16!
Should we document this information for Thoth contributors or is it already specified somewhere?

[2022-03-02 10:31] harshad16 commented on #151
ack, yes lets document this in thoth-application
so we can share it with other, wdyt?

[2022-03-02 18:58] #151 closed

[2022-03-03 15:41] khebhut[bot] opened #196 "Kebechet thoth-advise manager: KeyError on kebechet_runners.py:210"
## Description
This is an automated issue generated by Kebechet v1.7.3. The thoth-advise manager threw an exception (KeyError)
at runtime while working on the following repository https://github.com/thoth-station/python

## Traceback
[code]

[2022-03-03 15:41] sesheta commented on #196
@khebhut[bot]: This issue is currently awaiting triage.
One of the @thoth-station/devs will take care of the issue, and will accept the issue by applying the
`triage/accepted` label and provide further guidance.

The `triage/accepted` label can be added by org members by writing `/triage accepted` in a comment.

<details>

Instructions for interacting with me using PR comments are available [here]

[2022-03-03 15:43] khebhut[bot] opened #197 "Kebechet thoth-advise manager: AttributeError on kebechet_runners.py:210"
## Description
This is an automated issue generated by Kebechet v1.7.3. The thoth-advise manager threw an exception (AttributeError)
at runtime while working on the following repository https://github.com/thoth-station/python

## Traceback
[code]

[2022-03-03 15:43] sesheta commented on #197
@khebhut[bot]: This issue is currently awaiting triage.
One of the @thoth-station/devs will take care of the issue, and will accept the issue by applying the
`triage/accepted` label and provide further guidance.

The `triage/accepted` label can be added by org members by writing `/triage accepted` in a comment.

<details>

Instructions for interacting with me using PR comments are available [here]

[2022-03-03 16:08] sesheta commented on #122
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-03-04 08:06] #196 closed

[2022-03-04 08:40] #162 closed

[2022-03-04 08:44] goern commented on #171
any updates on this?

[2022-03-04 12:11] goern commented on #197
/kind bug
/priority critical-urgent
/assign @KPostOffice
/triage accepted

[2022-03-04 12:14] goern commented on #17
@EldritchJS if this is something you want to implement, feel free to reopen the issue!
/close

[2022-03-04 12:14] #17 closed

[2022-03-04 12:14] sesheta commented on #17
@goern: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/support/issues/17#issuecomment-1059111120):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-infra

[2022-03-04 12:14] goern commented on #16
@EldritchJS if this is something you want to implement, feel free to reopen the issue!
/close

[2022-03-04 12:14] sesheta commented on #16
@goern: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/support/issues/16#issuecomment-1059111244):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-infra

[2022-03-04 12:14] #16 closed

[2022-03-04 15:49] #197 closed

[2022-03-04 20:42] #150 closed

[2022-03-09 14:26] goern opened #198 "CI for https://github.com/thoth-station/solver-errors-reporter is broken"
**Describe the bug**
SSIA

**To Reproduce**
Steps to reproduce the behavior:
1. Go to one of the kebechet PR in https://github.com/thoth-station/solver-errors-reporter

**Expected behavior**
PR gets merged by cyborgs

looks like this is still on zuul, some major CI config files are missing

/priority important-soon
/assign @Gregory-Pereira

[2022-03-09 14:27] sesheta commented on #198
@goern: This issue is currently awaiting triage.
One of the @thoth-station/devs will take care of the issue, and will accept the issue by applying the
`triage/accepted` label and provide further guidance.

The `triage/accepted` label can be added by org members by writing `/triage accepted` in a comment.

<details>

Instructions for interacting with me using PR comments are available [here](https:

[2022-03-09 22:51] Gregory-Pereira commented on #198
/triage accepted

[2022-03-14 05:37] #171 closed

[2022-03-14 05:43] #192 closed

[2022-03-14 09:26] khebhut[bot] opened #199 "Kebechet thoth-advise manager: KeyError on kebechet_runners.py:210"
## Description
This is an automated issue generated by Kebechet v1.7.3. The thoth-advise manager threw an exception (KeyError)
at runtime while working on the following repository https://github.com/thoth-station/python

## Traceback
[code]

[2022-03-14 09:26] sesheta commented on #199
@khebhut[bot]: This issue is currently awaiting triage.
One of the @thoth-station/devs will take care of the issue, and will accept the issue by applying the
`triage/accepted` label and provide further guidance.

The `triage/accepted` label can be added by org members by writing `/triage accepted` in a comment.

<details>

Instructions for interacting with me using PR comments are available [here]

[2022-03-14 09:27] khebhut[bot] opened #200 "Kebechet thoth-advise manager: AttributeError on kebechet_runners.py:210"
## Description
This is an automated issue generated by Kebechet v1.7.3. The thoth-advise manager threw an exception (AttributeError)
at runtime while working on the following repository https://github.com/thoth-station/python

## Traceback
[code]

[2022-03-14 09:27] sesheta commented on #200
@khebhut[bot]: This issue is currently awaiting triage.
One of the @thoth-station/devs will take care of the issue, and will accept the issue by applying the
`triage/accepted` label and provide further guidance.

The `triage/accepted` label can be added by org members by writing `/triage accepted` in a comment.

<details>

Instructions for interacting with me using PR comments are available [here]

[2022-03-15 09:52] goern opened #201 "`thamos install` fails..."
**Describe the bug**
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. follow https://redhat-scholars.github.io/managing-vulnerabilities-with-thoth/managing-vulnerabilities-with-thoth/01-run-application.html
2. `thamos install` fails

**Expected behavior**
... shall just work

**Additional Context**
This is running in a fedora 34 toolbox created using `toolbox create fedora`

/priority

[2022-03-15 09:52] sesheta commented on #201
@goern: This issue is currently awaiting triage.
One of the @thoth-station/devs will take care of the issue, and will accept the issue by applying the
`triage/accepted` label and provide further guidance.

The `triage/accepted` label can be added by org members by writing `/triage accepted` in a comment.

<details>

Instructions for interacting with me using PR comments are available [here](https:

[2022-03-15 20:01] goern commented on #201
hmm, no, Fedora toolbox 34 has just python 3.9. `dnf install python3.8` fixes the problem

maybe it needs a better error message with an actionable item?

[2022-03-15 20:04] goern commented on #201
so `thamos install` works if py38 is installed, running the application still uses py3.9:

[code]

[2022-03-18 15:43] KPostOffice commented on #181
/lifecycle active

[2022-03-21 07:45] goern commented on #198
@Gregory-Pereira did #38 solve this issue?

[2022-03-21 07:48] goern commented on #200
/kind bug
/priority critical-urgent
/assign @KPostOffice
/triage accepted

[2022-03-21 07:49] goern commented on #199
/kind bug
/priority critical-urgent
/assign @KPostOffice
/triage accepted

[2022-03-22 08:41] goern opened #202 "latest/master and v-tag are async"
**Describe the bug**
https://quay.io/repository/thoth-station/s2i-thoth-ubi8-py38?tab=tags&tag=latest seem to be out of sync, there are latest and master tags but no corresponding v-tag

**To Reproduce**
Steps to reproduce the behavior:
1. Go to  https://quay.io/repository/thoth-station/s2i-thoth-ubi8-py38?tab=tags&tag=latest seem to be out of sync, there are latest and master tags but no correspo

[2022-03-22 08:41] sesheta commented on #202
@goern: This issue is currently awaiting triage.
One of the @thoth-station/devs will take care of the issue, and will accept the issue by applying the
`triage/accepted` label and provide further guidance.

The `triage/accepted` label can be added by org members by writing `/triage accepted` in a comment.

<details>

Instructions for interacting with me using PR comments are available [here](https:

[2022-03-22 08:42] goern commented on #202
/assign @Gregory-Pereira
/assign @harshad16
/priority critical-urgent
/triage accepted

[2022-03-23 13:40] oindrillac opened #203 "add member oindrillac to org"
How can I add myself to https://github.com/orgs/thoth-station/people

(so I can review PRs on https://github.com/thoth-station/helm-charts)

[2022-03-23 19:06] Gregory-Pereira commented on #198
Not exactly sure, but I think so. I saw that #39 got merged and that it was automatically approved by Sesheta, but it shows Harshad as the person who merged it, and the `aicoe/build-check` status as pending. The build-check itself shouldn't have passed anyway, seeing as there is no `build` paramater in our `.aicoe-ci.yaml` file. The tekton pipeline-run cannot be found so I can't go back and check

[2022-03-23 19:23] Gregory-Pereira commented on #202
Not sure if somone worked some magic behind the scenes, but I am currently seeing the `latest` and most recent v-tag are synced:
`latest` tag:  f4a600480842
`v0.32.3` tag:  f4a600480842

However in the tag history, I am also seeing that on Tue, Mar 22, 2022 at 5:43 AM, the `master` tag was deleted. Not sure if this was intentional, from the issue description provided I assumed that we do not want

[2022-03-23 19:38] harshad16 commented on #202
I had worked on this.
based on the discussion here: https://mail.google.com/chat/u/0/?zx=uaph2yprhhaf#chat/space/AAAAVjnVXFk
master tags would not be created separately
whenever there is a new tag, the latest tag would point to it.
thanks for checking on this.
marking this as complete.

[2022-03-23 19:38] #202 closed

[2022-03-24 08:34] goern opened #204 "container image mentioned contains outdated/wrong versions"
**Describe the bug**
In https://redhat-scholars.github.io/managing-vulnerabilities-with-thoth/managing-vulnerabilities-with-thoth/01-run-application.html there is mentioned to use a container to run thamos, that container image has only python3.9 and thamos 1.21.1

Same is true for the master tag of https://quay.io/repository/thoth-station/s2i-thoth-f34-py39?tab=tags&tag=latest

**To Reproduce**
S

[2022-03-24 08:34] sesheta commented on #204
@goern: This issue is currently awaiting triage.
One of the @thoth-station/devs will take care of the issue, and will accept the issue by applying the
`triage/accepted` label and provide further guidance.

The `triage/accepted` label can be added by org members by writing `/triage accepted` in a comment.

<details>

Instructions for interacting with me using PR comments are available [here](https:

[2022-03-24 12:52] khebhut[bot] opened #205 "Kebechet update manager: IndexError on kebechet_runners.py:210"
## Description
This is an automated issue generated by Kebechet v1.7.3. The update manager threw an exception (IndexError)
at runtime while working on the following repository https://github.com/thoth-station/search

## Traceback
[code]

[2022-03-24 15:31] mayaCostantini commented on #204
Addressed by https://github.com/redhat-scholars/managing-vulnerabilities-with-thoth/pull/38 and https://github.com/thoth-station/s2i-thoth/pull/238

[2022-03-25 18:32] Gregory-Pereira commented on #193
/assign

[2022-03-25 19:18] codificat commented on #193
/triage accepted
/priority important-soon
/sig user-experience

[2022-03-29 19:35] khebhut[bot] opened #206 "Kebechet update manager: GithubException on kebechet_runners.py:210"
## Description
This is an automated issue generated by Kebechet v1.8.0. The update manager threw an exception (GithubException)
at runtime while working on the following repository https://github.com/thoth-station/s2i-generic-data-science-notebook

## Traceback
[code]

[2022-03-29 19:35] sesheta commented on #206
@khebhut[bot]: This issue is currently awaiting triage.
One of the @thoth-station/devs will take care of the issue, and will accept the issue by applying the
`triage/accepted` label and provide further guidance.

The `triage/accepted` label can be added by org members by writing `/triage accepted` in a comment.

<details>

Instructions for interacting with me using PR comments are available [here]

[2022-03-29 19:42] goern commented on #206
/assign @KPostOffice
/kind bug
/priority critical-urgent
/traige accepted

[2022-03-29 19:43] goern commented on #206
/triage accepted

[2022-03-29 19:43] goern commented on #205
/triage accepted

[2022-03-30 11:27] khebhut[bot] opened #207 "Kebechet thoth-advise manager: KeyError on kebechet_runners.py:210"
## Description
This is an automated issue generated by Kebechet v1.8.0. The thoth-advise manager threw an exception (KeyError)
at runtime while working on the following repository https://github.com/thoth-station/python

## Traceback
[code]

[2022-03-30 11:27] sesheta commented on #207
@khebhut[bot]: This issue is currently awaiting triage.
One of the @thoth-station/devs will take care of the issue, and will accept the issue by applying the
`triage/accepted` label and provide further guidance.

The `triage/accepted` label can be added by org members by writing `/triage accepted` in a comment.

<details>

Instructions for interacting with me using PR comments are available [here]

[2022-03-30 11:29] khebhut[bot] opened #208 "Kebechet thoth-advise manager: TypeError on kebechet_runners.py:210"
## Description
This is an automated issue generated by Kebechet v1.8.0. The thoth-advise manager threw an exception (TypeError)
at runtime while working on the following repository https://github.com/thoth-station/python

## Traceback
[code]

[2022-03-30 11:29] sesheta commented on #208
@khebhut[bot]: This issue is currently awaiting triage.
One of the @thoth-station/devs will take care of the issue, and will accept the issue by applying the
`triage/accepted` label and provide further guidance.

The `triage/accepted` label can be added by org members by writing `/triage accepted` in a comment.

<details>

Instructions for interacting with me using PR comments are available [here]

[2022-03-30 11:38] codificat commented on #208
/triage accepted
/kind bug
/assign @KPostOffice
/priority critical-urgent

[2022-03-30 11:38] codificat commented on #207
/triage accepted
/kind bug
/assign @KPostOffice
/priority critical-urgent

[2022-04-01 11:26] fridex opened #209 "Include package bodhi-client"
### Package name

bodhi-client

### Python package index URL

_No response_

### Reason

To integrate with Packit we meed to analyze bodhi-client to have it available in recommendations.

[2022-04-01 11:26] sesheta commented on #209
@fridex: This issue is currently awaiting triage.
One of the @thoth-station/devs will take care of the issue, and will accept the issue by applying the
`triage/accepted` label and provide further guidance.

The `triage/accepted` label can be added by org members by writing `/triage accepted` in a comment.

<details>

Instructions for interacting with me using PR comments are available [here](https

[2022-04-01 11:27] fridex opened #210 "Include package rebasehelper"
### Package name

rebasehelper

### Python package index URL

_No response_

### Reason

To integrate with Packit team, we need package rebasehelper in recommendations - see https://github.com/packit/packit

[2022-04-01 11:27] sesheta commented on #210
@fridex: This issue is currently awaiting triage.
One of the @thoth-station/devs will take care of the issue, and will accept the issue by applying the
`triage/accepted` label and provide further guidance.

The `triage/accepted` label can be added by org members by writing `/triage accepted` in a comment.

<details>

Instructions for interacting with me using PR comments are available [here](https

[2022-04-01 11:28] fridex opened #211 "Include package copr"
### Package name

copr

### Python package index URL

_No response_

### Reason

To integrate with Packit we meed to analyze bodhi-client to have it available in recommendations - see https://github.com/packit/packit

[2022-04-01 11:28] sesheta commented on #211
@fridex: This issue is currently awaiting triage.
One of the @thoth-station/devs will take care of the issue, and will accept the issue by applying the
`triage/accepted` label and provide further guidance.

The `triage/accepted` label can be added by org members by writing `/triage accepted` in a comment.

<details>

Instructions for interacting with me using PR comments are available [here](https

[2022-04-01 11:29] fridex opened #212 "Include package cccolutils"
### Package name

cccolutils

### Python package index URL

_No response_

### Reason

To integrate with Packit we meed to analyze cccolutils to have it available in recommendations - see https://github.com/packit/packit

[2022-04-01 11:29] sesheta commented on #212
@fridex: This issue is currently awaiting triage.
One of the @thoth-station/devs will take care of the issue, and will accept the issue by applying the
`triage/accepted` label and provide further guidance.

The `triage/accepted` label can be added by org members by writing `/triage accepted` in a comment.

<details>

Instructions for interacting with me using PR comments are available [here](https

[2022-04-01 11:30] fridex commented on #212
[code]

/priority critical-urgent
/triage accepted

[2022-04-01 11:30] fridex commented on #211
[code]

/priority critical-urgent
/triage accepted

[2022-04-01 11:30] fridex commented on #210
[code]

/priority critical-urgent
/triage accepted

[2022-04-01 11:30] fridex commented on #209
[code]

/priority critical-urgent
/triage accepted

[2022-04-01 12:47] fridex commented on #212
/assign @mayaCostantini
/assign @fridex

[2022-04-01 12:47] fridex commented on #210
/assign @mayaCostantini
/assign @fridex

[2022-04-01 12:47] fridex commented on #209
/assign @mayaCostantini
/assign @fridex

[2022-04-02 17:28] sesheta commented on #122
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2022-04-04 08:19] goern commented on #209
/kind feature

[2022-04-04 08:19] goern commented on #210
/kind feature

[2022-04-04 08:19] goern commented on #212
/kind feature

[2022-04-04 08:19] goern commented on #211
/kind feature

[2022-04-06 06:52] khebhut[bot] opened #213 "Kebechet update manager: BadCredentialsException on kebechet_runners.py:210"
## Description
This is an automated issue generated by Kebechet v1.8.0. The update manager threw an exception (BadCredentialsException)
at runtime while working on the following repository https://github.com/thoth-station/thamos

## Traceback
[code]

[2022-04-06 06:52] sesheta commented on #213
@khebhut[bot]: This issue is currently awaiting triage.
One of the @thoth-station/devs will take care of the issue, and will accept the issue by applying the
`triage/accepted` label and provide further guidance.

The `triage/accepted` label can be added by org members by writing `/triage accepted` in a comment.

<details>

Instructions for interacting with me using PR comments are available [here]

[2022-04-06 08:52] khebhut[bot] opened #214 "Kebechet version manager: GithubAPIException on kebechet_runners.py:210"
## Description
This is an automated issue generated by Kebechet v1.8.0. The version manager threw an exception (GithubAPIException)
at runtime while working on the following repository https://github.com/thoth-station/thoth-application

## Traceback
[code]

[2022-04-06 08:53] sesheta commented on #214
@khebhut[bot]: This issue is currently awaiting triage.
One of the @thoth-station/devs will take care of the issue, and will accept the issue by applying the
`triage/accepted` label and provide further guidance.

The `triage/accepted` label can be added by org members by writing `/triage accepted` in a comment.

<details>

Instructions for interacting with me using PR comments are available [here]

[2022-04-07 07:17] goern commented on #214
/sig devsecops
/kind bug
/priority critical-urgent
/assign @harshad16
/assign @Gregory-Pereira
/triage accepted

[2022-05-02 20:10] sesheta commented on #122
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2022-05-02 20:10] sesheta commented on #122
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/support/issues/122#issuecomment-1115314567):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-in

[2022-05-04 14:31] harshad16 commented on #122
/sig devsecops
/lifecycle frozen

[2022-05-10 18:42] khebhut[bot] opened #215 "Kebechet update manager: ConfigurationError on kebechet_runners.py:210"
## Description
This is an automated issue generated by Kebechet v1.8.0. The update manager threw an exception (ConfigurationError)
at runtime while working on the following repository https://github.com/thoth-station/thoth-github-action

## Traceback
[code]

[2022-05-12 14:04] harshad16 opened #216 "Issue resolving s2i-minimal repo from rhods"
### What happened?

I have tried to execute the adviser run on the [s2i-minimal](https://github.com/red-hat-data-services/s2i-minimal-notebook/blob/master/requirements.in) repo for rhods using thamos cli.

The resolver fails with following output:
`Cannot satisfy direct dependencies: direct dependencies of type 'dictdiffer' were removed by pipeline sieves`

however the package is solved and is ava

[2022-05-12 14:04] sesheta commented on #216
@harshad16: This issue is currently awaiting triage.
One of the @thoth-station/devs will take care of the issue, and will accept the issue by applying the
`triage/accepted` label and provide further guidance.

The `triage/accepted` label can be added by org members by writing `/triage accepted` in a comment.

<details>

Instructions for interacting with me using PR comments are available [here](ht

[2022-05-12 14:08] harshad16 commented on #216
`Removing package 'dictdiffer' in versions '<=0.6.1' from index                │ ⚠️ WARNING
                                                                                │ 'https://pypi.org/simple' based on rule: Package released before December     │
                                                                                │ 2016 `
 It is stated that it is removed due to 2016 rule

[2022-05-12 14:08] #216 closed

[2022-05-12 15:38] goern opened #217 "[1pt] aiographql-client needed ofr Sefkhet-Abwy"
### Package name

aiographql-client

### Python package index URL

_No response_

### Reason

the package is required to resolve github.com/AICoE/sefkhet-abwy

**Acceptance criteria**
-  [x] schedule the solver for the package using the [management-api.](https://management.stage.thoth-station.ninja/api/v1/ui/#/Python%20Solver/post_solve_python)
-  [x] verify the package is ingested by project thot

[2022-05-12 15:39] sesheta commented on #217
@goern: This issue is currently awaiting triage.
One of the @thoth-station/devs will take care of the issue, and will accept the issue by applying the
`triage/accepted` label and provide further guidance.

The `triage/accepted` label can be added by org members by writing `/triage accepted` in a comment.

<details>

Instructions for interacting with me using PR comments are available [here](https:

[2022-05-12 15:39] sesheta commented on #217
@goern: There are no sig labels on this issue. Please add an appropriate label by using one of the following commands:
- `/sig <group-name>`
- `/wg <group-name>`

Please see the [group list](https://github.com/thoth-station/core/blob/master/community/sig-list.md) for a listing of the SIGs, and working groups available.

<details>

Instructions for interacting with me using PR comments are availabl

[2022-05-12 15:39] goern commented on #217
/sig stack-guidance

[2022-05-13 06:24] goern commented on #211
/assign @mayaCostantini

[2022-05-13 06:25] goern commented on #215
/sig devsecops
/assign @KPostOffice
/kind bug
/priority critical-urgent
/triage accepted

[2022-05-13 06:26] goern commented on #213
/sig devsecops
/assign @KPostOffice
/kind bug
/priority critical-urgent
/triage accepted

[2022-05-13 06:26] goern commented on #164
/close

[2022-05-13 06:27] #164 closed

[2022-05-13 06:27] sesheta commented on #164
@goern: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/support/issues/164#issuecomment-1125700013):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-infr

[2022-05-13 06:51] mayaCostantini commented on #211
It looks like there is an issue with solvers which fail to complete:
![Screenshot from 2022-05-13 08-48-08](https://user-images.githubusercontent.com/66788861/168227087-5331222f-78c9-42f5-8e0f-f4df4192b20a.png)

This one is for `fedora-34-py39` but there is a similar issue with other solvers as well. This is also the case for other packages I tried to solve recently (`cccolutils`, `rebasehelper`,

[2022-05-13 18:09] KPostOffice commented on #215
/lifecycle active

[2022-05-13 18:11] KPostOffice commented on #213
Not sure how this happened. Looks like credentials may have expired.

[2022-05-13 18:20] KPostOffice commented on #205
/close
fixed by https://github.com/thoth-station/kebechet/commit/0616f5e7f1c8484cd899c8edc91366adccd3700a

[2022-05-13 18:20] #205 closed

[2022-05-13 18:20] sesheta commented on #205
@KPostOffice: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/support/issues/205#issuecomment-1126318449):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/tes

[2022-05-13 19:15] #200 closed

[2022-05-13 19:15] #207 closed

[2022-05-13 19:15] #208 closed

[2022-05-14 17:34] sesheta commented on #135
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2022-05-16 20:32] #215 closed

[2022-05-16 22:11] #206 closed

[2022-05-17 18:31] #181 closed

[2022-05-17 20:39] khebhut[bot] opened #218 "Kebechet update manager: GitCommandError on kebechet_runners.py:210"
## Description
This is an automated issue generated by Kebechet v1.8.0. The update manager threw an exception (GitCommandError)
at runtime while working on the following repository https://github.com/os-climate/data-platform-demo

## Traceback
[code]

[2022-05-17 20:39] sesheta commented on #218
@khebhut[bot]: This issue is currently awaiting triage.
One of the @thoth-station/devs will take care of the issue, and will accept the issue by applying the
`triage/accepted` label and provide further guidance.

The `triage/accepted` label can be added by org members by writing `/triage accepted` in a comment.

<details>

Instructions for interacting with me using PR comments are available [here]

[2022-05-17 20:39] sesheta commented on #218
@khebhut[bot]: There are no sig labels on this issue. Please add an appropriate label by using one of the following commands:
- `/sig <group-name>`
- `/wg <group-name>`

Please see the [group list](https://github.com/thoth-station/core/blob/master/community/sig-list.md) for a listing of the SIGs, and working groups available.

<details>

Instructions for interacting with me using PR comments are a

[2022-05-18 09:10] codificat commented on #218
/kind bug
/sig user-experience
/priority critical-urgent
/triage accepted
/assign @KPostOffice

[2022-05-20 16:06] codificat opened #219 "the URL that points to an advise's results gives a 404"
**Describe the bug**

When I ask for an advise, one of the *info* items I get is a URL to explore the results on the website.

However, accessing that URL results on an HTTP 404 (not found).

**To Reproduce**

Steps to reproduce the behavior:
1. Run `thamos advise`
2. Look at the results
3. Find a line like this:

|Link|Message|
|---|---|
| https://thoth-station.ninja/search/adviser-220520135456-6

[2022-05-20 16:06] sesheta commented on #219
@codificat: This issue is currently awaiting triage.
One of the @thoth-station/devs will take care of the issue, and will accept the issue by applying the
`triage/accepted` label and provide further guidance.

The `triage/accepted` label can be added by org members by writing `/triage accepted` in a comment.

<details>

Instructions for interacting with me using PR comments are available [here](ht

[2022-05-20 16:06] sesheta commented on #219
@codificat: There are no sig labels on this issue. Please add an appropriate label by using one of the following commands:
- `/sig <group-name>`
- `/wg <group-name>`

Please see the [group list](https://github.com/thoth-station/core/blob/master/community/sig-list.md) for a listing of the SIGs, and working groups available.

<details>

Instructions for interacting with me using PR comments are avai

[2022-05-20 16:07] codificat commented on #219
/sig user-experience
/triage accepted
/priority important-soon
/kind bug

[2022-05-20 18:32] codificat commented on #217
/sig stack-guidance

[2022-05-23 13:58] fridex opened #220 "Include package osc-ingest-tools in recommendations"
### Package name

osc-ingest-tools

### Python package index URL

https://pypi.org/simple

### Reason

See https://github.com/thoth-station/core/issues/401#issuecomment-1133034316

[2022-05-23 13:58] sesheta commented on #220
@fridex: This issue is currently awaiting triage.
One of the @thoth-station/devs will take care of the issue, and will accept the issue by applying the
`triage/accepted` label and provide further guidance.

The `triage/accepted` label can be added by org members by writing `/triage accepted` in a comment.

<details>

Instructions for interacting with me using PR comments are available [here](https

[2022-05-23 13:58] sesheta commented on #220
@fridex: There are no sig labels on this issue. Please add an appropriate label by using one of the following commands:
- `/sig <group-name>`
- `/wg <group-name>`

Please see the [group list](https://github.com/thoth-station/core/blob/master/community/sig-list.md) for a listing of the SIGs, and working groups available.

<details>

Instructions for interacting with me using PR comments are availab

[2022-05-23 14:56] codificat commented on #220
/sig stack-guidance
/priority important-soon

[2022-05-24 09:07] goern commented on #219
/assign @Gkrumbach07
/priority critical-urgent
/remove-priority important-soon

[2022-05-24 09:08] goern commented on #220
/assign @mayaCostantini

[2022-05-24 09:08] goern commented on #220
/kind feature
/triage accepted

[2022-05-24 09:11] Gkrumbach07 commented on #219
That is a broken link.

Link is missing the '/advise/'.

Working link is https://thoth-station.ninja/search/advise/adviser-220520135456-693dce14c5adfe00/summary

[2022-05-24 09:55] codificat commented on #219
Sorry, I forgot to
/assign
myself.  Note that there is a PR to fix this already linked:  thoth-station/adviser#2341
/unassign @Gkrumbach07
/lifecycle active

[2022-05-24 12:50] khebhut[bot] opened #221 "Kebechet update manager: InternalError on kebechet_runners.py:210"
## Description
This is an automated issue generated by Kebechet v1.8.0. The update manager threw an exception (InternalError)
at runtime while working on the following repository https://github.com/thoth-station/ray-ml-worker

## Traceback
[code]

[2022-05-26 09:29] codificat commented on #219
/assign
/unassign @Gkrumbach07
/lifecycle active

[2022-05-27 13:21] codificat commented on #220
prow should be back now:
/kind feature
/triage accepted
/assign

[2022-05-31 09:54] sesheta commented on #194
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-05-31 16:44] codificat commented on #194
/sig user-experience
/remove-lifecycle stale

[2022-06-01 05:46] khebhut[bot] opened #222 "Kebechet version manager: GithubAPIException on kebechet_runners.py:212"
## Description
This is an automated issue generated by Kebechet v1.9.0. The version manager threw an exception (GithubAPIException)
at runtime while working on the following repository https://github.com/aicoe-aiops/ocp-ci-analysis

## Traceback
[code]

[2022-06-01 05:46] sesheta commented on #222
@khebhut[bot]: This issue is currently awaiting triage.
One of the @thoth-station/devs will take care of the issue, and will accept the issue by applying the
`triage/accepted` label and provide further guidance.

The `triage/accepted` label can be added by org members by writing `/triage accepted` in a comment.

<details>

Instructions for interacting with me using PR comments are available [here]

[2022-06-01 05:46] sesheta commented on #222
@khebhut[bot]: There are no sig labels on this issue. Please add an appropriate label by using one of the following commands:
- `/sig <group-name>`
- `/wg <group-name>`

Please see the [group list](https://github.com/thoth-station/core/blob/master/community/sig-list.md) for a listing of the SIGs, and working groups available.

<details>

Instructions for interacting with me using PR comments are a

[2022-06-01 12:49] khebhut opened #223 "Kebechet update manager: GitCommandError on kebechet_runners.py:212"
## Description
This is an automated issue generated by Kebechet v1.9.0. The update manager threw an exception (GitCommandError)
at runtime while working on the following repository https://github.com/os-climate/data-platform-demo

## Traceback
[code]

[2022-06-03 15:55] khebhut[bot] opened #224 "Kebechet update manager: InternalError on kebechet_runners.py:212"
## Description
This is an automated issue generated by Kebechet v1.9.0. The update manager threw an exception (InternalError)
at runtime while working on the following repository https://github.com/thoth-station/ray-ml-notebook

## Traceback
[code]

[2022-06-03 15:55] sesheta commented on #224
@khebhut[bot]: This issue is currently awaiting triage.
One of the @thoth-station/devs will take care of the issue, and will accept the issue by applying the
`triage/accepted` label and provide further guidance.

The `triage/accepted` label can be added by org members by writing `/triage accepted` in a comment.

<details>

Instructions for interacting with me using PR comments are available [here]

[2022-06-03 15:55] sesheta commented on #224
@khebhut[bot]: There are no sig labels on this issue. Please add an appropriate label by using one of the following commands:
- `/sig <group-name>`
- `/wg <group-name>`

Please see the [group list](https://github.com/thoth-station/core/blob/master/community/sig-list.md) for a listing of the SIGs, and working groups available.

<details>

Instructions for interacting with me using PR comments are a

[2022-06-06 13:00] khebhut[bot] opened #225 "Kebechet update manager: IssueTrackerDisabled on kebechet_runners.py:212"
## Description
This is an automated issue generated by Kebechet v1.9.0. The update manager threw an exception (IssueTrackerDisabled)
at runtime while working on the following repository https://github.com/Gregory-Pereira/thoth-station-common

## Traceback
[code]

[2022-06-06 13:00] sesheta commented on #225
@khebhut[bot]: There are no sig labels on this issue. Please add an appropriate label by using one of the following commands:
- `/sig <group-name>`
- `/wg <group-name>`

Please see the [group list](https://github.com/thoth-station/core/blob/master/community/sig-list.md) for a listing of the SIGs, and working groups available.

<details>

Instructions for interacting with me using PR comments are a

[2022-06-06 13:09] harshad16 commented on #217
comments: https://chat.google.com/room/AAAAVjnVXFk/E2k4_L7_SMY

[2022-06-06 15:40] shreekarSS opened #226 "Kebechet pipfile-requirements manager: GitCommandError on kebechet_runners.py:212"
## Description
This is an automated issue generated by Kebechet v1.9.0. The pipfile-requirements manager threw an exception (GitCommandError)
at runtime while working on the following repository https://github.com/shreekarSS/common-1

## Traceback
[code]

[2022-06-06 15:40] sesheta commented on #226
@shreekarSS: This issue is currently awaiting triage.
One of the @thoth-station/devs will take care of the issue, and will accept the issue by applying the
`triage/accepted` label and provide further guidance.

The `triage/accepted` label can be added by org members by writing `/triage accepted` in a comment.

<details>

Instructions for interacting with me using PR comments are available [here](h

[2022-06-06 15:45] shreekarSS opened #227 "Kebechet version manager: GitCommandError on kebechet_runners.py:212"
## Description
This is an automated issue generated by Kebechet v1.9.0. The version manager threw an exception (GitCommandError)
at runtime while working on the following repository https://github.com/shreekarSS/common-1

## Traceback
[code]

[2022-06-06 15:45] sesheta commented on #227
@shreekarSS: This issue is currently awaiting triage.
One of the @thoth-station/devs will take care of the issue, and will accept the issue by applying the
`triage/accepted` label and provide further guidance.

The `triage/accepted` label can be added by org members by writing `/triage accepted` in a comment.

<details>

Instructions for interacting with me using PR comments are available [here](h

[2022-06-06 15:45] sesheta commented on #227
@shreekarSS: There are no sig labels on this issue. Please add an appropriate label by using one of the following commands:
- `/sig <group-name>`
- `/wg <group-name>`

Please see the [group list](https://github.com/thoth-station/core/blob/master/community/sig-list.md) for a listing of the SIGs, and working groups available.

<details>

Instructions for interacting with me using PR comments are ava

[2022-06-06 19:41] KPostOffice commented on #218
Hmm, the issue here may not be as straight forward as I thought. This issue occurs when kebechet attempts to rebase the update PR against a new commit in master, not when creating a new branch. At this point the branch should exist, and indeed does exist in the `data-platform-demo` repository. My guess is that this is an issue with an initial shallow clone which does not fetch all branches from up

[2022-06-06 19:48] KPostOffice commented on #218
I've studied further and it seems like the requirement here is to explicitly call fetch on the branch before checkout. So there needs to be a call which looks like: `repo.git.fetch("origin", branch_name)` before `repo.get.checkout(branch_name)`

[2022-06-06 22:10] shreekarSS opened #228 "Kebechet version manager: AttributeError on kebechet_runners.py:213"
## Description
This is an automated issue generated by Kebechet v1.9.0. The version manager threw an exception (AttributeError)
at runtime while working on the following repository https://github.com/shreekarSS/common-1

## Traceback
[code]

[2022-06-06 22:10] sesheta commented on #228
@shreekarSS: This issue is currently awaiting triage.
One of the @thoth-station/devs will take care of the issue, and will accept the issue by applying the
`triage/accepted` label and provide further guidance.

The `triage/accepted` label can be added by org members by writing `/triage accepted` in a comment.

<details>

Instructions for interacting with me using PR comments are available [here](h

[2022-06-06 22:10] sesheta commented on #228
@shreekarSS: There are no sig labels on this issue. Please add an appropriate label by using one of the following commands:
- `/sig <group-name>`
- `/wg <group-name>`

Please see the [group list](https://github.com/thoth-station/core/blob/master/community/sig-list.md) for a listing of the SIGs, and working groups available.

<details>

Instructions for interacting with me using PR comments are ava

[2022-06-06 22:21] shreekarSS opened #229 "Kebechet version manager: GitCommandError on kebechet_runners.py:213"
## Description
This is an automated issue generated by Kebechet v1.9.0. The version manager threw an exception (GitCommandError)
at runtime while working on the following repository https://github.com/shreekarSS/common-1

## Traceback
[code]

[2022-06-06 22:21] sesheta commented on #229
@shreekarSS: This issue is currently awaiting triage.
One of the @thoth-station/devs will take care of the issue, and will accept the issue by applying the
`triage/accepted` label and provide further guidance.

The `triage/accepted` label can be added by org members by writing `/triage accepted` in a comment.

<details>

Instructions for interacting with me using PR comments are available [here](h

[2022-06-06 22:21] sesheta commented on #229
@shreekarSS: There are no sig labels on this issue. Please add an appropriate label by using one of the following commands:
- `/sig <group-name>`
- `/wg <group-name>`

Please see the [group list](https://github.com/thoth-station/core/blob/master/community/sig-list.md) for a listing of the SIGs, and working groups available.

<details>

Instructions for interacting with me using PR comments are ava

[2022-06-06 23:01] shreekarSS opened #230 "Kebechet version manager: PermissionError on kebechet_runners.py:213"
## Description
This is an automated issue generated by Kebechet v1.9.0. The version manager threw an exception (PermissionError)
at runtime while working on the following repository https://github.com/shreekarSS/common-1

## Traceback
[code]

[2022-06-06 23:01] sesheta commented on #230
@shreekarSS: This issue is currently awaiting triage.
One of the @thoth-station/devs will take care of the issue, and will accept the issue by applying the
`triage/accepted` label and provide further guidance.

The `triage/accepted` label can be added by org members by writing `/triage accepted` in a comment.

<details>

Instructions for interacting with me using PR comments are available [here](h

[2022-06-06 23:01] sesheta commented on #230
@shreekarSS: There are no sig labels on this issue. Please add an appropriate label by using one of the following commands:
- `/sig <group-name>`
- `/wg <group-name>`

Please see the [group list](https://github.com/thoth-station/core/blob/master/community/sig-list.md) for a listing of the SIGs, and working groups available.

<details>

Instructions for interacting with me using PR comments are ava

[2022-06-06 23:08] shreekarSS opened #231 "Kebechet version manager: TypeError on kebechet_runners.py:213"
## Description
This is an automated issue generated by Kebechet v1.9.0. The version manager threw an exception (TypeError)
at runtime while working on the following repository https://github.com/shreekarSS/common-1

## Traceback
[code]

[2022-06-06 23:08] sesheta commented on #231
@shreekarSS: This issue is currently awaiting triage.
One of the @thoth-station/devs will take care of the issue, and will accept the issue by applying the
`triage/accepted` label and provide further guidance.

The `triage/accepted` label can be added by org members by writing `/triage accepted` in a comment.

<details>

Instructions for interacting with me using PR comments are available [here](h

[2022-06-06 23:09] sesheta commented on #231
@shreekarSS: There are no sig labels on this issue. Please add an appropriate label by using one of the following commands:
- `/sig <group-name>`
- `/wg <group-name>`

Please see the [group list](https://github.com/thoth-station/core/blob/master/community/sig-list.md) for a listing of the SIGs, and working groups available.

<details>

Instructions for interacting with me using PR comments are ava

[2022-06-06 23:56] #231 closed

[2022-06-06 23:57] #230 closed

[2022-06-06 23:57] #229 closed

[2022-06-06 23:58] #226 closed

[2022-06-06 23:58] #227 closed

[2022-06-06 23:58] #228 closed

[2022-06-07 20:24] khebhut[bot] opened #232 "Kebechet thoth-advise manager: ConnectionError on kebechet_runners.py:212"
## Description
This is an automated issue generated by Kebechet v1.9.0. The thoth-advise manager threw an exception (ConnectionError)
at runtime while working on the following repository https://github.com/KPostOffice/khebhut_test

## Traceback
[code]

[2022-06-07 20:25] sesheta commented on #232
@khebhut[bot]: This issue is currently awaiting triage.
One of the @thoth-station/devs will take care of the issue, and will accept the issue by applying the
`triage/accepted` label and provide further guidance.

The `triage/accepted` label can be added by org members by writing `/triage accepted` in a comment.

<details>

Instructions for interacting with me using PR comments are available [here]

[2022-06-07 20:25] sesheta commented on #232
@khebhut[bot]: There are no sig labels on this issue. Please add an appropriate label by using one of the following commands:
- `/sig <group-name>`
- `/wg <group-name>`

Please see the [group list](https://github.com/thoth-station/core/blob/master/community/sig-list.md) for a listing of the SIGs, and working groups available.

<details>

Instructions for interacting with me using PR comments are a

[2022-06-07 21:15] codificat commented on #220
The package is now known to the database:

[code]

However, some information is still not in sync:

[code]

[2022-06-08 11:14] codificat commented on #224
While the kebechet version and affected repo differ, I believe this is a
/triage duplicate
of #221

So I am going to
/close
it as such.

/sig user-experience
/kind bug

[2022-06-08 11:14] #224 closed

[2022-06-08 11:14] sesheta commented on #224
@codificat: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/support/issues/224#issuecomment-1149782726):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-

[2022-06-08 11:15] codificat commented on #221
/kind bug
/priority important-soon
/sig user-experience
/assign @KPostOffice
/triage accepted

[2022-06-08 14:25] #210 closed

[2022-06-08 14:25] sesheta commented on #210
@codificat: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/support/issues/210#issuecomment-1149991486):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-

[2022-06-08 14:26] codificat commented on #209
`cccolutils`, `copr`, `rebasehelper` and `bodhi-client` are now in Thoth's knowledge:

[code]

so I believe this is complete.
/close

[2022-06-08 14:26] sesheta commented on #209
@codificat: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/support/issues/209#issuecomment-1149991892):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-

[2022-06-08 14:26] #209 closed

[2022-06-08 14:27] #211 closed

[2022-06-08 14:27] sesheta commented on #211
@codificat: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/support/issues/211#issuecomment-1149993432):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-

[2022-06-09 15:49] TomasTomecek opened #233 "Provide a pre-commit hook for the Thoth adviser"
**Is your feature request related to a problem? Please describe.**
I can run Thoth using [pre-commit](https://pre-commit.com/) both locally and in CI via the same workflow. GHA only provides the CI part.

**High-level Goals**
Teams can add Thoth pre-commit hook in their `.pre-commit-config.yaml`.

**Describe the solution you'd like**
Provide a [pre-commit hook](https://pre-commit.com/) that can ru

[2022-06-09 15:49] sesheta commented on #233
@TomasTomecek: This issue is currently awaiting triage.
One of the @thoth-station/devs will take care of the issue, and will accept the issue by applying the
`triage/accepted` label and provide further guidance.

The `triage/accepted` label can be added by org members by writing `/triage accepted` in a comment.

<details>

Instructions for interacting with me using PR comments are available [here]

[2022-06-09 15:49] sesheta commented on #233
@TomasTomecek: There are no sig labels on this issue. Please add an appropriate label by using one of the following commands:
- `/sig <group-name>`
- `/wg <group-name>`

Please see the [group list](https://github.com/thoth-station/core/blob/master/community/sig-list.md) for a listing of the SIGs, and working groups available.

<details>

Instructions for interacting with me using PR comments are a

[2022-06-09 16:24] harshad16 commented on #233
/triage accepted
/sig stack-guidance

thanks for the issue, we had some discussion regarding this
it's great to know users would like this.

[2022-06-09 16:26] mayaCostantini commented on #233
/assign @mayaCostantini

[2022-06-13 09:30] #219 closed

[2022-06-13 12:27] khebhut[bot] opened #234 "Kebechet update manager: GithubAPIException on kebechet_runners.py:212"
## Description
This is an automated issue generated by Kebechet v1.9.0. The update manager threw an exception (GithubAPIException)
at runtime while working on the following repository https://github.com/thoth-station/s2i-generic-data-science-notebook

## Traceback
[code]

[2022-06-13 12:27] sesheta commented on #234
@khebhut[bot]: This issue is currently awaiting triage.
One of the @thoth-station/devs will take care of the issue, and will accept the issue by applying the
`triage/accepted` label and provide further guidance.

The `triage/accepted` label can be added by org members by writing `/triage accepted` in a comment.

<details>

Instructions for interacting with me using PR comments are available [here]

[2022-06-13 12:27] sesheta commented on #234
@khebhut[bot]: There are no sig labels on this issue. Please add an appropriate label by using one of the following commands:
- `/sig <group-name>`
- `/wg <group-name>`

Please see the [group list](https://github.com/thoth-station/core/blob/master/community/sig-list.md) for a listing of the SIGs, and working groups available.

<details>

Instructions for interacting with me using PR comments are a

[2022-06-13 18:40] sesheta commented on #135
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2022-06-13 18:40] #135 closed

[2022-06-13 18:40] sesheta commented on #135
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/support/issues/135#issuecomment-1154254296):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-in

[2022-06-13 19:34] shreekarSS opened #235 "Kebechet version manager: GitCommandError on kebechet_runners.py:213"
## Description
This is an automated issue generated by Kebechet v1.9.0. The version manager threw an exception (GitCommandError)
at runtime while working on the following repository https://github.com/shreekarSS/common-1

## Traceback
[code]

[2022-06-13 19:34] sesheta commented on #235
@shreekarSS: This issue is currently awaiting triage.
One of the @thoth-station/devs will take care of the issue, and will accept the issue by applying the
`triage/accepted` label and provide further guidance.

The `triage/accepted` label can be added by org members by writing `/triage accepted` in a comment.

<details>

Instructions for interacting with me using PR comments are available [here](h

[2022-06-13 19:34] sesheta commented on #235
@shreekarSS: There are no sig labels on this issue. Please add an appropriate label by using one of the following commands:
- `/sig <group-name>`
- `/wg <group-name>`

Please see the [group list](https://github.com/thoth-station/core/blob/master/community/sig-list.md) for a listing of the SIGs, and working groups available.

<details>

Instructions for interacting with me using PR comments are ava

[2022-06-15 12:43] mayaCostantini commented on #217
Closing this issue as the package is now available in Thoth's database.

[2022-06-15 12:43] #217 closed, assigned to mayaCostantini

[2022-06-20 07:16] mayaCostantini commented on #220
@codificat can we close this issue?

[2022-06-21 10:02] codificat commented on #220
Yes, thanks - the package is known now, so let's
/close

The solver document is still not available in production (see last comment), but that doesn't interfere here. The solver doc is available in stage, so if appropriate we will handle a potential sync issue separatedly.

[2022-06-21 10:02] #220 closed

[2022-06-21 18:11] khebhut[bot] opened #236 "Kebechet update manager: InternalError on kebechet_runners.py:212"
## Description
This is an automated issue generated by Kebechet v1.9.0. The update manager threw an exception (InternalError)
at runtime while working on the following repository https://github.com/thoth-station/ray-ml-notebook

## Traceback
[code]

[2022-06-21 18:11] sesheta commented on #236
@khebhut[bot]: This issue is currently awaiting triage.
One of the @thoth-station/devs will take care of the issue, and will accept the issue by applying the
`triage/accepted` label and provide further guidance.

The `triage/accepted` label can be added by org members by writing `/triage accepted` in a comment.

<details>

Instructions for interacting with me using PR comments are available [here]

[2022-06-22 10:02] sesheta commented on #201
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-06-22 21:04] KPostOffice commented on #218
/lifecycle active

[2022-06-23 15:50] mayaCostantini commented on #233
@TomasTomecek a first release of the Thoth pre-commit hook is available at https://github.com/thoth-station/thoth-pre-commit-hook
Feedback and feature propositions are welcome!

[2022-06-24 08:32] TomasTomecek commented on #233
wow, that's awesome, thank you! we have also prioritized recently the task to use thoth, will add the link to the pre-commit hook there

[2022-06-24 13:34] erikerlandson commented on #233
that is great news!  :tada:

[2022-06-24 13:38] erikerlandson commented on #233
@mayaCostantini  in the `thoth advise` usage statement I don't see what the options are for `--recommendation-type`

[2022-06-24 20:36] #218 closed

[2022-06-26 22:02] sesheta commented on #198
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-06-27 15:38] harshad16 commented on #198
/lifecycle frozen
/remove-lifecycle stale

[2022-06-28 15:19] codificat opened #237 "thamos advise adds a duplicate index/source"
**Describe the bug**

When I request a `thamos advise` based on a `Pipfile` that has a `[[source]]` pointing to PyPI with a name other than "pypi-org-simple", the result of the advise modifies the `Pipfile` adding a (duplicate) `[[source]]` entry for PyPI

**To Reproduce**
Steps to reproduce the behavior:
1. Create a Pipfile that contains a PyPI source with a name other than "pypi-org-simple". For

[2022-06-28 15:19] sesheta commented on #237
@codificat: This issue is currently awaiting triage.
One of the @thoth-station/devs will take care of the issue, and will accept the issue by applying the
`triage/accepted` label and provide further guidance.

The `triage/accepted` label can be added by org members by writing `/triage accepted` in a comment.

<details>

Instructions for interacting with me using PR comments are available [here](ht

[2022-06-28 15:19] sesheta commented on #237
@codificat: There are no sig labels on this issue. Please add an appropriate label by using one of the following commands:
- `/sig <group-name>`
- `/wg <group-name>`

Please see the [group list](https://github.com/thoth-station/core/blob/master/community/sig-list.md) for a listing of the SIGs, and working groups available.

<details>

Instructions for interacting with me using PR comments are avai

[2022-06-28 15:20] codificat commented on #237
/sig stack-guidance
/priority important-soon
/triage accepted

[2022-06-30 15:59] khebhut[bot] opened #238 "Kebechet version manager: IssueTrackerDisabled on kebechet_runners.py:212"
## Description
This is an automated issue generated by Kebechet v1.10.0. The version manager threw an exception (IssueTrackerDisabled)
at runtime while working on the following repository https://github.com/Gregory-Pereira/management-api

## Traceback
[code]

[2022-07-01 08:23] TomasTomecek opened #239 "TLS cert of khemenu.thoth-station.ninja expired this night"
**Describe the bug**
[code]

**To Reproduce**
[code]

[2022-07-01 08:23] sesheta commented on #239
@TomasTomecek: This issue is currently awaiting triage.
One of the @thoth-station/devs will take care of the issue, and will accept the issue by applying the
`triage/accepted` label and provide further guidance.

The `triage/accepted` label can be added by org members by writing `/triage accepted` in a comment.

<details>

Instructions for interacting with me using PR comments are available [here]

[2022-07-01 08:23] sesheta commented on #239
@TomasTomecek: There are no sig labels on this issue. Please add an appropriate label by using one of the following commands:
- `/sig <group-name>`
- `/wg <group-name>`

Please see the [group list](https://github.com/thoth-station/core/blob/master/community/sig-list.md) for a listing of the SIGs, and working groups available.

<details>

Instructions for interacting with me using PR comments are a

[2022-07-01 08:26] mayaCostantini commented on #239
/priority critical-urgent

[2022-07-01 10:58] codificat commented on #239
Thanks for reporting this.

The operator that takes care of certificate renewal got stuck somehow. This is now fixed.
/close

[2022-07-01 10:58] #239 closed

[2022-07-01 10:58] sesheta commented on #239
@codificat: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/support/issues/239#issuecomment-1172219482):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-

[2022-07-04 07:59] #204 closed

[2022-07-06 10:03] sesheta commented on #214
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-07-06 19:10] khebhut[bot] opened #240 "Kebechet update manager: TypeError on kebechet_runners.py:212"
## Description
This is an automated issue generated by Kebechet v1.10.0. The update manager threw an exception (TypeError)
at runtime while working on the following repository https://github.com/thoth-station/thoth-ops-infra

## Traceback
[code]

[2022-07-06 19:10] sesheta commented on #240
@khebhut[bot]: This issue is currently awaiting triage.
One of the @thoth-station/devs will take care of the issue, and will accept the issue by applying the
`triage/accepted` label and provide further guidance.

The `triage/accepted` label can be added by org members by writing `/triage accepted` in a comment.

<details>

Instructions for interacting with me using PR comments are available [here]

[2022-07-06 19:10] sesheta commented on #240
@khebhut[bot]: There are no sig labels on this issue. Please add an appropriate label by using one of the following commands:
- `/sig <group-name>`
- `/wg <group-name>`

Please see the [group list](https://github.com/thoth-station/core/blob/master/community/sig-list.md) for a listing of the SIGs, and working groups available.

<details>

Instructions for interacting with me using PR comments are a

[2022-07-07 08:55] codificat commented on #240
/sig user-experience
/kind bug
/priority critical-urgent

Doing a quick search, this might be
/kind duplicate
of #145, although that was closed a while ago... but it's unclear to me why/how it was closed (fixed?)

/assign @KPostOffice

[2022-07-07 08:55] sesheta commented on #240
@codificat: The label(s) `kind/duplicate` cannot be applied, because the repository doesn't have them.

<details>

In response to [this](https://github.com/thoth-station/support/issues/240#issuecomment-1177274257):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions rel

[2022-07-07 08:56] codificat commented on #240
Right! It's
/triage duplicate

[2022-07-07 13:22] mayaCostantini commented on #237
/assign

[2022-07-07 16:01] khebhut[bot] opened #241 "Kebechet info manager: GithubAPIException on kebechet_runners.py:212"
## Description
This is an automated issue generated by Kebechet v1.10.0. The info manager threw an exception (GithubAPIException)
at runtime while working on the following repository https://github.com/aicoe-aiops/ocp-ci-analysis

## Traceback
[code]

[2022-07-07 16:01] khebhut[bot] opened #242 "Kebechet info manager: GithubAPIException on kebechet_runners.py:212"
## Description
This is an automated issue generated by Kebechet v1.10.0. The info manager threw an exception (GithubAPIException)
at runtime while working on the following repository https://github.com/aicoe-aiops/ocp-ci-analysis

## Traceback
[code]

[2022-07-07 16:01] khebhut[bot] opened #243 "Kebechet info manager: GithubAPIException on kebechet_runners.py:212"
## Description
This is an automated issue generated by Kebechet v1.10.0. The info manager threw an exception (GithubAPIException)
at runtime while working on the following repository https://github.com/aicoe-aiops/ocp-ci-analysis

## Traceback
[code]

[2022-07-07 16:01] sesheta commented on #241
@khebhut[bot]: This issue is currently awaiting triage.
One of the @thoth-station/devs will take care of the issue, and will accept the issue by applying the
`triage/accepted` label and provide further guidance.

The `triage/accepted` label can be added by org members by writing `/triage accepted` in a comment.

<details>

Instructions for interacting with me using PR comments are available [here]

[2022-07-07 16:01] sesheta commented on #241
@khebhut[bot]: There are no sig labels on this issue. Please add an appropriate label by using one of the following commands:
- `/sig <group-name>`
- `/wg <group-name>`

Please see the [group list](https://github.com/thoth-station/core/blob/master/community/sig-list.md) for a listing of the SIGs, and working groups available.

<details>

Instructions for interacting with me using PR comments are a

[2022-07-07 16:01] sesheta commented on #242
@khebhut[bot]: This issue is currently awaiting triage.
One of the @thoth-station/devs will take care of the issue, and will accept the issue by applying the
`triage/accepted` label and provide further guidance.

The `triage/accepted` label can be added by org members by writing `/triage accepted` in a comment.

<details>

Instructions for interacting with me using PR comments are available [here]

[2022-07-07 16:01] sesheta commented on #243
@khebhut[bot]: This issue is currently awaiting triage.
One of the @thoth-station/devs will take care of the issue, and will accept the issue by applying the
`triage/accepted` label and provide further guidance.

The `triage/accepted` label can be added by org members by writing `/triage accepted` in a comment.

<details>

Instructions for interacting with me using PR comments are available [here]

[2022-07-07 16:01] sesheta commented on #242
@khebhut[bot]: There are no sig labels on this issue. Please add an appropriate label by using one of the following commands:
- `/sig <group-name>`
- `/wg <group-name>`

Please see the [group list](https://github.com/thoth-station/core/blob/master/community/sig-list.md) for a listing of the SIGs, and working groups available.

<details>

Instructions for interacting with me using PR comments are a

[2022-07-11 15:10] khebhut[bot] opened #244 "Kebechet thoth-advise manager: KeyError on kebechet_runners.py:212"
## Description
This is an automated issue generated by Kebechet v1.10.0. The thoth-advise manager threw an exception (KeyError)
at runtime while working on the following repository https://github.com/thoth-station/ps-nlp

## Traceback
[code]

[2022-07-11 15:11] sesheta commented on #244
@khebhut[bot]: There are no sig labels on this issue. Please add an appropriate label by using one of the following commands:
- `/sig <group-name>`
- `/wg <group-name>`

Please see the [group list](https://github.com/thoth-station/core/blob/master/community/sig-list.md) for a listing of the SIGs, and working groups available.

<details>

Instructions for interacting with me using PR comments are a

[2022-07-11 15:38] harshad16 commented on #244
The issue is wrong reference of results.
As we are using thamos lib to gather result.
Seems like thamos **returns tuple** with only **result**:
https://github.com/thoth-station/thamos/blob/4fcc5e9361cc7de2c098d980a1bfc64d4303254d/thamos/lib.py#L1055
as covered by this commit:
https://github.com/thoth-station/thamos/commit/0e86a62b4dc9701d28ec924e7a3a74d9596e2379

however in kebechet we are still p

[2022-07-11 16:37] #244 closed

[2022-07-12 15:12] guimou opened #245 "Include Torchvision"
### Package name

torchvision

### Python package index URL

https://pypi.org/project/torchvision/

### Reason

Torchvision is used a lot by people doing image recognition with PyTorch. It's even include in RHODS' Pytorch image, so it should be part of Thoth.

[2022-07-12 15:12] sesheta commented on #245
@guimou: This issue is currently awaiting triage.
One of the @thoth-station/devs will take care of the issue, and will accept the issue by applying the
`triage/accepted` label and provide further guidance.

The `triage/accepted` label can be added by org members by writing `/triage accepted` in a comment.

<details>

Instructions for interacting with me using PR comments are available [here](https

[2022-07-13 14:51] #240 closed

[2022-07-13 18:08] Gregory-Pereira commented on #198
ping @harshad16

[2022-07-14 14:08] harshad16 commented on #245
/sig stack-guidance
/triage accepted

[2022-07-14 14:12] #242 closed

[2022-07-14 14:12] harshad16 commented on #241
Duplicate: #243
/close

[2022-07-14 14:12] #241 closed

[2022-07-14 14:16] harshad16 commented on #238
/triage accepted
/sig user-experience

suggestion:
1. ping the maintainer in this issue with statement: enable issue on repo for kebechet to work.

[2022-07-14 14:17] harshad16 commented on #236
duplicate: #231
/close

[2022-07-14 14:20] harshad16 commented on #232
Testing components

[2022-07-14 14:20] #232 closed

[2022-07-14 14:20] #225 closed

[2022-07-14 14:21] #223 closed, assigned to nobody

[2022-07-14 14:21] harshad16 commented on #222
/sig user-experience
/triage accepted

[2022-07-14 14:25] harshad16 commented on #201
/remove-lifecycle stale
/lifecycle frozen
/sig stack-guidance
/triage accepted
/priority backlog

[2022-07-14 18:19] khebhut opened #246 "Kebechet update manager: IssueTrackerDisabled on kebechet_runners.py:212"
## Description
This is an automated issue generated by Kebechet v1.10.1. The update manager threw an exception (IssueTrackerDisabled)
at runtime while working on the following repository https://github.com/shreekarSS/kebechet

## Traceback
[code]

[2022-07-14 18:19] sesheta commented on #246
@khebhut[bot]: This issue is currently awaiting triage.
One of the @thoth-station/devs will take care of the issue, and will accept the issue by applying the
`triage/accepted` label and provide further guidance.

The `triage/accepted` label can be added by org members by writing `/triage accepted` in a comment.

<details>

Instructions for interacting with me using PR comments are available [here]

[2022-07-14 18:19] sesheta commented on #246
@khebhut[bot]: There are no sig labels on this issue. Please add an appropriate label by using one of the following commands:
- `/sig <group-name>`
- `/wg <group-name>`

Please see the [group list](https://github.com/thoth-station/core/blob/master/community/sig-list.md) for a listing of the SIGs, and working groups available.

<details>

Instructions for interacting with me using PR comments are a

[2022-07-15 02:42] khebhut[bot] opened #247 "Kebechet thoth-advise manager: KeyError on kebechet_runners.py:212"
## Description
This is an automated issue generated by Kebechet v1.10.1. The thoth-advise manager threw an exception (KeyError)
at runtime while working on the following repository https://github.com/thoth-station/ps-nlp

## Traceback
[code]

[2022-07-15 02:42] sesheta commented on #247
@khebhut[bot]: This issue is currently awaiting triage.
One of the @thoth-station/devs will take care of the issue, and will accept the issue by applying the
`triage/accepted` label and provide further guidance.

The `triage/accepted` label can be added by org members by writing `/triage accepted` in a comment.

<details>

Instructions for interacting with me using PR comments are available [here]

[2022-07-15 02:42] sesheta commented on #247
@khebhut[bot]: There are no sig labels on this issue. Please add an appropriate label by using one of the following commands:
- `/sig <group-name>`
- `/wg <group-name>`

Please see the [group list](https://github.com/thoth-station/core/blob/master/community/sig-list.md) for a listing of the SIGs, and working groups available.

<details>

Instructions for interacting with me using PR comments are a

[2022-07-15 02:58] khebhut[bot] opened #248 "Kebechet thoth-advise manager: TypeError on kebechet_runners.py:212"
## Description
This is an automated issue generated by Kebechet v1.10.1. The thoth-advise manager threw an exception (TypeError)
at runtime while working on the following repository https://github.com/thoth-station/ps-nlp

## Traceback
[code]

[2022-07-15 02:58] sesheta commented on #248
@khebhut[bot]: This issue is currently awaiting triage.
One of the @thoth-station/devs will take care of the issue, and will accept the issue by applying the
`triage/accepted` label and provide further guidance.

The `triage/accepted` label can be added by org members by writing `/triage accepted` in a comment.

<details>

Instructions for interacting with me using PR comments are available [here]

[2022-07-15 02:58] sesheta commented on #248
@khebhut[bot]: There are no sig labels on this issue. Please add an appropriate label by using one of the following commands:
- `/sig <group-name>`
- `/wg <group-name>`

Please see the [group list](https://github.com/thoth-station/core/blob/master/community/sig-list.md) for a listing of the SIGs, and working groups available.

<details>

Instructions for interacting with me using PR comments are a

[2022-07-15 03:30] harshad16 commented on #247
Related-to: https://github.com/thoth-station/ps-nlp/issues/151
/sig user-experience
/triage accepted

[2022-07-15 03:31] harshad16 commented on #248
Related-to: https://github.com/thoth-station/ps-nlp/issues/151
/sig user-experience
/triage accepted

[2022-07-15 10:17] khebhut[bot] opened #249 "Kebechet update manager: PipenvError on kebechet_runners.py:212"
## Description
This is an automated issue generated by Kebechet v1.10.1. The update manager threw an exception (PipenvError)
at runtime while working on the following repository https://github.com/thoth-station/micropipenv

## Traceback
[code]

[2022-07-15 10:17] sesheta commented on #249
@khebhut[bot]: This issue is currently awaiting triage.
One of the @thoth-station/devs will take care of the issue, and will accept the issue by applying the
`triage/accepted` label and provide further guidance.

The `triage/accepted` label can be added by org members by writing `/triage accepted` in a comment.

<details>

Instructions for interacting with me using PR comments are available [here]

[2022-07-15 10:17] sesheta commented on #249
@khebhut[bot]: There are no sig labels on this issue. Please add an appropriate label by using one of the following commands:
- `/sig <group-name>`
- `/wg <group-name>`

Please see the [group list](https://github.com/thoth-station/core/blob/master/community/sig-list.md) for a listing of the SIGs, and working groups available.

<details>

Instructions for interacting with me using PR comments are a

[2022-07-15 20:50] shreekarSS opened #250 "Kebechet thoth-advise manager: AttributeError on kebechet_runners.py:212"
## Description
This is an automated issue generated by Kebechet v1.10.1. The thoth-advise manager threw an exception (AttributeError)
at runtime while working on the following repository https://github.com/thoth-station/ps-nlp

## Traceback
[code]

[2022-07-15 20:50] sesheta commented on #250
@shreekarSS: There are no sig labels on this issue. Please add an appropriate label by using one of the following commands:
- `/sig <group-name>`
- `/wg <group-name>`

Please see the [group list](https://github.com/thoth-station/core/blob/master/community/sig-list.md) for a listing of the SIGs, and working groups available.

<details>

Instructions for interacting with me using PR comments are ava

[2022-07-15 21:16] shreekarSS opened #251 "Kebechet thoth-advise manager: GitCommandError on kebechet_runners.py:212"
## Description
This is an automated issue generated by Kebechet v1.10.1. The thoth-advise manager threw an exception (GitCommandError)
at runtime while working on the following repository https://github.com/thoth-station/ps-nlp

## Traceback
[code]

[2022-07-15 21:17] sesheta commented on #251
@shreekarSS: This issue is currently awaiting triage.
One of the @thoth-station/devs will take care of the issue, and will accept the issue by applying the
`triage/accepted` label and provide further guidance.

The `triage/accepted` label can be added by org members by writing `/triage accepted` in a comment.

<details>

Instructions for interacting with me using PR comments are available [here](h

[2022-07-15 21:17] sesheta commented on #251
@shreekarSS: There are no sig labels on this issue. Please add an appropriate label by using one of the following commands:
- `/sig <group-name>`
- `/wg <group-name>`

Please see the [group list](https://github.com/thoth-station/core/blob/master/community/sig-list.md) for a listing of the SIGs, and working groups available.

<details>

Instructions for interacting with me using PR comments are ava

[2022-07-15 21:20] shreekarSS opened #252 "Kebechet thoth-advise manager: FileNotFoundError on kebechet_runners.py:212"
## Description
This is an automated issue generated by Kebechet v1.10.1. The thoth-advise manager threw an exception (FileNotFoundError)
at runtime while working on the following repository https://github.com/thoth-station/ps-nlp

## Traceback
[code]

[2022-07-15 21:20] sesheta commented on #252
@shreekarSS: This issue is currently awaiting triage.
One of the @thoth-station/devs will take care of the issue, and will accept the issue by applying the
`triage/accepted` label and provide further guidance.

The `triage/accepted` label can be added by org members by writing `/triage accepted` in a comment.

<details>

Instructions for interacting with me using PR comments are available [here](h

[2022-07-15 21:20] sesheta commented on #252
@shreekarSS: There are no sig labels on this issue. Please add an appropriate label by using one of the following commands:
- `/sig <group-name>`
- `/wg <group-name>`

Please see the [group list](https://github.com/thoth-station/core/blob/master/community/sig-list.md) for a listing of the SIGs, and working groups available.

<details>

Instructions for interacting with me using PR comments are ava

[2022-07-16 23:35] khebhut[bot] opened #253 "Kebechet update manager: GitCommandError on kebechet_runners.py:212"
## Description
This is an automated issue generated by Kebechet v1.10.1. The update manager threw an exception (GitCommandError)
at runtime while working on the following repository https://github.com/os-climate/data-platform-demo

## Traceback
[code]

[2022-07-16 23:35] sesheta commented on #253
@khebhut[bot]: This issue is currently awaiting triage.
One of the @thoth-station/devs will take care of the issue, and will accept the issue by applying the
`triage/accepted` label and provide further guidance.

The `triage/accepted` label can be added by org members by writing `/triage accepted` in a comment.

<details>

Instructions for interacting with me using PR comments are available [here]

[2022-07-16 23:35] sesheta commented on #253
@khebhut[bot]: There are no sig labels on this issue. Please add an appropriate label by using one of the following commands:
- `/sig <group-name>`
- `/wg <group-name>`

Please see the [group list](https://github.com/thoth-station/core/blob/master/community/sig-list.md) for a listing of the SIGs, and working groups available.

<details>

Instructions for interacting with me using PR comments are a

[2022-07-18 16:38] shreekarSS opened #254 "Kebechet thoth-advise manager: GithubAPIException on kebechet_runners.py:212"
## Description
This is an automated issue generated by Kebechet v1.10.1. The thoth-advise manager threw an exception (GithubAPIException)
at runtime while working on the following repository https://github.com/shreekarSS/ps-nlp

## Traceback
[code]

[2022-07-18 16:38] sesheta commented on #254
@shreekarSS: This issue is currently awaiting triage.
One of the @thoth-station/devs will take care of the issue, and will accept the issue by applying the
`triage/accepted` label and provide further guidance.

The `triage/accepted` label can be added by org members by writing `/triage accepted` in a comment.

<details>

Instructions for interacting with me using PR comments are available [here](h

[2022-07-18 17:17] shreekarSS opened #255 "Kebechet thoth-advise manager: UnboundLocalError on kebechet_runners.py:212"
## Description
This is an automated issue generated by Kebechet v1.10.1. The thoth-advise manager threw an exception (UnboundLocalError)
at runtime while working on the following repository https://github.com/shreekarSS/ps-nlp

## Traceback
[code]

[2022-07-18 17:17] sesheta commented on #255
@shreekarSS: This issue is currently awaiting triage.
One of the @thoth-station/devs will take care of the issue, and will accept the issue by applying the
`triage/accepted` label and provide further guidance.

The `triage/accepted` label can be added by org members by writing `/triage accepted` in a comment.

<details>

Instructions for interacting with me using PR comments are available [here](h

[2022-07-18 17:58] #255 closed

[2022-07-18 19:54] shreekarSS opened #256 "Kebechet thoth-advise manager: ValueError on kebechet_runners.py:212"
## Description
This is an automated issue generated by Kebechet v1.10.1. The thoth-advise manager threw an exception (ValueError)
at runtime while working on the following repository https://github.com/shreekarSS/ps-nlp

## Traceback
[code]

[2022-07-18 19:55] sesheta commented on #256
@shreekarSS: There are no sig labels on this issue. Please add an appropriate label by using one of the following commands:
- `/sig <group-name>`
- `/wg <group-name>`

Please see the [group list](https://github.com/thoth-station/core/blob/master/community/sig-list.md) for a listing of the SIGs, and working groups available.

<details>

Instructions for interacting with me using PR comments are ava

[2022-07-18 21:17] #221 closed

[2022-07-19 12:56] TomasTomecek opened #257 "Thoth natively supports a differential analysis"
**Is your feature request related to a problem? Please describe.**

As a Thoth user, I'd love to compare an advise of a PR with an advise done on the main branch easily with a single `thamos advise` command.

**High-level Goals**

Running `advise` produces results that only contain difference from a different advise.
These are available both via Web UI and on CLI.

**Describe the solution you'd li

[2022-07-19 12:56] sesheta commented on #257
@TomasTomecek: This issue is currently awaiting triage.
One of the @thoth-station/devs will take care of the issue, and will accept the issue by applying the
`triage/accepted` label and provide further guidance.

The `triage/accepted` label can be added by org members by writing `/triage accepted` in a comment.

<details>

Instructions for interacting with me using PR comments are available [here]

[2022-07-19 12:56] sesheta commented on #257
@TomasTomecek: There are no sig labels on this issue. Please add an appropriate label by using one of the following commands:
- `/sig <group-name>`
- `/wg <group-name>`

Please see the [group list](https://github.com/thoth-station/core/blob/master/community/sig-list.md) for a listing of the SIGs, and working groups available.

<details>

Instructions for interacting with me using PR comments are a

[2022-07-19 13:05] TomasTomecek opened #258 "Compare tab improvements"
**Is your feature request related to a problem? Please describe.**
Just a list of things I'd improve in the output:
* Drop down where I pick from the past advises: please show a real date or some meaningful information, IDs are hard to process by humans, e.g.
  * `adviser-220712133932-7d4aebd09e248cca` - yuck
  * `2022-07-12T13:39:47 security, RHEL-8.5 (Python 3.8.8)` - I get that
* Reorder sectio

[2022-07-19 13:36] TomasTomecek opened #259 "Advise results: which are more useful than the other"
**Is your feature request related to a problem? Please describe.**

Just going through the latest results in my console for https://thoth-station.ninja/search/adviser-220719131518-f9cde332e97c5073/summary and giving you feedback for the output. I separate every point with a \<hr\>. Let's go!

[code]
There are too many lines on the output, I have no control over the code inside our dependencies.

-

[2022-07-19 13:37] sesheta commented on #259
@TomasTomecek: This issue is currently awaiting triage.
One of the @thoth-station/devs will take care of the issue, and will accept the issue by applying the
`triage/accepted` label and provide further guidance.

The `triage/accepted` label can be added by org members by writing `/triage accepted` in a comment.

<details>

Instructions for interacting with me using PR comments are available [here]

[2022-07-19 13:37] sesheta commented on #259
@TomasTomecek: There are no sig labels on this issue. Please add an appropriate label by using one of the following commands:
- `/sig <group-name>`
- `/wg <group-name>`

Please see the [group list](https://github.com/thoth-station/core/blob/master/community/sig-list.md) for a listing of the SIGs, and working groups available.

<details>

Instructions for interacting with me using PR comments are a

[2022-07-19 14:44] Gkrumbach07 commented on #258
/transfer-issue search
/sig user-experience

[2022-07-19 15:39] goern commented on #256
/kind bug
/priority critical-urgent
/assign @KPostOffice
/sig devsecops
/triage accepted

[2022-07-19 15:39] goern commented on #252
/kind bug
/priority critical-urgent
/assign @KPostOffice
/sig devsecops
/triage accepted

[2022-07-19 15:39] goern commented on #250
/kind bug
/priority critical-urgent
/assign @KPostOffice
/sig devsecops
/triage accepted

[2022-07-19 15:40] goern commented on #254
/kind bug
/priority critical-urgent
/assign @KPostOffice
/sig devsecops
/triage accepted

[2022-07-19 15:40] goern commented on #251
/kind bug
/priority critical-urgent
/assign @KPostOffice
/sig devsecops
/triage accepted

[2022-07-19 15:51] harshad16 commented on #251
/sig user-experience
/remove-sig devsecops
/assign @shreekarSS

[2022-07-19 15:51] harshad16 commented on #250
/sig user-experience
/remove-sig devsecops
/assign @shreekarSS

[2022-07-19 15:52] harshad16 commented on #254
/sig user-experience
/remove-sig devsecops
/assign @shreekarSS

[2022-07-19 15:52] harshad16 commented on #256
/sig user-experience
/remove-sig devsecops
/assign @shreekarSS

[2022-07-19 15:56] #247 closed

[2022-07-19 15:56] #248 closed

[2022-07-19 15:56] #251 closed

[2022-07-20 07:51] goern commented on #259
/sig user-experience
/priority important-soon

[2022-07-20 07:52] goern commented on #257
/sig user-experience
/priority important-soon

[2022-07-20 15:54] khebhut[bot] opened #260 "Kebechet info manager: OgrException on kebechet_runners.py:212"
## Description
This is an automated issue generated by Kebechet v1.10.1. The info manager threw an exception (OgrException)
at runtime while working on the following repository https://github.com/shreekarSS/common-1

## Traceback
[code]

[2022-07-20 15:54] sesheta commented on #260
@khebhut[bot]: This issue is currently awaiting triage.
One of the @thoth-station/devs will take care of the issue, and will accept the issue by applying the
`triage/accepted` label and provide further guidance.

The `triage/accepted` label can be added by org members by writing `/triage accepted` in a comment.

<details>

Instructions for interacting with me using PR comments are available [here]

[2022-07-20 15:54] sesheta commented on #260
@khebhut[bot]: There are no sig labels on this issue. Please add an appropriate label by using one of the following commands:
- `/sig <group-name>`
- `/wg <group-name>`

Please see the [group list](https://github.com/thoth-station/core/blob/master/community/sig-list.md) for a listing of the SIGs, and working groups available.

<details>

Instructions for interacting with me using PR comments are a

[2022-07-20 15:54] khebhut[bot] opened #261 "Kebechet version manager: OgrException on kebechet_runners.py:212"
## Description
This is an automated issue generated by Kebechet v1.10.1. The version manager threw an exception (OgrException)
at runtime while working on the following repository https://github.com/shreekarSS/common-1

## Traceback
[code]

[2022-07-20 15:54] sesheta commented on #261
@khebhut[bot]: This issue is currently awaiting triage.
One of the @thoth-station/devs will take care of the issue, and will accept the issue by applying the
`triage/accepted` label and provide further guidance.

The `triage/accepted` label can be added by org members by writing `/triage accepted` in a comment.

<details>

Instructions for interacting with me using PR comments are available [here]

[2022-07-20 15:54] sesheta commented on #261
@khebhut[bot]: There are no sig labels on this issue. Please add an appropriate label by using one of the following commands:
- `/sig <group-name>`
- `/wg <group-name>`

Please see the [group list](https://github.com/thoth-station/core/blob/master/community/sig-list.md) for a listing of the SIGs, and working groups available.

<details>

Instructions for interacting with me using PR comments are a

[2022-07-20 16:06] shreekarSS opened #262 "Kebechet update manager: UnboundLocalError on kebechet_runners.py:212"
## Description
This is an automated issue generated by Kebechet v1.10.1. The update manager threw an exception (UnboundLocalError)
at runtime while working on the following repository https://github.com/shreekarSS/common-1

## Traceback
[code]

[2022-07-20 16:06] sesheta commented on #262
@shreekarSS: This issue is currently awaiting triage.
One of the @thoth-station/devs will take care of the issue, and will accept the issue by applying the
`triage/accepted` label and provide further guidance.

The `triage/accepted` label can be added by org members by writing `/triage accepted` in a comment.

<details>

Instructions for interacting with me using PR comments are available [here](h

[2022-07-20 16:06] sesheta commented on #262
@shreekarSS: There are no sig labels on this issue. Please add an appropriate label by using one of the following commands:
- `/sig <group-name>`
- `/wg <group-name>`

Please see the [group list](https://github.com/thoth-station/core/blob/master/community/sig-list.md) for a listing of the SIGs, and working groups available.

<details>

Instructions for interacting with me using PR comments are ava

[2022-07-20 16:42] shreekarSS opened #263 "Kebechet version manager: GitCommandError on kebechet_runners.py:212"
## Description
This is an automated issue generated by Kebechet v1.10.1. The version manager threw an exception (GitCommandError)
at runtime while working on the following repository https://github.com/shreekarSS/common-1

## Traceback
[code]

[2022-07-20 16:43] sesheta commented on #263
@shreekarSS: This issue is currently awaiting triage.
One of the @thoth-station/devs will take care of the issue, and will accept the issue by applying the
`triage/accepted` label and provide further guidance.

The `triage/accepted` label can be added by org members by writing `/triage accepted` in a comment.

<details>

Instructions for interacting with me using PR comments are available [here](h

[2022-07-20 16:43] sesheta commented on #263
@shreekarSS: There are no sig labels on this issue. Please add an appropriate label by using one of the following commands:
- `/sig <group-name>`
- `/wg <group-name>`

Please see the [group list](https://github.com/thoth-station/core/blob/master/community/sig-list.md) for a listing of the SIGs, and working groups available.

<details>

Instructions for interacting with me using PR comments are ava

[2022-07-20 16:58] #263 closed

[2022-07-20 19:50] shreekarSS opened #264 "Kebechet pipfile-requirements manager: GitCommandError on kebechet_runners.py:212"
## Description
This is an automated issue generated by Kebechet v1.10.1. The pipfile-requirements manager threw an exception (GitCommandError)
at runtime while working on the following repository https://github.com/the-shadowmen/nlp-first-steps

## Traceback
[code]

[2022-07-20 19:51] sesheta commented on #264
@shreekarSS: There are no sig labels on this issue. Please add an appropriate label by using one of the following commands:
- `/sig <group-name>`
- `/wg <group-name>`

Please see the [group list](https://github.com/thoth-station/core/blob/master/community/sig-list.md) for a listing of the SIGs, and working groups available.

<details>

Instructions for interacting with me using PR comments are ava

[2022-07-21 07:31] mayaCostantini commented on #245
/priority critical-urgent
/lifecycle active

[2022-07-25 13:11] harshad16 commented on #257
This is regarding having similar compare support in thamos.
**Acceptance criteria**
- [ ]  Add additional command for compare of different advise analysis
- [ ] Utilize the function of the git diff.
- [ ]  Figure the way to store the advise id (small term cache) for comparision.
- [ ]  Verify the result w.r.t to the search/compare.

Story Point: [Epic][13pt]

[2022-07-25 13:21] harshad16 commented on #245
Story pt: 2pt

[2022-07-25 13:34] mayaCostantini commented on #233
Let's close this issue as the pre-commit hook is now available at https://github.com/thoth-station/thoth-pre-commit-hook

[2022-07-25 13:34] #233 closed

[2022-07-25 17:58] Gkrumbach07 commented on #257
**Acceptance Criteria Issues** (covers points from https://github.com/thoth-station/support/issues/257#issuecomment-1194030035)

- [ ] https://github.com/thoth-station/thamos/issues/1147
- [ ] https://github.com/thoth-station/thamos/issues/1146

[2022-07-26 07:52] mayaCostantini opened #265 "Renew SSL certificate for Thoth's Tensorflow index"
**Is your feature request related to a problem? Please describe.**

Thoth's index for Tensorflow builds https://tensorflow.pypi.thoth-station.ninja/index/manylinux2010/AVX2/simple/ does not seem to be maintained anymore. However, it is still used in solver to fetch some dependencies, but the expired SSL certificate causes a large number of failed requests to the index, which make the solver pod ex

[2022-07-26 07:52] sesheta commented on #265
@mayaCostantini: This issue is currently awaiting triage.
One of the @thoth-station/devs will take care of the issue, and will accept the issue by applying the
`triage/accepted` label and provide further guidance.

The `triage/accepted` label can be added by org members by writing `/triage accepted` in a comment.

<details>

Instructions for interacting with me using PR comments are available [her

[2022-07-26 07:52] sesheta commented on #265
@mayaCostantini: There are no sig labels on this issue. Please add an appropriate label by using one of the following commands:
- `/sig <group-name>`
- `/wg <group-name>`

Please see the [group list](https://github.com/thoth-station/core/blob/master/community/sig-list.md) for a listing of the SIGs, and working groups available.

<details>

Instructions for interacting with me using PR comments are

[2022-07-26 07:52] mayaCostantini commented on #265
/priority critical-urgent
/sig devsecops

[2022-07-26 07:56] goern commented on #264
/sig stack-guidance

[2022-07-26 16:35] harshad16 commented on #265
Renewal of certs is done.
Lets wait for removal of index.

[2022-07-26 21:24] shreekarSS opened #266 "Kebechet thoth-advise manager: ApiException on kebechet_runners.py:212"
## Description
This is an automated issue generated by Kebechet v1.10.1. The thoth-advise manager threw an exception (ApiException)
at runtime while working on the following repository https://github.com/shreekarSS/ps-ip

## Traceback
[code]

[2022-07-26 21:24] sesheta commented on #266
@shreekarSS: This issue is currently awaiting triage.
One of the @thoth-station/devs will take care of the issue, and will accept the issue by applying the
`triage/accepted` label and provide further guidance.

The `triage/accepted` label can be added by org members by writing `/triage accepted` in a comment.

<details>

Instructions for interacting with me using PR comments are available [here](h

[2022-07-26 21:24] sesheta commented on #266
@shreekarSS: There are no sig labels on this issue. Please add an appropriate label by using one of the following commands:
- `/sig <group-name>`
- `/wg <group-name>`

Please see the [group list](https://github.com/thoth-station/core/blob/master/community/sig-list.md) for a listing of the SIGs, and working groups available.

<details>

Instructions for interacting with me using PR comments are ava

[2022-07-29 16:58] shreekarSS opened #267 "Kebechet info manager: GitCommandError on kebechet_runners.py:212"
## Description
This is an automated issue generated by Kebechet v1.10.1. The info manager threw an exception (GitCommandError)
at runtime while working on the following repository https://github.com/shreekarSS/nlp-first-steps

## Traceback
[code]

[2022-07-29 16:58] sesheta commented on #267
@shreekarSS: This issue is currently awaiting triage.
One of the @thoth-station/devs will take care of the issue, and will accept the issue by applying the
`triage/accepted` label and provide further guidance.

The `triage/accepted` label can be added by org members by writing `/triage accepted` in a comment.

<details>

Instructions for interacting with me using PR comments are available [here](h

[2022-07-29 16:58] sesheta commented on #267
@shreekarSS: There are no sig labels on this issue. Please add an appropriate label by using one of the following commands:
- `/sig <group-name>`
- `/wg <group-name>`

Please see the [group list](https://github.com/thoth-station/core/blob/master/community/sig-list.md) for a listing of the SIGs, and working groups available.

<details>

Instructions for interacting with me using PR comments are ava

[2022-07-29 23:21] khebhut[bot] opened #268 "Kebechet update manager: TypeError on kebechet_runners.py:212"
## Description
This is an automated issue generated by Kebechet v1.10.1. The update manager threw an exception (TypeError)
at runtime while working on the following repository https://github.com/thoth-station/thoth-ops-infra

## Traceback
[code]

[2022-07-29 23:21] khebhut[bot] opened #269 "Kebechet update manager: TypeError on kebechet_runners.py:212"
## Description
This is an automated issue generated by Kebechet v1.10.1. The update manager threw an exception (TypeError)
at runtime while working on the following repository https://github.com/thoth-station/thoth-ops-infra

## Traceback
[code]

[2022-07-29 23:21] sesheta commented on #268
@khebhut[bot]: This issue is currently awaiting triage.
One of the @thoth-station/devs will take care of the issue, and will accept the issue by applying the
`triage/accepted` label and provide further guidance.

The `triage/accepted` label can be added by org members by writing `/triage accepted` in a comment.

<details>

Instructions for interacting with me using PR comments are available [here]

[2022-07-29 23:21] sesheta commented on #268
@khebhut[bot]: There are no sig labels on this issue. Please add an appropriate label by using one of the following commands:
- `/sig <group-name>`
- `/wg <group-name>`

Please see the [group list](https://github.com/thoth-station/core/blob/master/community/sig-list.md) for a listing of the SIGs, and working groups available.

<details>

Instructions for interacting with me using PR comments are a

[2022-07-29 23:21] sesheta commented on #269
@khebhut[bot]: This issue is currently awaiting triage.
One of the @thoth-station/devs will take care of the issue, and will accept the issue by applying the
`triage/accepted` label and provide further guidance.

The `triage/accepted` label can be added by org members by writing `/triage accepted` in a comment.

<details>

Instructions for interacting with me using PR comments are available [here]

[2022-07-29 23:21] sesheta commented on #269
@khebhut[bot]: There are no sig labels on this issue. Please add an appropriate label by using one of the following commands:
- `/sig <group-name>`
- `/wg <group-name>`

Please see the [group list](https://github.com/thoth-station/core/blob/master/community/sig-list.md) for a listing of the SIGs, and working groups available.

<details>

Instructions for interacting with me using PR comments are a

[2022-08-01 12:37] mayaCostantini commented on #11
@goern @harshad16 is that something we still want to implement?

[2022-08-04 16:08] KPostOffice commented on #250
I am closing these as they were created from local testing from @shreekarSS , this makes it difficult to tell whether they are due to an existing bug or due to bugs introduced during local development. I've opened a PR to have this behavior configurable and off by default.

[2022-08-04 16:08] #250 closed

[2022-08-04 16:08] KPostOffice commented on #254
I am closing these as they were created from local testing from @shreekarSS , this makes it difficult to tell whether they are due to an existing bug or due to bugs introduced during local development. I've opened a PR to have this behavior configurable and off by default.

[2022-08-04 16:08] #254 closed

[2022-08-04 16:08] KPostOffice commented on #267
I am closing these as they were created from local testing from @shreekarSS , this makes it difficult to tell whether they are due to an existing bug or due to bugs introduced during local development. I've opened a PR to have this behavior configurable and off by default.

[2022-08-04 16:08] #267 closed

[2022-08-04 16:10] KPostOffice commented on #264
I am closing these as they were created from local testing from @shreekarSS , this makes it difficult to tell whether they are due to an existing bug or due to bugs introduced during local development. I've opened a PR to have this behavior configurable and off by default.

[2022-08-04 16:11] #264 closed

[2022-08-04 16:11] KPostOffice commented on #256
I am closing these as they were created from local testing from @shreekarSS , this makes it difficult to tell whether they are due to an existing bug or due to bugs introduced during local development. I've opened a PR to have this behavior configurable and off by default.

[2022-08-04 16:11] #256 closed

[2022-08-04 16:15] KPostOffice commented on #269
most recent release has a default value of an empty list for labels

[2022-08-04 16:15] #269 closed

[2022-08-04 16:16] KPostOffice commented on #268
most recent release has default value for labels

[2022-08-04 16:16] #268 closed

[2022-08-04 19:07] #213 closed

[2022-08-05 07:02] mayaCostantini opened #270 "Solve missing Thoth dependencies"
**Is your feature request related to a problem? Please describe.**

Some of thoth packages do not seem to be registered in the database, making `thamos advise` fail on the adviser repository.
Solve the following packages:

- [ ] thoth-solver
- [ ] fext
- [ ] termial-random

**Additional context**

[code]

[2022-08-05 07:02] sesheta commented on #270
@mayaCostantini: This issue is currently awaiting triage.
One of the @thoth-station/devs will take care of the issue, and will accept the issue by applying the
`triage/accepted` label and provide further guidance.

The `triage/accepted` label can be added by org members by writing `/triage accepted` in a comment.

<details>

Instructions for interacting with me using PR comments are available [her

[2022-08-05 07:02] sesheta commented on #270
@mayaCostantini: There are no sig labels on this issue. Please add an appropriate label by using one of the following commands:
- `/sig <group-name>`
- `/wg <group-name>`

Please see the [group list](https://github.com/thoth-station/core/blob/master/community/sig-list.md) for a listing of the SIGs, and working groups available.

<details>

Instructions for interacting with me using PR comments are

[2022-08-05 07:03] mayaCostantini commented on #270
/sig stack-guidance
/good-first-issue
/priority important-soon

[2022-08-05 07:03] sesheta commented on #270
@mayaCostantini:
	This request has been marked as suitable for new contributors.

Please ensure the request meets the requirements listed [here](https://git.k8s.io/community/contributors/guide/help-wanted.md#good-first-issue).

If this request no longer meets these requirements, the label can be removed
by commenting with the `/remove-good-first-issue` command.

<details>

In response to [this](ht

[2022-08-05 12:53] sesheta commented on #214
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2022-08-08 09:45] goern opened #271 "[3pt] base notebook image do not build (or get published)"
**Describe the bug**
https://github.com/thoth-station/s2i-minimal-notebook/releases/tag/v0.4.0 has been released, but https://quay.io/repository/thoth-station/s2i-minimal-notebook?tab=tags is not having that tag.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://quay.io/repository/thoth-station/s2i-minimal-notebook?tab=tags
2. Go to https://github.com/thoth-station/s2i-minimal-no

[2022-08-08 09:46] sesheta commented on #271
@goern: There are no sig labels on this issue. Please add an appropriate label by using one of the following commands:
- `/sig <group-name>`
- `/wg <group-name>`

Please see the [group list](https://github.com/thoth-station/core/blob/master/community/sig-list.md) for a listing of the SIGs, and working groups available.

<details>

Instructions for interacting with me using PR comments are availabl

[2022-08-08 09:48] goern commented on #11
+1 @mayaCostantini could you extract this out into an issue on its own and add it to https://github.com/orgs/open-services-group/projects/21

[2022-08-08 09:50] goern commented on #266
is this still valid?

/sig devsecops

[2022-08-08 09:59] goern commented on #266
/priority important-soon

[2022-08-08 10:04] goern commented on #214
is this still valid? @harshad16 @KPostOffice

[2022-08-08 10:06] goern commented on #270
do we have a "runbook"/piece of documentation what specifically needs to be done to add the packages? shall we create a tekton pipeline or a script for this?

[2022-08-08 10:15] goern commented on #253
/assign @KPostOffice
/sig devsecops
/kind bug
/priority critical-urgent
/triage accepted

[2022-08-08 10:15] goern commented on #246
/assign @KPostOffice
/sig devsecops
/kind bug
/priority critical-urgent
/triage accepted

[2022-08-08 10:15] goern commented on #249
/assign @KPostOffice
/sig devsecops
/kind bug
/priority critical-urgent
/triage accepted

[2022-08-08 10:15] goern commented on #260
/assign @KPostOffice
/sig devsecops
/kind bug
/priority critical-urgent
/triage accepted

[2022-08-08 10:16] goern commented on #261
/assign @KPostOffice
/sig devsecops
/kind bug
/priority critical-urgent
/triage accepted

[2022-08-08 13:43] shreekarSS commented on #266
This issue is fixed in https://github.com/thoth-station/kebechet/pull/1098, we can close this.

[2022-08-08 15:08] VannTen commented on #271
/assign

[2022-08-08 19:10] harshad16 commented on #214
I don't think this is valid anymore
we have more releases of kebechet in the time period of this issue.
closing this, if this issue happens again we can investigate then.
thank you.

[2022-08-08 19:10] #214 closed

[2022-08-08 19:12] #238 closed

[2022-08-09 09:05] goern commented on #266
/close

[2022-08-09 09:05] sesheta commented on #266
@goern: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/support/issues/266#issuecomment-1209115262):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-infr

[2022-08-09 09:05] #266 closed

[2022-08-09 09:06] goern commented on #245
/kind feature

[2022-08-09 13:51] goern commented on #271
/sig devsecops
/priority critical-urgent

[2022-08-09 15:59] mayaCostantini commented on #270
I don't think a pipeline or a script would be necessary for the moment, but we can document how to register a package via management-api as I am not sure if this is already written somewhere.

[2022-08-10 07:17] VannTen commented on #271
should be fixed by https://github.com/thoth-station/s2i-minimal-notebook/pull/567 + a new release

[2022-08-10 15:05] goern commented on #271
/triage accepted
/lifecycle active

[2022-08-11 14:19] goern commented on #270
/triage accepted
/assign @shreekarSS

[2022-08-11 14:21] goern commented on #259
might be related to https://github.com/thoth-station/core/issues/417

[2022-08-11 14:23] goern commented on #257
/close
as we work on it on <see last comment>

[2022-08-11 14:23] sesheta commented on #257
@goern: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/support/issues/257#issuecomment-1212058101):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-infr

[2022-08-11 14:23] #257 closed

[2022-08-11 14:32] goern commented on #243
/assign @shreekarSS
/priority critical-urgent

[2022-08-11 14:33] goern commented on #234
/assign @shreekarSS
/priority critical-urgent
/sig user-experience

[2022-08-11 14:33] goern commented on #222
/assign @shreekarSS
/priority critical-urgent

[2022-08-15 16:26] shreekarSS commented on #270
Added missing dependencies using  management api: https://management.stage.thoth-station.ninja/api/v1/ui/#/Python%20Solver/post_solve_python

To verify if dependencies are added or not, Tried endpoint  https://khemenu.thoth-station.ninja/api/v1/ui/#/PythonPackages/list_python_packages but got no response ( issue https://github.com/thoth-station/user-api/issues/1782 )

[2022-08-29 13:13] codificat commented on #201
@goern is this still relevant?

[2022-08-29 13:14] sesheta commented on #201
@goern: This issue is currently awaiting triage.
One of the @thoth-station/devs will take care of the issue, and will accept the issue by applying the
`triage/accepted` label and provide further guidance.

The `triage/accepted` label can be added by org members by writing `/triage accepted` in a comment.

<details>

Instructions for interacting with me using PR comments are available [here](https:

[2022-08-29 13:18] codificat commented on #14
/sig devsecops

[2022-09-06 12:37] Gkrumbach07 commented on #259
will be fixed by the completion of this epic https://github.com/thoth-station/core/issues/417

[2022-09-06 12:58] goern opened #272 "add jupyter"
### Package name

jupyter

### Python package index URL

_No response_

### Reason

its required for https://github.com/b4mad/racing/tree/main/ai

[2022-09-06 12:58] sesheta commented on #272
@goern: This issue is currently awaiting triage.
One of the @thoth-station/devs will take care of the issue, and will accept the issue by applying the
`triage/accepted` label and provide further guidance.

The `triage/accepted` label can be added by org members by writing `/triage accepted` in a comment.

<details>

Instructions for interacting with me using PR comments are available [here](https:

[2022-09-06 12:58] sesheta commented on #272
@goern: There are no sig labels on this issue. Please add an appropriate label by using one of the following commands:
- `/sig <group-name>`
- `/wg <group-name>`

Please see the [group list](https://github.com/thoth-station/core/blob/master/community/sig-list.md) for a listing of the SIGs, and working groups available.

<details>

Instructions for interacting with me using PR comments are availabl

[2022-09-06 13:14] goern commented on #270
@shreekarSS any update in this?

[2022-09-06 21:38] KPostOffice commented on #260
@shreekarSS Did you have khebhut installed on this repo and uninstall it?

[2022-09-07 00:14] shreekarSS commented on #270
I tried to add missing dependencies via management api, getting 201 code, which is not registered the packages yet. I'm trying to figure it out.

[2022-09-07 07:35] VannTen commented on #271
There is now a v1.0.0 tag with the corresponding image. Does it fix this or is the missing image (v0.4.0) problematic ? @goern

[2022-09-07 15:47] harshad16 commented on #271
closing this issue.
It was fixed with: https://github.com/thoth-station/s2i-minimal-notebook/pull/567

[2022-09-07 15:47] #271 closed, assigned to VannTen

[2022-09-07 19:50] KPostOffice commented on #253
Think that this is likely due to some race condition as the branch names are pulled from the PR contents themselves. To fix we should add a check for PR status before executing this section of code.

[2022-09-07 20:37] #253 closed

[2022-09-12 13:07] mayaCostantini commented on #270
@shreekarSS Did you try to use user API to verify if the packages are present in the database?

[2022-09-13 10:47] codificat commented on #245
This seems to be in the database now:

[code]

so I believe this is complete and therefore going to
/close

If there's anything missing / wrong please reopen or create a new issue as appropriate.

[2022-09-13 10:47] sesheta commented on #245
@codificat: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/support/issues/245#issuecomment-1245233307):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-

[2022-09-13 10:47] #245 closed

[2022-09-13 10:53] codificat opened #273 "Include pdf2image, tabula-py, mmdet, farm, pyspellchecker"
### Python package index URL

https://pypi.org/simple

### Reason

These packages appear as unresolved when trying to obtain advice about the software stack in the OS-Climate [aicoe-osc-demo repository](https://github.com/os-climate/aicoe-osc-demo/blob/02ec8180ff07522f4d2a713c4b6dddf0d9c42ea5/Pipfile):

[code]

[2022-09-13 10:53] sesheta commented on #273
@codificat: This issue is currently awaiting triage.
One of the @thoth-station/devs will take care of the issue, and will accept the issue by applying the
`triage/accepted` label and provide further guidance.

The `triage/accepted` label can be added by org members by writing `/triage accepted` in a comment.

<details>

Instructions for interacting with me using PR comments are available [here](ht

[2022-09-13 10:53] sesheta commented on #273
@codificat: There are no sig labels on this issue. Please add an appropriate label by using one of the following commands:
- `/sig <group-name>`
- `/wg <group-name>`

Please see the [group list](https://github.com/thoth-station/core/blob/master/community/sig-list.md) for a listing of the SIGs, and working groups available.

<details>

Instructions for interacting with me using PR comments are avai

[2022-09-13 13:01] goern commented on #273
/sig stack-guidance
/priority critical-urgent
/kind feature
/assign @shreekarSS

[2022-09-13 13:01] goern commented on #273
/triage accepted

[2022-09-13 13:02] goern commented on #272
/sig stack-guidance
/priority critical-urgent
/kind feature
/triage accepted
/assign @shreekarSS

[2022-09-13 13:45] harshad16 commented on #194
Installation of kebechet for s2i-lab-elyra is done.
![Screenshot from 2022-09-13 09-43-25](https://user-images.githubusercontent.com/14028058/189917686-1b5ca84c-1d2f-496e-b175-7e04a3ee69dc.png)

![Screenshot from 2022-09-13 09-43-25](https://user-images.githubusercontent.com/14028058/189917670-272962c7-1bc2-4c97-bb3c-3e3314ab29e5.png)

Closing the issue.

[2022-09-13 13:45] #194 closed

[2022-09-14 18:15] harshad16 commented on #270
i m taking a look at this,
there seems to be something broken on the solver pipeline
will post detail report shortly.

[2022-09-14 21:48] harshad16 commented on #270
Further investigation shows:

There is total **68k** [package unsolved](https://prometheus-dh-prod-monitoring.cloud.datahub.psi.redhat.com/classic/graph?g0.range_input=12h&g0.expr=thoth_graphdb_total_number_unsolved_python_packages%7Binstance%3D%22metrics-exporter-thoth-infra-stage.apps.ocp4.prod.psi.redhat.com%3A80%22%2Cjob%3D%22Thoth%20Metrics%22%7D&g0.tab=1) already known to the system,
based o

[2022-09-14 22:03] harshad16 commented on #270
still in process of checking if anything is hindering in solver runs itself.

[2022-09-14 22:16] harshad16 commented on #270
Found the bug which was causing hindrance in data update.
solver were able to complete, however graph-sync is failing.
![Screenshot from 2022-09-14 18-16-32](https://user-images.githubusercontent.com/14028058/190272645-7315b906-caaa-409f-96aa-dbc95647198c.png)

opening the issue in the relevant repo for fix.

[2022-09-14 22:29] harshad16 commented on #270
Here is the issue: https://github.com/thoth-station/storages/issues/2703

Step to reach to bug:
1. Log in the cluster where solver is scheduled.
2. Check the `thoth-middletier-<stage|prod>` namespace where solvers are executed.
3. Check the `argo list` or `oc get wf` to check which worklfow are executing
4. Explore the failed ones.

[2022-09-19 13:09] goern commented on #201
sorry for the delay. it look like 1.27.9 seems to fix the error and gives an informative `Running Python version 3.10, but Pipfile.lock requires Python version 3.8`
/close

[2022-09-19 13:09] sesheta commented on #201
@goern: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/support/issues/201#issuecomment-1250998699):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-infr

[2022-09-19 13:09] #201 closed

[2022-09-21 21:20] KPostOffice commented on #261
My guess is that this occurred when @shreekarSS was testing. It looks like a workflow was run in cluster using kebechets actual credentials when the bot was not installed on the repo. @shreekarSS if this is the case this issue can be closed with no further action, if not more investigation will need to be done into the cause.

[2022-09-21 21:20] sesheta commented on #261
@khebhut[bot]: This issue is currently awaiting triage.
One of the @thoth-station/devs will take care of the issue, and will accept the issue by applying the
`triage/accepted` label and provide further guidance.

The `triage/accepted` label can be added by org members by writing `/triage accepted` in a comment.

<details>

Instructions for interacting with me using PR comments are available [here]

[2022-09-21 21:21] sesheta commented on #260
@khebhut[bot]: This issue is currently awaiting triage.
One of the @thoth-station/devs will take care of the issue, and will accept the issue by applying the
`triage/accepted` label and provide further guidance.

The `triage/accepted` label can be added by org members by writing `/triage accepted` in a comment.

<details>

Instructions for interacting with me using PR comments are available [here]

[2022-09-21 21:22] #260 closed

[2022-09-27 09:29] codificat commented on #273
/wg cnbi

[2022-09-28 11:43] goern commented on #273
@shreekarSS any update on this?

[2022-09-28 19:01] shreekarSS commented on #273
Added  dependencies using management api: https://management.stage.thoth-station.ninja/api/v1/ui/#/Python%20Solver/post_solve_python
 pdf2image:   "analysis_id": [
	"solver-rhel-8-py38-220928135934-c661b5d3e9d1d1df",
	"solver-fedora-34-py39-220928135934-e57ff92974ba9536",
	"solver-fedora-35-py310-220928135934-5e4a6699ba9cc223"
  ],

tabula-py:
  "analysis_id": [
	"solver-rhel-8-py38-220928140108-1

[2022-09-29 16:10] shreekarSS commented on #270
Added missing dependencies using management api: https://management.stage.thoth-station.ninja/api/v1/ui/#/Python%20Solver/post_solve_python

  "analysis_id": [
	"solver-rhel-8-py38-220929160717-79968ff899dbab76",
	"solver-fedora-34-py39-220929160717-c1ab2ea6e327e1e5",
	"solver-fedora-35-py310-220929160717-104979b14c477b11"
  ],

[2022-10-03 21:15] shreekarSS commented on #270
Packages have been added, closing the issue.
https://stage.thoth-station.ninja/api/v1/python/package?page=0&per_page=25&os_name=ubi&os_version=8&python_version=3.8&like=thoth-solver

[2022-10-05 12:56] codificat commented on #273
Status check: 3 of the 5 packages are reported by the stage API:

[code]

Still waiting for the other 2 (mmdet and farm)

[2022-10-07 16:40] codificat commented on #252
Similar issue closed in the past as non-reproducible: #164

[2022-10-10 22:24] KPostOffice commented on #252
I think this might actually be fixed by https://github.com/thoth-station/kebechet/commit/b405c224bea8763c94699c180ecf66b2aac18791

[2022-10-10 22:25] KPostOffice commented on #252
Marking as not reproducible. If someone wants to take the time to try to reproduce this error feel free, but I believe the linked commit from Shree fixes it by making sure the overlay dir is prepended to the Pipfile.lock to be commited.

[2022-10-11 07:17] codificat commented on #252
ok!

/triage duplicate
/close

[2022-10-11 07:17] #252 closed

[2022-10-11 07:17] sesheta commented on #252
@codificat: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/support/issues/252#issuecomment-1274198380):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-

[2022-10-17 09:01] goern commented on #198
Hmm, I think so.

@harshad16 wdyt?
/assign @harshad16

[2022-10-17 14:14] harshad16 commented on #198
yes we can close this.
closing.

[2022-10-17 14:14] #198 closed

[2022-10-28 21:10] oindrillac opened #274 "Upgrade Glibc version on container image"
Hi Thoth team,

I am using the [ocp-ci-analysis image](https://github.com/oindrillac/ttmtool/blob/0d8a56fe863a186d75d1f3a1a2630e56ebafb79a/.github/workflows/run-in-container.yaml#L18) created by sesheta in [this github action workflow ](https://github.com/oindrillac/ttmtool/blob/main/.github/workflows/run-in-container.yaml) and I am seeing an issue with a package Glibc.

<img width="1295" alt="Scr

[2022-10-31 16:31] sesheta commented on #274
@oindrillac: There are no sig labels on this issue. Please add an appropriate label by using one of the following commands:
- `/sig <group-name>`
- `/wg <group-name>`

Please see the [group list](https://github.com/thoth-station/core/blob/master/community/sig-list.md) for a listing of the SIGs, and working groups available.

<details>

Instructions for interacting with me using PR comments are ava

[2022-10-31 16:44] harshad16 commented on #274
While taking a close look it
seems the ocp-ci-analysis image is built on top of ubi8-py38 which has glibc 2.28

however in the GitHub workflow, it seems newer python version is being installed
https://github.com/oindrillac/ttmtool/blob/0d8a56fe863a186d75d1f3a1a2630e56ebafb79a/.github/workflows/run-in-container.yaml#L54
which is python 3.9

during execution it is looking for the glibc newer version

[2022-10-31 17:10] goern commented on #274
This feels like an update to python in a not recommended way, right?!

Alternative A proposed by Harshad seems to be the right path fwd.

[2022-10-31 17:26] harshad16 commented on #274
/triage accepted
/sig devsecops

[2022-11-01 14:03] #274 closed

[2022-11-02 12:33] goern commented on #272
it seems that there are still packages missing, see https://thoth-station.ninja/search/advise/adviser-221102123155-71ac0150dbc73ab0/stack-info

@shreekarSS any update?

[2022-11-02 13:46] shreekarSS commented on #272
Added dependencies using management api: https://management.stage.thoth-station.ninja/api/v1/ui/#/Python%20Solver/post_solve_python
{
  "analysis_id": [
    "solver-rhel-8-py38-221102134441-215df99754439aca",
    "solver-fedora-34-py39-221102134441-d26d05f2fdcc256b",
    "solver-fedora-35-py310-221102134441-b2d754ec9339e178"
  ],
  "cached": false,
  "parameters": {
    "debug": false,
    "depend

[2022-11-07 14:39] codificat commented on #237
/assign
to verify if this is still valid

[2022-11-10 19:51] codificat commented on #237
On the other hand, the adviser tests do expect this duplicity of sources in adviser results.

See e.g. https://github.com/thoth-station/adviser/blob/d99aa759848fac09642f9077e3f4b2bad14475db/tests/test_product.py#L492-L503

[2022-11-14 10:24] codificat commented on #237
Well... I still don't quite get the intentionality behind this. Package indexes do not seem to have a name in their [API schema](https://khemenu.thoth-station.ninja/api/v1/ui/#/PythonPackages/list_python_package_indexes), just their URL, which is duplicated here.

It might not be a problem, though, so feel free to close.

I still think it is unexpected/unclear to users, and I'm still curious as to

[2022-11-16 17:17] tumido commented on #122
/close

Resolved. As tested by https://github.com/operate-first/apps/pull/2611 `trusted_apps` work

[2022-11-16 17:17] #122 closed

[2022-11-16 17:17] sesheta commented on #122
@tumido: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/support/issues/122#issuecomment-1317376116):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-inf

[2022-11-30 10:40] goern opened #275 "Fedora 35 running 3.10: sanitize-filename"
### Package name

sanitize-filename

### Python package index URL

_No response_

### Reason

this is for a base django app

[2022-11-30 10:41] sesheta commented on #275
@goern: This issue is currently awaiting triage.
One of the @thoth-station/devs will take care of the issue, and will accept the issue by applying the
`triage/accepted` label and provide further guidance.

The `triage/accepted` label can be added by org members by writing `/triage accepted` in a comment.

<details>

Instructions for interacting with me using PR comments are available [here](https:

[2022-11-30 10:41] goern opened #276 "django-admin-relation-links"
### Package name

django-admin-relation-links

### Python package index URL

_No response_

### Reason

this is for a base django app

[2022-11-30 10:41] sesheta commented on #276
@goern: This issue is currently awaiting triage.
One of the @thoth-station/devs will take care of the issue, and will accept the issue by applying the
`triage/accepted` label and provide further guidance.

The `triage/accepted` label can be added by org members by writing `/triage accepted` in a comment.

<details>

Instructions for interacting with me using PR comments are available [here](https:

[2022-11-30 10:41] sesheta commented on #276
@goern: There are no sig labels on this issue. Please add an appropriate label by using one of the following commands:
- `/sig <group-name>`
- `/wg <group-name>`

Please see the [group list](https://github.com/thoth-station/core/blob/master/community/sig-list.md) for a listing of the SIGs, and working groups available.

<details>

Instructions for interacting with me using PR comments are availabl

[2022-11-30 10:41] goern opened #277 "django-plotly-dash"
### Package name

django-plotly-dash

### Python package index URL

_No response_

### Reason

this is for a base django app

[2022-11-30 10:41] sesheta commented on #277
@goern: This issue is currently awaiting triage.
One of the @thoth-station/devs will take care of the issue, and will accept the issue by applying the
`triage/accepted` label and provide further guidance.

The `triage/accepted` label can be added by org members by writing `/triage accepted` in a comment.

<details>

Instructions for interacting with me using PR comments are available [here](https:

[2022-11-30 10:41] sesheta commented on #277
@goern: There are no sig labels on this issue. Please add an appropriate label by using one of the following commands:
- `/sig <group-name>`
- `/wg <group-name>`

Please see the [group list](https://github.com/thoth-station/core/blob/master/community/sig-list.md) for a listing of the SIGs, and working groups available.

<details>

Instructions for interacting with me using PR comments are availabl

[2022-11-30 10:41] goern opened #278 "django-bootstrap4"
### Package name

django-bootstrap4

### Python package index URL

_No response_

### Reason

this is for a base django app

[2022-11-30 10:41] sesheta commented on #278
@goern: This issue is currently awaiting triage.
One of the @thoth-station/devs will take care of the issue, and will accept the issue by applying the
`triage/accepted` label and provide further guidance.

The `triage/accepted` label can be added by org members by writing `/triage accepted` in a comment.

<details>

Instructions for interacting with me using PR comments are available [here](https:

[2022-11-30 10:41] sesheta commented on #278
@goern: There are no sig labels on this issue. Please add an appropriate label by using one of the following commands:
- `/sig <group-name>`
- `/wg <group-name>`

Please see the [group list](https://github.com/thoth-station/core/blob/master/community/sig-list.md) for a listing of the SIGs, and working groups available.

<details>

Instructions for interacting with me using PR comments are availabl

[2022-11-30 10:41] goern opened #279 "dpd-static-support"
### Package name

dpd-static-support

### Python package index URL

_No response_

### Reason

this is for a base django app

[2022-11-30 10:41] sesheta commented on #279
@goern: This issue is currently awaiting triage.
One of the @thoth-station/devs will take care of the issue, and will accept the issue by applying the
`triage/accepted` label and provide further guidance.

The `triage/accepted` label can be added by org members by writing `/triage accepted` in a comment.

<details>

Instructions for interacting with me using PR comments are available [here](https:

[2022-11-30 10:41] sesheta commented on #279
@goern: There are no sig labels on this issue. Please add an appropriate label by using one of the following commands:
- `/sig <group-name>`
- `/wg <group-name>`

Please see the [group list](https://github.com/thoth-station/core/blob/master/community/sig-list.md) for a listing of the SIGs, and working groups available.

<details>

Instructions for interacting with me using PR comments are availabl

[2022-11-30 10:41] goern opened #280 "django-dirtyfields"
### Package name

django-dirtyfields

### Python package index URL

_No response_

### Reason

this is for a base django app

[2022-11-30 10:41] sesheta commented on #280
@goern: This issue is currently awaiting triage.
One of the @thoth-station/devs will take care of the issue, and will accept the issue by applying the
`triage/accepted` label and provide further guidance.

The `triage/accepted` label can be added by org members by writing `/triage accepted` in a comment.

<details>

Instructions for interacting with me using PR comments are available [here](https:

[2022-11-30 10:41] sesheta commented on #280
@goern: There are no sig labels on this issue. Please add an appropriate label by using one of the following commands:
- `/sig <group-name>`
- `/wg <group-name>`

Please see the [group list](https://github.com/thoth-station/core/blob/master/community/sig-list.md) for a listing of the SIGs, and working groups available.

<details>

Instructions for interacting with me using PR comments are availabl

[2022-11-30 10:45] goern commented on #261
any updates on this?

[2022-11-30 10:45] goern commented on #249
any updates on this?

[2022-11-30 10:45] goern commented on #246
any updates on this?

[2022-11-30 10:45] goern commented on #237
any updates on this?